{% extends ':Default:baseParent.html.twig' %}

{% block title %}
    Galaxy Jam Website
{% endblock %}

{% block eventLink %}
    <div><a href="http://www.galaxygamejam.com/" target="_blank">Galaxy Game Jam Event</a></div>
{% endblock %}
