{# Follower #}
<div id="follower-section" class="tab-pane fade" role="tabpanel" aria-labelledby="follower-tab">
  <div id="no-followers" class="text-center mb-5 d-none">
    {{ 'follower.noOtherFollowers'|trans({}, 'catroweb') }}
  </div>

  <div id="follower-cards" class="row mb-5">
    <div class="text-center py-3 follower-loading js-skeleton">
      {{ include('Components/LoadingSpinner.html.twig', [], false) }}
    </div>
  </div>
</div>

{# Following #}
<div id="following-section" class="tab-pane fade" role="tabpanel" aria-labelledby="follows-tab">
  <div id="no-following" class="text-center mb-5 d-none">
    {{ 'follower.noOtherFollowing'|trans({}, 'catroweb') }}
  </div>

  <div id="following-cards" class="row mb-5">
    <div class="text-center py-3 following-loading js-skeleton">
      {{ include('Components/LoadingSpinner.html.twig', [], false) }}
    </div>
  </div>
</div>
