@import "elements.less";

@default-font-size: 13px;
@default-background-color: #05222a;
@default-input-background-color: #96CED6;
@default-input-padding: 9px 7px;
@default-text-color: #17a5b8;
@default-sprite-url: url('/bundles/catrobatweb/images/symbols/sprite_icons_web.png');

//TODO: vorerst diese werte, MÜSSEN GEÄNDERT WERDEN!!!!
@footer-height-desktop: 142px;
@footer-height-bottom: 35px;
@footer-height-mobile: 196px;

.default-input() {
  border: 0;
  background-color: @default-input-background-color;
  color: @default-background-color;
  padding: @default-input-padding;
}