footer {
    height: 157px;
    margin-top: -157px !important; /* footer height */
    background-color: #177f8d;
    color: #FFF;
}

#largeFooterMenu {
    width: 100%;
    display: table;
    padding: 5px 0px;
}

#largeFooterMenu #leftFooterMenu {
    width: 50%;
    display: table-cell;
    padding-left: 35px;
}

#largeFooterMenu #rightFooterMenu {
    width: 50%;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    padding-right: 35px;
    padding-bottom: 23px;
}

 #footerSearchButton {
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    margin-right: 7px;
}

#footerSearchField {
    display: inline-block;
    text-align: left;
}

#footerSearchField h2 {
    padding: 5px;
}

#footerSearchField input {
    width: 233px;
    border: 0;
    background-color: #96CED6;
    color: #05222a;
    padding: 9px 7px;
}

#largeFooterMenu ul {
    list-style: none;
    padding: 0px 58px 0px 0px;
    float: left;
}

#largeFooterMenu li {
    padding: 6px;
}

footer a {
    color: #FFF;
    text-decoration: none;
}

#footerBottomMenu {
    width: 100%;
    padding: 0px 36px;
    border-top: 1px solid #385f6e;
    display: table;
}

#footerBottomMenu div {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    padding: 5px 7px;
}

#footerCopyright {
    text-align: right;
}

#footerBottomMenu select {
    border: 0;
    background-color: #96CED6;
    color: #05222a;
    padding: 5px 7px;
}

#mobileFooterMenu {
    display: none;
    width: 100%;
    height: 191px;
    padding: 5px 0px;
    text-align: center;
}

#footerMoreLess {
    cursor: pointer;
    display: none;
}

#footerMoreButton span, #footerLessButton span {
    display: none;
}

#footerMoreButton > span, #footerLessButton > span {
    margin-right: 3px;
}

#footerLessButton {
    display: none;
}

@media screen and (max-width: 768px) {
    footer {
        height: 39px;
        margin-top: -39px !important; /* footer height */
    }

    #footerBottomMenu div {
        width: 33%;
    }

    #footerCopyright {
        text-align: center;
    }

    #footerMoreLess {
        display: table-cell;
        text-align: right;
    }

    #footerMoreButton span, #footerLessButton span {
        display: inline-block;
    }

    footer #largeFooterMenu {
        display: none;
    }

    footer #mobileFooterMenu ul {
        list-style: none;
        padding: 0px;
    }

    footer #mobileFooterMenu li {
        padding: 6px;
    }


    footer.expandFooter {
        height: 230px;
        margin-top: -230px !important;
    }

    .expandFooter #mobileFooterMenu{
        display: block;
    }

    .expandFooter #footerMoreButton{
        display: none;
    }

    .expandFooter #footerLessButton{
        display: inline-block;
    }
}