@import 'default.less';

.img-less {
  width: 10px;
  height: 10px;
  background-image: @default-sprite-url;
  background-position: -117px -72px;
  background-repeat: no-repeat;
}

.img-magnifying-glass {
  width: 31px;
  height: 31px;
  background-image: @default-sprite-url;
  background-position: -131px -31px;
  background-repeat: no-repeat;
}

.img-more {
  width: 10px;
  height: 10px;
  background-image: @default-sprite-url;
  background-position: -117px -61px;
  background-repeat: no-repeat;
}
