@font-face {
    font-family: 'Roboto';
    src: url('/bundles/catroweb/css/base/Roboto/Roboto-Regular-webfont.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'),
    url('/bundles/catrobatweb/css/base/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/bundles/catrobatweb/css/base/Roboto/Roboto-Regular-webfont.woff') format('woff'),
    url('/bundles/catrobatweb/css/base/Roboto/Roboto-Regular-webfont.ttf') format('truetype'),
    url('/bundles/catrobatweb/css/base/Roboto/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/bundles/catrobatweb/css/base/Roboto/Roboto-Italic-webfont.eot');
    src: local('Roboto Italic'), local('Roboto-Italic'),
    url('/bundles/catrobatweb/css/base/Roboto/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/bundles/catrobatweb/css/base/Roboto/Roboto-Italic-webfont.woff') format('woff'),
    url('/bundles/catrobatweb/css/base/Roboto/Roboto-Italic-webfont.ttf') format('truetype'),
    url('/bundles/catrobatweb/css/base/Roboto/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/bundles/catrobatweb/css/base/Roboto/Roboto-Bold-webfont.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('/bundles/catrobatweb/css/base/Roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/bundles/catrobatweb/css/base/Roboto/Roboto-Bold-webfont.woff') format('woff'),
    url('/bundles/catrobatweb/css/base/Roboto/Roboto-Bold-webfont.ttf') format('truetype'),
    url('/bundles/catrobatweb/css/base/Roboto/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html,
button,
input,
select,
textarea,
a {
    color: #17a5b8;
}

::-webkit-input-placeholder {
    color: #05222a !important;
}

:-moz-placeholder {
    color: #05222a !important;
}

::-moz-placeholder {
    color: #05222a !important;
}

:ms-input-placeholder {
    color: #05222a !important;
}

html {
    height: 100%;
    font-size: 12px;
}

body {
    background-color: #05222a;
    font-family: 'Roboto', Arial, sans-serif;
    height: 100%;
}

img {
    page-break-inside: avoid;
    max-width: 100% !important;
    vertical-align: middle;
}

h1,
h2,
h3 {
    page-break-after: avoid;
    text-transform: uppercase;
    margin: 0px;
}

h1 {
    font-size: 21px;
    padding: 1px 1px;
    border-bottom: 1px solid #17a5b8;
}

h2 {
    font-size: 16px;
}

#wrapper, footer {
    margin: 0 auto;
    width: 100%; /* 1024px; */
    max-width: 1024px;
    min-width: 320px;
}

#wrapper {
  min-height: 100%;
  padding-bottom: 157px; /* footer height */
}

.size-small {
    font-size: 8px;
}

.size-medium {
  font-size: 12px;
}

.size-large {
    font-size: 16px;
}

.programs {

}

.clear {
    clear: both;
}

@media screen and (max-width: 768px) {
   #wrapper {
       padding-bottom: 230px;
   }
}