@font-face {
    font-family: 'Roboto';
    src: url('/bundles/catroweb/css/Roboto/Roboto-Regular-webfont.eot');
    src: local('Roboto Regular'), local('Roboto-Regular'),
    url('/bundles/catroweb/css/Roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/bundles/catroweb/css/Roboto/Roboto-Regular-webfont.woff') format('woff'),
    url('/bundles/catroweb/css/Roboto/Roboto-Regular-webfont.ttf') format('truetype'),
    url('/bundles/catroweb/css/Roboto/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/bundles/catroweb/css/Roboto/Roboto-Italic-webfont.eot');
    src: local('Roboto Italic'), local('Roboto-Italic'),
    url('/bundles/catroweb/css/Roboto/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/bundles/catroweb/css/Roboto/Roboto-Italic-webfont.woff') format('woff'),
    url('/bundles/catroweb/css/Roboto/Roboto-Italic-webfont.ttf') format('truetype'),
    url('/bundles/catroweb/css/Roboto/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/bundles/catroweb/css/Roboto/Roboto-Bold-webfont.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('/bundles/catroweb/css/Roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/bundles/catroweb/css/Roboto/Roboto-Bold-webfont.woff') format('woff'),
    url('/bundles/catroweb/css/Roboto/Roboto-Bold-webfont.ttf') format('truetype'),
    url('/bundles/catroweb/css/Roboto/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html,
button,
input,
select,
textarea,
a {
    color: #17a5b8;
}

::-webkit-input-placeholder {
    color: #05222a !important;
}

:-moz-placeholder {
    color: #05222a !important;
}

::-moz-placeholder {
    color: #05222a !important;
}

:ms-input-placeholder {
    color: #05222a !important;
}

html {
    height: 100%;
    font-size: 1.0em;
}

body {
    background-color: #05222a;
    font-family: 'Roboto', Arial, sans-serif;
    height: 100%;
}

img {
    page-break-inside: avoid;
    max-width: 100% !important;
    vertical-align: middle;
}

h1,
h2,
h3 {
    page-break-after: avoid;
    text-transform: uppercase;
    margin: 0px;
}

h1 {
    font-size: 1.8em;
    padding: 0.07em 0.375em;
    border-bottom: 1px solid #17a5b8;
}

h2 {
    font-size: 1.4em;
}


main {
    margin-right: auto;
    margin-left: auto;
    width: 100%; /* 1024px; */
    max-width: 1024px;
    min-height: 100%;
    min-width: 320px;
    margin-bottom: -10em;
}

.programs {

}

.clear {
    clear: both;
}