// material.io components: https://material.io/develop/web/components
@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/form-field";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/snackbar/mdc-snackbar";
@use "@material/circular-progress/mdc-circular-progress";

@import "elements"; // A set of useful LESS mixins (More info at: http://lesselements.com)
@import "mixins";   // Our own defined Mixins

//
//  Here we define all colors and variables with their base values
//  If you have to overwrite values for base or custom scss files consider using variables and store
//  them in the _variables.scss file! And when creating new scss use variables and put them in this file!
//
@import "variables";

//
// In the theme settings file you can overwrite basic theme variables:
// You can find each theme settings file under /themes/<theme_name>
// Themes are handled by the lip bundle
//
// Must be imported before bootstrap so that bootstrap classes can use our ($primary/$...) variables.
//
@import "theme_settings";


// BS4 - GruntFile is including the node_modules
@import "bootstrap/scss/bootstrap";

// material.io components - includes
@include icon-button.core-styles ();

// ToDo - We are switching to Material:
// Font Awesome - GruntFile handles coping the files from vendor to the defined public directory
$fa-font-path: "../../webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";


// Customizing Material.io:
:root {
  // https://material.io/develop/web/docs/theming/
  --mdc-theme-primary: #{$primary};
  --mdc-theme-secondary: #{$secondary};
  --mdc-theme--background: #{$default-background-color};
}

// Custom Styles

// legacy - ToDo
@import "catro_bootstrap";
@import "brain";
@import "icons";
@import "buttons";

// new design
@import "typography";
@import "header";
@import "sidebar";
@import "footer";
@import "catro_tabs";
@import "bootstrap_overwrite";
@import "progress_bar";
