@import "variables";
@import "mixins";
@import 'theme_settings';

$margin-adjustment: -5px;

.footer {
  background-color: $footer-background-color;
  color: $footer-color;
  height: $footer-size;
  padding: $footer-padding 0;

  a {
    color: $footer-color;
  }

  @media screen and (max-width: $responsive-width-content) {
    height: $footer-size-sm;
  }

  @media screen and (max-width: $responsive-width-xs) {
    height: $footer-size-xs;
  }

  & .content {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        color: inherit;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;

        position: relative;
        padding: $footer-padding;
        display: block;

        border-radius: 3px;

        &:hover {
          text-decoration: none;
        }
      }

      .btn {
        margin: 0;
      }
    }

    &.list-horizontal {
      &:first-child a {
        padding-left: 0;
      }

      &:last-child a {
        padding-right: 0;
      }
    }

    &.list-vertical {
      li {
        margin-left: $margin-adjustment;
        margin-right: $margin-adjustment;
        display: block;
        hyphens: auto;

        a {
          padding: 5px;
        }
      }
    }
  }

  .pull-center {
    display: inline-block;
    float: none;
  }

  h4 {
    font-weight: 500;
    color: $footer-color;
    @include force-word-break();
  }
}

// to keep footer at bottom
#wrapper {
  min-height: 100vh;
  padding-bottom: $footer-size;
  margin-bottom: -($footer-size);

  @media screen and (max-width: $responsive-width-content) {
    padding-bottom: $footer-size-sm;
    margin-bottom: -$footer-size-sm;
  }

  @media screen and (max-width: $responsive-width-xs) {
    padding-bottom: $footer-size-xs;
    margin-bottom: -$footer-size-xs;
  }
}

.footer-left {
  float: left;

  @media screen and (max-width: $responsive-width-xs) {
    float: none;
  }
}

.footer-right {
  float: right;

  @media screen and (max-width: $responsive-width-xs) {
    margin-top: 1em;
    float: none;
  }
}