@import "variables";
@import 'theme_settings';

$nav-font-size: $default-font-size + 0.25;
$searchbar-font-size: $default-font-size + 0.125;
$logo-width: 300px;

#header-logo {
  padding-top: 25px;
  width: 100%;
  text-align: center;
}

header {
  z-index: 9001;
  padding: 10px 0 25px 0 ;

  nav {
    #header-left, #header-right{
      display: table-cell;
      vertical-align: middle;
      width: 100%;
    }

    #header-top {
      width: 100%;
      height: 20px;
      overflow: hidden;
      margin-bottom: 10px;

      > div {
        float: right;
        margin-left: 15px;
        font-weight: bold;

        a {
          text-decoration: none;
        }
      }

      #social-like {
        margin-left: 15px;
      }
    }

    #btn-sidebar-toggle {
      border: none;
      outline: none;
      margin-right: .5rem;
    }

    .img-undo-search {
      display: none;
    }

    .btn-username {
      font-size: $nav-font-size;
      color: #fff;
      padding: 0 !important;
      white-space: nowrap;
      max-width: 85px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #custom-avatar {
      border: 2px solid #FFF;
      border-radius: 2px;
      padding: 0 !important;

      > div {
        background-size:cover !important;
        background-position:center;
        outline: 1px solid #FFF;
        width: $avatar-img-size + 14;
        height: $avatar-img-size + 14;

        > .img-dropdownArrow-mobile {
          position: relative;
          left: 31px;
          top: 31px;
        }
      }
    }
  }
}
