@import "variables";
@import "theme_settings";

// ---- Default Header

.mdc-top-app-bar {
  z-index: 5000;

  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}


// ---- SEARCH Header

#top-app-bar__search-form {
  position: relative;
  width: 100%;
  height: 100%;

  // Show placeholder text only when query is empty
  input[required]:invalid + label[placeholder][alt]::before {
    content: attr(alt);
  }

  input {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: $primary;
    border: none;
  }

  input[type="search"]::-webkit-search-cancel-button {
    // provide same experience on all browsers
    display: none;
  }

  label {
    position: absolute;
    top: 50%;
    display: block;
    color: #fff;
    pointer-events: none;
    transform: translateY(-50%);
  }
}

// ---- Options

#top-app-bar__options-container {
  top: 0;
  right: 0;
  display: none;
  color: #000;
  border-radius: 0;

  ul {
    display: block;
    margin-block-end: 0;
  }

  .top-app-bar__btn-options {
    display: block;
    padding: 0.5em 1em;
    text-align: left;
  }

  .top-app-bar__btn-options-text {
    display: inline-flex;
    vertical-align: top;
  }
}
