@import "variables";
@import "theme_settings";

.catro-icon-button
{
  color: $primary;
  cursor: pointer;
  &:hover
  {
    color: darken($primary, 10);
  }
}

.load-ajax-icon
{
  display: none;
  margin: 15px auto;
}

.program-small-icon
{
  padding-top: 0.6em;
  margin-top: -0.6em;
  margin-right: 0.3em;
  font-size: 1.2em;
}

.program-round-icon-container
{
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  background-color: $primary;
  border-radius: 50%;
}

.program-round-icon
{
  margin-top: 0.5em;
  font-size: 1.2em;
  color: $primary;
}

.like-round-icon-container
{
  display: inline-block;
  width: 3em;
  height: 3em;
  text-align: center;
  background-color: $primary;
  border-radius: 50%;
}

.like-round-icon
{
  margin-top: 0.37em;
  font-size: 1.7em;
  color: $white;
}

.like-round-icon-heart
{
  margin-top: 0.45em;
  font-size: 1.7em;
  color: $white;
}

.like-icon
{
  margin-top: -0.25em;
  font-size: 3.2em;
  vertical-align: middle;
}

#help-button {
  cursor: pointer;
}

.text-icon-aligned {
  display: flex;
  align-items: center;
}

.trailing-icon {
  margin-left: auto;
}
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-28 { font-size: 28px; }
.material-icons.md-26 { font-size: 26px; }
.material-icons.md-18 { font-size: 18px; }

.material-icons.md-24 { font-size: 24px; }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
