@import "variables";
@import 'theme_settings';

.catro-icon-button
{
  color: $primary;
  cursor: pointer;
  &:hover
  {
    color: darken($primary, 10);
  }
}

.load-ajax-icon
{
  display: none;
  margin: 15px auto;
}

.program-small-icon
{
  font-size: 1.2em;
  margin-right: 0.3em;
  margin-top: -0.6em;
  padding-top: 0.6em;
}

.program-round-icon-container
{
  background-color: $primary;
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  position: absolute;
}

.program-round-icon
{
  margin-top: 0.5em;
  color: $white;
  font-size: 1.2em;
}

.remix-close-icon
{
  font-size: 3em;
}

.program-big-button-icon
{
  font-size: 2.8em !important;
  vertical-align: middle;
}

.like-round-icon-container
{
  background-color: $primary;
  text-align: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: inline-block;
}

.like-round-icon
{
  margin-top: 0.37em;
  color: $white;
  font-size: 1.7em;
}

.like-round-icon-heart
{
  margin-top: 0.45em;
  color: $white;
  font-size: 1.7em;
}

.like-icon
{
  font-size: 3.2em;
  vertical-align: middle;
  margin-top: -0.25em;
}