@import 'mixins';

$sidebar-width: 250px;

#sidebar {
  width: $sidebar-width;
  height: 100vh;
  position: fixed;
  background: #fff;
  top: 0;
  left: ($sidebar-width * -1) - 50px;
  /* top layer */
  z-index: 9999;

  transition: all 0.3s;
  overflow-y: auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

  &.active {
    left: 0;
  }

  .logo {
    display: block;
    width: $sidebar-width - 50px;
    height: $sidebar-width - 100px;
    max-height: 20vh;
    margin: 15px auto;
    background: no-repeat center center;
    background-size: contain;
  }

  li {
    a {
      display: block;
      text-decoration: none;
      color: #222;
      font-size: 1.2rem;

      padding-top: 1rem;
      padding-bottom: 1rem;

      &.nav-link {
        cursor: pointer;
      }

      &:hover {
        text-decoration: none;
        background: rgba(0, 0, 0, 0.2);
      }

      &:active, &:focus {
        text-decoration: none;
      }

      .link-icon {
        margin-right: 0.25rem;
        display: inline-block;
        width: 1.3rem;
        text-align: center;
      }
    }
  }

  #notifications-dropdown-toggler {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-items: flex-start;

    .text {
      @include force-word-break();
      flex-grow: 1;
      padding-left: 0.3rem;
    }

    #notifications-dropdown-arrow, .badge-pill {
      margin-left: 0.25rem;
    }

    #notifications-dropdown-arrow {
      width: 0.9rem;
      text-align: center;
    }

    .badge-pill {
      display: none;
    }
  }

  #notifications-dropdown-content {
    overflow: hidden;
    transition: height 0.4s ease-out;

    &:not(.shown) {
      height: 0;
    }

    > .nav-link {
      padding-left: 1.7rem;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-items: flex-start;

      .fa, .fas, .far, .fab, .fad {
        font-size: 1.1rem;
      }

      .text {
        @include force-word-break();
        flex-grow: 1;
        max-width: calc(100% - 3rem);
      }

      .badge-pill {
        margin-left: 0.25rem;
        display: none;
        font-size: 1rem;
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &:not(.inactive) {
      left: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  body.new-nav .container {
    padding-left: 15px + $sidebar-width;
  }

  body.new-nav.modal-open .modal {
    border-left: $sidebar-width solid transparent;
  }
}

#sidebar-overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 9998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}

#sidebar.active + #sidebar-overlay {
  display: block;
  opacity: 1;
}

