$sidebar-width: 250px;

#sidebar
{
  width: $sidebar-width;
  height: 100vh;
  position: fixed;
  background: white;
  top: 0;
  left: ($sidebar-width * -1) - 50px;
  /* top layer */
  z-index: 9999;

  transition: all 0.3s;
  overflow-y: auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

  &.active
  {
    left: 0;
  }

  .logo {
    display: block;
    width: $sidebar-width - 50px;
    height: $sidebar-width - 100px;
    max-height: 20vh;
    margin: 15px auto;
    background: no-repeat center center;
    background-size: contain;
  }

  li
  {
    a
    {
      display: block;
      text-decoration: none;
      color: #222;
      font-size: 1.2rem;

      padding-top: 1rem;
      padding-bottom: 1rem;

      &:hover
      {
        text-decoration: none;
        background: rgba(0, 0, 0, 0.2);
      }

      &:active, &:focus
      {
        text-decoration: none;
      }

    }
  }

  @include media-breakpoint-up(md) {
    &:not(.inactive)
    {
      left: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  body.new-nav .container {
    padding-left: 15px + $sidebar-width;
  }
}

#sidebar-overlay
{
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 9998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}

#sidebar.active + #sidebar-overlay
{
  display: block;
  opacity: 1;
}