@import "variables";
@import 'theme_settings';
@import "mixins";

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: local('Roboto Regular'), local('Roboto-Regular'), url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic-webfont.eot');
  src: local('Roboto Italic'), local('Roboto-Italic'), url('../fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Italic-webfont.woff') format('woff'), url('../fonts/Roboto-Italic-webfont.ttf') format('truetype'), url('../fonts/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold-webfont.woff') format('woff'), url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('../fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.body {
  font-size: $default-font-size;
  letter-spacing: 0.25px;
}

a, textarea {
  color: $default-text-color;
}

i {
  vertical-align: middle
}

h1, .h1 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: -1.5px;
}

h2, .h2 {
  font-size: 1.375rem;
  font-weight: normal;
  letter-spacing: -0.5px;
}

h3, .h3 {
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 0;
}

h4, .h4 {
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: .15px;
}

h5, .h5 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .25px;
  margin: 0;
}

h6, .h6 {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: .15px;
  margin: 0;
}

.subtitle-1 {
  font-size: .9rem;
  letter-spacing: .15px;
}

.subtitle-2 {
  font-size: .85rem;
  font-weight: 500;
  letter-spacing: .1px;
}

.caption {
  font-size: .75rem;
  letter-spacing: 0.4px;
}

.text-dark {
  color: #212121;
}

.text-medium {
  color: #616161 !important;
}

.text-light {
  color: #737373 !important;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.force-word-break {
  @include force-word-break();
}
