@import "variables";
@import "theme_settings";
@import "mixins";

// -- Material Icons: https://google.github.io/material-design-icons/

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src:
 local("Material Icons"), local("MaterialIcons-Regular"), url("../fonts/MaterialIcons-Regular.woff2") format("woff2"), url("../fonts/MaterialIcons-Regular.woff") format("woff"), url("../fonts/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  display: inline-block;
  font-family: "Material Icons";
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: "liga";

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

// --

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src:
 local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#RobotoRegular") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Roboto-Italic-webfont.eot");
  src:
 local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Italic-webfont.woff") format("woff"), url("../fonts/Roboto-Italic-webfont.ttf") format("truetype"), url("../fonts/Roboto-Italic-webfont.svg#RobotoItalic") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src:
 local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg#RobotoBold") format("svg");
  font-display: swap;
}

.body {
  font-size: $default-font-size;
  letter-spacing: 0.25px;
}

a,
textarea {
  color: $default-text-color;
}

i {
  vertical-align: middle;
}

h1,
.h1 {
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: -1.5px;
}

h2,
.h2 {
  font-size: 1.375rem;
  font-weight: normal;
  letter-spacing: -0.5px;
}

h3,
.h3 {
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: 0;
}

h4,
.h4 {
  font-size: 1.1rem;
  font-weight: 200;
  letter-spacing: 0.15px;
}

h5,
.h5 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.25px;
}

h6,
.h6 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.15px;
}

.subtitle-1 {
  font-size: 0.9rem;
  letter-spacing: 0.15px;
}

.subtitle-2 {
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.caption {
  font-size: 0.75rem;
  letter-spacing: 0.4px;
}

.text-dark {
  color: #212121;
}

.text-medium {
  color: #616161 !important;
}

.text-light {
  color: #737373 !important;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.force-word-break {
  @include force-word-break();
}

.no-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
