<div id="top-app-bar__search" class="mdc-top-app-bar mdc-top-app-bar__row" style="display: none;">

  <section class="mdc-top-app-bar__section">
    <button id="top-app-bar__btn-search-back"
            class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
            aria-label="Back to top bar">
      arrow_back
    </button>

    <form class="search-form__form mdc-top-app-bar__title"
          id="top-app-bar__search-form">
      <input name="search"
             type="search"
             required=""
             class="search-form__input"
             id="top-app-bar__search-input"
             autocomplete="off">
      <label id="top-app-bar__search-label"
             for="top-app-bar__search-input"
             alt="
{% if package|default and ('/media-library/' in app.request.pathinfo or '/pocket-library/' in app.request.pathinfo) %}
{{ "search.inMediaLib"|trans({}, "catroweb") }}
{% else %}{{ "search.search"|trans({}, "catroweb") }}
{% endif %}"
             placeholder="
{% if package|default and ('/media-library/' in app.request.pathinfo or '/pocket-library/' in app.request.pathinfo) %}
{{ "search.inMediaLib"|trans({}, "catroweb") }}
{% else %}{{ "search.search"|trans({}, "catroweb") }}
{% endif %}">
      </label>
      <input id="top-app-bar__search-form__submit" type="submit">
    </form>

    <button id="top-app-bar__btn-search-clear"
            class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
            aria-label="Clear Search"
            style="display: none;">
      close
    </button>
  </section>
</div>
