{% if '/user_notifications' in app.request.pathinfo %}

  <ul class="mdc-list list-unstyled"
      role="menu"
      aria-hidden="true">

    <li id="top-app-bar__btn-delete-all-notifications"
        class="btn top-app-bar__btn-options mdc-list-item mdc-ripple-upgraded"
        role="menuitem"
        tabindex="0">
      <span class="material-icons mr-2">delete</span><span class="top-app-bar__btn-options-text">
          {{ "deleteAllNotificationsButtonTitle"|trans({}, "catroweb") }}
        </span>
    </li>

    <li id="top-app-bar__btn-mark-all-notifications"
        class="btn top-app-bar__btn-options mdc-list-item mdc-ripple-upgraded"
        role="menuitem"
        tabindex="0">
      <span class="material-icons mr-2">done</span><span class="top-app-bar__btn-options-text">
          {{ "clearAllNotificationsButtonTitle"|trans({}, "catroweb") }}
        </span>
    </li>

  </ul>

{% endif %}
