{% if '/user/' in app.request.pathinfo and profile|default(false) and profile.id|default(false) %}

  <ul class="mdc-list list-unstyled"
      role="menu"
      aria-hidden="true">

    <li id="top-app-bar__btn-share"
        class="btn top-app-bar-btn-options mdc-list-item mdc-ripple-upgraded"
        role="menuitem"
        tabindex="0"
        data-clipboard-text="{{ url('profile', { id : profile.id }) }}">
      <span class="material-icons me-2">share</span><span id="top-app-bar__btn-share-text" class="top-app-bar-btn-options-text">
         {{ "share.text"|trans({}, "catroweb") }}
        </span>
    </li>

  </ul>

{% endif %}

