{% extends 'CatrobatWebBundle:Default:base.html.twig' %}

{% block body %}

  <div id="error">
    <img src="/bundles/catrobatweb/images/symbols/error.png" alt="An Error Occurred" />
    <p>Ooooops something went wrong.<br>Please try again!</p>
  </div>

{% endblock %}