{% extends ':Default:base.html.twig' %}

{% block body %}

  <div id="error">
    <img src="{{ asset('images/symbols/404-white.png') }}" alt="An Error Occurred" />
    <p>{{ "somethingWentWrong"|trans({}, "catroweb") }} <br> {{ "pleaseTryAgain"|trans({}, "catroweb") }}</p>
  </div>

{% endblock %}