{% extends ':Default:base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/'~theme()~'/help.css') }}" media="screen"/>
{% endblock %}


{% block body %}
    <h1>{{ ("help.stepByStep.title")|trans({}, "catroweb") }}</h1>

    <div class="size-large">
        <p>Here you create your first program, an interactive postcard using this following walkthrough videos. You have to follow the instructions given to you. During the creation of the postcard, the basics of Pocket Code that you need for your future projects are mediated. After this guided videos, all other activities will give you more freedom to create your own personal Pocket Code projects.</p>
    </div>
    <div class="video-container">
        <iframe class="video" src="https://www.youtube.com/embed/WdiymNb7J2A" frameborder="0" allowfullscreen></iframe><br>
        <iframe class="video" src="https://www.youtube.com/embed/6bPZUuKv1s0" frameborder="0" allowfullscreen></iframe><br>
        <iframe class="video" src="https://www.youtube.com/embed/beisA81jJg8" frameborder="0" allowfullscreen></iframe><br>
        <iframe class="video" src="https://www.youtube.com/embed/JZdInTZMuTg" frameborder="0" allowfullscreen></iframe><br>
        <iframe class="video" src="https://www.youtube.com/embed/SBF8zAX2nu8" frameborder="0" allowfullscreen></iframe><br>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('js/custom/Help.js') }}"></script>
{% endblock %}
