@import "../../base/variables";
// Colors

$primary:                               #0B3E97;
$default-background-color:              #edf0ff;

// Nav Logo

$nav-logo-width: 13rem;
$wrapper-padding-top: 6rem;

// Footer
$footer-background-color:              $primary;
$footer-color:                         $white;