{% extends ':Default:base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/'~theme()~'/help.css') }}" media="screen"/>
{% endblock %}


{% block body %}
    {#<h1>{{ ("teachers.login.title")|trans({}, "catroweb") }}</h1>#}
    <h1>Teachers</h1>

    <form method="POST" action="teachersAuth">
        <div id="teachers-login-container" style="text-align:center;line-height: 55px;">
            <div class="size-large">
                {#{{ ("teachers.login.description")|trans({}, "catroweb") }}#}
                Login is required prior to proceeding.
            </div>
            <div>
                <input type="password" style="margin:auto;line-height: 25px;" name="password"/>
                <button class="login-button" style="display: block;margin:auto" onclick="submit">Login</button>
            </div>
        </div>
    </form>

{% endblock %}

{% block js %}
    <script src="{{ asset('js/custom/Help.js') }}"></script>
{% endblock %}
