{% extends ':Default:base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/'~theme()~'/help.css') }}" media="screen"/>
{% endblock %}


{% block body %}
    {#<h1>{{ ("teachers.login.title")|trans({}, "catroweb") }}</h1>#}
    <h1>Teachers</h1>

    <div id="teachers-login-container" style="text-align:center;line-height: 55px;">
        <div class="size-large">
            {#{{ ("teachers.login.description")|trans({}, "catroweb") }}#}
            You may download templates here:
        </div>
        <div>
            <button class="login-button" style="display: block;margin:auto" onclick="window.location.href='teachersDownload.catrobat'">Download Templates</button>
            <a href="teachersDownload.catrobat">DOWNLOAD TEST</a>
        </div>
        <div class="size-large">
            <a href="teachersLogout">Logout from teachers area</a>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('js/custom/Help.js') }}"></script>
{% endblock %}
