{% extends 'Default/baseParent.html.twig' %}

{% block title %}
  Galaxy Jam Website
{% endblock %}

{% block eventLink %}
  <div><a href="http://www.galaxygamejam.com/" target="_blank">Galaxy Game Jam Event</a></div>
{% endblock %}

{% set google_play_url = "https://play.google.com/store/apps/details?id=org.catrobat.catroid" %}
