@import '../Layout/Variables';
@import '../Layout/Mixins';
@import '../catblocks/main.css';

// Bootstrap extending CSS

.card {
  border-radius: 0;
  box-shadow:
    0 2px 1px -2px light-dark(rgb(0 0 0 / 20%), rgb(255 255 255 / 20%)),
    0 2px 2px 0 light-dark(rgb(0 0 0 / 14%), rgb(255 255 255 / 14%)),
    0 1px 4px 0 light-dark(rgb(0 0 0 / 12%), rgb(255 255 255 / 12%)) !important;

  .table td,
  .table th {
    padding: 0.25em;
  }

  tr td:first-child {
    width: 50%;
    padding-left: 10%;
    text-align: left;
  }

  tr:last-child td {
    border-bottom: 1px solid light-dark(#dee2e6, #211d19);
  }

  .card {
    border-right: none;
    border-left: none;
    box-shadow: none;
    border-block-end: none;
  }
}

.card-header {
  font-size: 0.9rem;
  background: none;
  border-bottom: 0;

  .collapsed {
    border-bottom: 2px solid #eee;
  }
}

.card-body {
  padding: 0;

  .card-header {
    padding-left: 2em;
    font-size: 0.8rem;
    font-weight: $font-weight-bold;
  }

  .card-body {
    padding: 0;

    .card-header {
      padding-left: 3em;
      font-size: 0.8rem;
      font-weight: $font-weight-normal;
    }
  }
}

// Effects

.card-header[aria-expanded='true'],
.collapse.show .card-header,
.collapse.show .card-body {
  background: rgb(0 0 0 / 2%);
  transition: 0.5s background ease;
}

.card-header[aria-expanded='true'] {
  font-weight: $font-weight-bold;
}

.rotate-left {
  transition: 0.3s transform ease;
}

[data-toggle='collapse'][aria-expanded='true'] .rotate-left {
  transform: rotate(-90deg);
}

.modal {
  top: 64px; // top app bar
  height: calc(100% - 64px);
}

// Dark Mode overwrites

@include color-mode(dark) {
  .card {
    background-color: var(--theme-background);
  }

  .card-header,
  .card-footer {
    background-color: rgb(255 255 255 / 3%);
    border-bottom: 1px solid rgb(255 255 255 / 12.5%);
  }

  .card-header[aria-expanded='true'],
  .collapse.show .card-header,
  .collapse.show .card-body {
    background: rgb(255 255 255 / 4%) !important;
  }

  .card-header.collapsed {
    border-bottom-color: #111 !important;
  }

  .catro-tabs .nav-link,
  .catro-tabs .nav-link.active {
    color: var(--bs-body-color) !important;
  }
  #code-view-toggler,
  .catblocks-tab-script img {
    filter: invert(1);
  }

  .modal-content {
    background-color: var(--theme-background);
  }

  .close {
    color: #fff;
    text-shadow: 0 1px 0 #000;
  }
}
