@import '../Layout/Variables';
@import '../catblocks/main.css';

// Bootstrap extending CSS

.card {
  border-radius: 0;
  box-shadow:
    0 2px 1px -2px rgb(0 0 0 / 20%),
    0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 4px 0 rgb(0 0 0 / 12%);

  .table td,
  .table th {
    padding: 0.25em;
  }

  tr td:first-child {
    width: 50%;
    padding-left: 10%;
    text-align: left;
  }

  tr:last-child td {
    border-bottom: 1px solid #dee2e6;
  }

  .card {
    border-right: none;
    border-left: none;
    box-shadow: none;
    border-block-end: none;
  }
}

.card-header {
  font-size: 0.9rem;
  background: none;
  border-bottom: 0;

  .collapsed {
    border-bottom: 2px solid #eee;
  }
}

.card-body {
  padding: 0;

  .card-header {
    padding-left: 2em;
    font-size: 0.8rem;
    font-weight: $font-weight-bold;
  }

  .card-body {
    padding: 0;

    .card-header {
      padding-left: 3em;
      font-size: 0.8rem;
      font-weight: $font-weight-normal;
    }
  }
}

// Effects

.card-header[aria-expanded='true'],
.collapse.show .card-header,
.collapse.show .card-body {
  background: rgb(0 0 0 / 2%);
  transition: 0.5s background ease;
}

.card-header[aria-expanded='true'] {
  font-weight: $font-weight-bold;
}

.rotate-left {
  transition: 0.3s transform ease;
}

[data-toggle='collapse'][aria-expanded='true'] .rotate-left {
  transform: rotate(-90deg);
}
