// @deprecated

@import '../Layout/Variables';

#codeview-wrapper {
  width: 100%;

  .scenes-wrapper {
    .scene {
      margin-bottom: 15px;

      .scene-dropbtn {
        position: relative;

        .scene-arrow {
          top: auto;
          right: 16.7%;
          bottom: 10px;
        }

        .scene-heading {
          margin: 0 10px;
          border-bottom: 1px solid $default-text-color;

          span {
            margin-left: 8px;
            font-size: 16px;
            color: $black;
          }
        }
      }

      &:hover {
        cursor: pointer;
      }

      .scene-content {
        display: none;
        margin: 15px 8.5% 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .heading {
    padding: 5px 10px;
    margin-right: 15%;
    margin-bottom: 8px;
    margin-left: 10px;
    font-size: $default-font-size;
    color: $black;
    border-bottom: solid 3px rgb(115 154 166 / 30%);
  }

  .object,
  #background {
    width: 100%;
    margin: 5px 0;
  }

  .arrow {
    position: absolute;
    top: 5%;
    right: 5%;
  }

  .dropbtn {
    position: relative;
    padding: 5px;
    background-color: rgb(23 165 184);
    border-top: solid 2px #739aa6;
    border-bottom: solid 2px $black;
    border-radius: 3px;

    .object-icon {
      position: absolute;
      left: 0;
      width: 65px;
      height: 65px;
      margin: 3px 8px 0;
      border: 2px solid #88c7dc;
      object-fit: cover;
    }

    .no-image-found-icon {
      position: relative;
      top: 50%;
      left: 50%;
      float: left;
      font-size: 4em;
      color: #88c7dc;
      transform: translate(-50%, -50%);
    }

    .object-meta {
      position: relative;
      margin-left: 90px; // to be reset
      font-size: $default-font-size;
      font-weight: $font-weight-normal;
      color: $white;
      text-align: left;
      text-shadow: none;
      text-transform: none;

      &.outdented {
        margin-left: 3px;
      }

      .object-meta-name {
        display: inline-block;
      }

      .object-meta-value {
        display: inline-block;
        margin-left: 14px;
      }
    }
  }

  .dropbtn:hover {
    cursor: pointer;
    background-color: #006c87;
    transition: background-color 0.15s ease-in-out;
  }

  .dropdown-content {
    position: relative;
    display: none;
    height: auto;
    padding-top: 11px;
    font-size: $default-font-size;
    color: $black;
    background-color: #f5f5f6;
    border-radius: 3px;

    .script {
      position: relative;
      z-index: 1;
      margin-bottom: 15px;

      .script-top-brick {
        position: relative;
        height: 68px;
        overflow: hidden;
        background-size: cover;

        .script-text {
          position: absolute;
          top: 48%;
          left: 50px;
        }

        .script-brick-look,
        .script-brick-sound {
          width: 35px;
          height: 35px;
        }
      }

      .script-bricks-wrapper {
        .brick {
          position: relative;
          height: 48px;
          margin-top: -5px;
          overflow: hidden;
          background-size: cover;

          .brick-name {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            color: #fff08080;
          }

          .brick-text {
            position: absolute;
            top: 31%;
            left: 50px;
            z-index: 1;
            display: inline-block;
            white-space: nowrap;
          }

          .brick-sound {
            color: $white !important;
            vertical-align: middle;
            cursor: pointer;
          }
        }
      }

      .brick-look,
      .brick-sound {
        position: absolute;
        right: 10px;
        bottom: 13px;
        z-index: 1;
      }
    }
  }

  .group-dropdown-content {
    display: none;
    margin-left: 30px;

    .arrow {
      right: #{'calc(10% + 3px)'};
    }
  }

  .note {
    padding: 20px 0;
    font-size: $default-font-size;
    text-align: center;
  }

  #object-list-wrapper {
    margin-top: 5%;
  }

  .show {
    display: block;
  }

  .rotate {
    display: inline-block;
    transform: rotate(-90deg);
  }
}

@media (width <= 640px) {
  #codeview-wrapper {
    width: 100%;

    .scenes-wrapper {
      .scene {
        .scene-content {
          margin-right: 0;
          margin-left: 0;
        }

        .scene-dropbtn {
          margin-right: 0;
          margin-left: 0;

          .scene-arrow {
            right: 10%;
          }
        }
      }
    }
  }

  #codestatistic-wrapper {
    width: 100%;
    padding: 0;

    .total-statistic {
      max-width: 80%;
    }
  }

  .dropdown-content {
    padding-top: 11px;
    text-align: center;
  }
}
