@use 'sass:math';

// Material Menu
@import '../Layout/Variables';
@import '../Layout/Mixins';
@import '~bootstrap/scss/mixins';
@import '../Components/MdcMenu';

$max-project-thumb-size: 160px;
$container-padding: 1rem;

.own-project-list {
  display: flex;
  flex-direction: column;

  .projects-spinner-container {
    display: none;
  }

  &.loading {
    .own-project-list__wrapper {
      display: none;
    }

    .projects-spinner-container {
      display: flex;
      justify-content: center;
    }
  }

  &.empty {
    display: none;
  }

  &.empty-with-text {
    justify-content: center;
    text-align: center;
  }

  &__project {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    position: relative; // important for loading spinner

    &:hover {
      text-decoration: none;

      .project-list__project__image {
        box-shadow: 3px 3px 20px 0 rgb(50 50 50 / 35%);
      }
    }

    &__image {
      flex: 0 0 6rem;
      width: 6rem;
      border-radius: 10%;
      aspect-ratio: auto 1 / 1;
      box-shadow: 3px 3px 20px 0 rgb(50 50 50 / 15%);

      @include media-breakpoint-up(sm) {
        width: 8rem;
      }

      @include media-breakpoint-up(xxl) {
        width: 10rem;
      }
    }

    &__details {
      flex: 1 1 auto;
      margin: 0 1rem;
      color: var(--bs-body-color);

      &__name {
        font-size: 1.2rem;
        padding-bottom: 0.4rem;

        @include force-word-break;
      }

      &__properties {
        display: grid;
        grid-template:
          '. .' max-content
          '. .' max-content
          / max-content max-content;
        gap: 0.25rem;
        padding-bottom: 0.4rem;

        &__property {
          display: inline-flex;
          align-items: center;
          min-width: 5rem;

          &__value {
            padding-left: 0.25rem;
          }
        }
      }

      &__visibility {
        color: $text-muted;
        text-transform: uppercase;
        font-size: 0.7rem;
        display: flex;
        flex-direction: row;

        &__icon {
          font-size: 1.5em;
        }

        &__text {
          margin-top: 1px;
          margin-left: 2px;
          letter-spacing: 0.5px;
        }
      }
    }

    &__action {
      flex: 0 0 auto;
    }

    &__property {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $text-muted;

      .material-icons {
        font-size: 1.25rem;
      }

      &__value {
        padding-left: 0.3rem;
        font-size: 0.9rem;

        @include text-truncate;
      }
    }
  }
}

#project-action-menu .mdc-list-item {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
