@import '../Layout/Variables';

#remix-graph-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  background-color: $white;
}

#remix-graph-layer {
  width: 100%;
  height: 100vh;

  #remix-graph-spinner {
    position: fixed;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 1%);
}

.context-menu-item {
  padding: 0 0.8rem;

  &.context-menu-icon-material {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem;
    font-size: 1.25rem;

    .material-icons {
      padding-right: 1rem;
    }
  }

  &.context-menu-item-title,
  &.context-menu-item-subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.context-menu-item-title {
    font-size: 1.6rem;
  }

  &.context-menu-item-subtitle {
    font-size: 1rem;
  }

  &.context-menu-separator {
    padding: 0.6rem 0 0;
    margin: 0;
  }
}
