{% block notification_leftAvatar %}{% endblock %}
{% block notification_body %}{% endblock %}
{% block dot %}
  <div class="col-2 my-auto mark-as-read">
    {% if notification.getSeen() is same as(false) %}
      <span class="dot"></span>
    {% endif %}
  </div>
{% endblock %}
