<div class="notification-card {% if notification.getSeen() is same as(false) %}notification-unread{% endif %}">
  <div class="notification-avatar">
    {% block notification_leftAvatar %}{% endblock %}
  </div>
  <div class="notification-content">
    {% block notification_body %}{% endblock %}
  </div>
  <div class="notification-indicator">
    {% block dot %}
      {% if notification.getSeen() is same as(false) %}
        <span class="dot"></span>
      {% endif %}
    {% endblock %}
  </div>
</div>
