{% extends 'User/Notification/Type/Base.html.twig' %}


{% block notification_leftAvatar %}
  <div class="col-2 my-auto">
    <span class="material-icons broadcast-icon">
      notifications_active
    </span>
  </div>
{% endblock %}

{% block notification_body %}
  <div class="col-8 ps-3 my-auto">
    {{ notification.message}}
  </div>
{% endblock %}