{% extends 'User/Notification/Type/Base.html.twig' %}

{% block notification_leftAvatar %}
  <span class="material-icons notification-broadcast-icon">
    notifications_active
  </span>
{% endblock %}

{% block notification_body %}
  {{ notification.message }}
{% endblock %}
