openapi: 3.0.3
info:
  title: 'Catroweb API'
  description: 'API for the Catrobat Share Platform'
  version: 'v2.0.0'
  termsOfService: 'https://share.catrob.at/pocketcode/termsOfUse'
  contact:
    name: 'Catrobat'
    url: 'https://share.catrob.at'
    email: 'webmaster@catrobat.org'

servers:
  - url: 'https://share.catrob.at/api'
    description: 'Main production server'
  - url: 'https://web-test.catrob.at/api'
    description: 'Our test server (might be unstable)'
  - url: 'http://localhost/api'
    description: 'Local test server (postman help)'

tags:
  - name: 'Authentication'
    description: "
      * To have **full access** to all our features it is necessary to be **authenticated**.\n
      * Our authentication system utilizes **JWT** (https://jwt.io/introduction).\n
      * The bearer token you retrieve on login must be send in the **Authorization Header** of all following requests.\n
      - **Example**&#58; `curl -H \"Authorization: Bearer sagu4235afsyvyvdgsdqaWER22\" /route`
      "

  - name: 'Users'
    description: 'Everything related to users; from registration to managing their data.'

  - name: 'Projects'
    description: 'Everything related to projects'

  - name: 'Comments'
    description: 'Everything related to project comments'

  - name: 'Media Library'
    description: 'Everything related to the media library'

  - name: 'Utility'
    description: 'Utility functionality'

  - name: 'Notifications'
    description: 'Everything related for notifications'

  - name: 'Achievements'
    description: 'Everything related to achievements'

  - name: 'Search'
    description: 'Everything related to searching'

  - name: 'Studios'
    description: 'Create, join and update studios'

  - name: 'Followers'
    description: 'Everything related to user follow relationships'

  - name: 'Moderation'
    description: 'Content moderation: reporting, appeals, and admin review'

  - name: 'Translation'
    description: 'Machine and custom translations for projects'

paths:
  ##############################################
  # Authentication
  ###
  /authentication:
    get:
      security:
        - BearerAuth: []
      tags:
        - 'Authentication'
      summary: 'Check JWT token validity'
      description: 'Checks if a token is valid or expired.'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      security:
        - BearerAuth: []
      tags:
        - 'Authentication'
      summary: 'Login - create a new JWT token'
      description: 'Returns an JWT token which provides authorization for a limited time'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/InvalidCredentials'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'

    delete:
      security:
        - BearerAuth: []
      tags:
        - 'Authentication'
      summary: 'Expires refresh token'
      description: 'Sets refresh token to expired'
      parameters:
        - $ref: '#/components/parameters/RefreshToken'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/InvalidRefreshToken'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'

  /authentication/refresh:
    post:
      security:
        - BearerAuth: []
      tags:
        - 'Authentication'
      summary: 'Refresh token'
      description: 'Returns a new JWT token with help of the refresh token'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/InvalidRefreshToken'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'

  /authentication/oauth:
    post:
      tags:
        - 'Authentication'
      summary: 'OAuth Login'
      description: 'Returns an JWT token which provides authorization'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthLoginRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/InvalidIdToken'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  ##############################################
  # Utility
  ###
  /health:
    get:
      tags:
        - 'Utility'
      summary: 'Health Check'
      description: 'Returns application health status including database connectivity. Used for deployment smoke tests and monitoring.'
      responses:
        '200':
          description: 'System is alive and healthy'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: 'System is unhealthy (e.g. database unreachable)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /survey/{lang_code}:
    get:
      parameters:
        - in: path
          name: lang_code
          schema:
            type: string
            example: 'de'
          required: true
          description: '2 letter language code based on ISO 639-1 (e.g. German = de, English = en, Russian = ru)'
        - $ref: '#/components/parameters/Flavor'
        - $ref: '#/components/parameters/Platform'
      tags:
        - Utility
      summary: 'Get survey link for given language code.'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SurveyResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  /languages:
    parameters:
      - $ref: '#/components/parameters/Locale'
    get:
      tags:
        - 'Utility'
      summary: 'Get available languages'
      description: 'Returns a map of language codes to their display names, localized to the Accept-Language header. Supports ETag-based HTTP caching (304 Not Modified).'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
                example:
                  en: 'English'
                  de: 'German'
                  fr: 'French'
          headers:
            ETag:
              description: 'Locale-based ETag for cache validation'
              schema:
                type: string
        '304':
          description: 'Not Modified — cached response is still valid'

  /featured-banners:
    get:
      tags:
        - Utility
      summary: Get active featured banners
      operationId: featuredBannersGet
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: flavor
          in: query
          required: false
          schema:
            type: string
          description: 'Filter banners by flavor (e.g. pocketcode, luna). Omit for all.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturedBannersListResponse'

  ##############################################
  # Users
  ###
  /users/me/data-export:
    get:
      security:
        - BearerAuth: []
      tags:
        - 'Users'
      summary: 'Export your personal data (GDPR)'
      description: '
        Returns a JSON export of all personal data associated with
        the authenticated user (GDPR right to data portability).
        Rate limited to 3 requests per day.
        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDataExportResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /users/me:
    get:
      security:
        - BearerAuth: []
      tags:
        - 'Users'
      summary: 'Get your private user data'
      description: '
        Get your private user data. Additionally to the public user data,
        this responses contains all your private data like settings.
        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedUserDataResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '406':
          $ref: '#/components/responses/NotAcceptable'

    patch:
      parameters:
        - $ref: '#/components/parameters/Locale'
      security:
        - BearerAuth: []
      tags:
        - 'Users'
      summary: 'Update User'
      description: '
        Update your user account. All attributes are optional.
        For example you can update only the username.
        Or you can update multiple attributes at once. E.g. username + email.
        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '204':
          description: 'User successfully updated'
          # Content hack necessary else OpenAPI-generator will ignore content for error responses (hopefully fixed sometime)
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/InvalidCredentials'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    delete:
      security:
        - BearerAuth: []
      tags:
        - 'Users'
      summary: 'Delete user account'
      description: 'Delete your user account. But be warned, there is no way to restore the user data!'
      responses:
        '204':
          description: User successfully deleted.
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /users/me/reports:
    get:
      security:
        - BearerAuth: []
      tags:
        - Moderation
      summary: 'List reports filed by the current user'
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserReportListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /users:
    get:
      tags:
        - 'Users'
      summary: 'Get users'
      description: 'Get all users with their corresponding data. When query is provided, filters by keyword. Uses cursor-based pagination.'
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersListResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'

    post:
      parameters:
        - $ref: '#/components/parameters/Locale'
      tags:
        - Users
      summary: 'Register'
      description: '
        Register a user. For pre-validation use the dry-run option.
        Using Dry run the request is validated but no object is created on the server.
        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        201:
          description: 'User successfully registered'
          headers:
            Location:
              schema:
                type: string
                example: 'https://share.catrob.at/app/user/3ef85528-5f08-11ea-a2ae-000c292a0f49'
              description: Resource location on server
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTResponse'
        204:
          description: 'Dry-run successful (No Validation Error)'
        400:
          $ref: '#/components/responses/BadRequest'
        406:
          $ref: '#/components/responses/NotAcceptable'
        415:
          $ref: '#/components/responses/UnsupportedMediaType'
        422:
          $ref: '#/components/responses/UnprocessableEntity'

  /users/search:
    get:
      tags:
        - 'Users'
      summary: 'Search for users'
      description: 'Search for users associated by keywords. Uses cursor-based pagination.'
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Attributes'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersListResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  '/users/{id}':
    get:
      tags:
        - 'Users'
      summary: 'Get public user data'
      description: 'Get all the public data of a user'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicUserDataResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  /users/reset-password:
    post:
      tags:
        - 'Users'
      summary: 'Request email to reset password'
      description: '
        If an account with the provided email exists, an email to reset the password will be sent to the user.
        The email contains a link to reset the password. Note&#58; This link is only valid for a limited amount of time.
        '
      parameters:
        - $ref: '#/components/parameters/Locale'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '204':
          description: 'If an account with this email exists, an email to reset the password will be send to the user'
          # Content hack necessary else OpenAPI-generator will ignore content for error responses (hopefully fixed sometime)
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  ################################################
  # Projects
  #
  /projects:
    parameters:
      - $ref: '#/components/parameters/Locale'

    get:
      tags:
        - 'Projects'
      summary: 'Get projects'
      description: 'Get projects by category. When no category is specified, returns recent projects. Uses cursor-based pagination.'
      parameters:
        - $ref: '#/components/parameters/ProjectType'
        - $ref: '#/components/parameters/MaxVersion'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Attributes'
        - $ref: '#/components/parameters/Flavor'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsListResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'

    post:
      security:
        - BearerAuth: []
      tags:
        - 'Projects'
      summary: 'Upload a catrobat project'
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProjectUploadRequest'
      responses:
        '201':
          description: 'Project successfully uploaded'
          headers:
            Location:
              schema:
                type: string
                example: 'https://share.catrob.at/app/project/63768cf1-5f07-11ea-a2ae-000c292a0f49'
              description: 'Resource location on server'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /projects/featured:
    get:
      tags:
        - 'Projects'
      summary: 'Get the currently featured projects'
      description: 'Uses cursor-based pagination.'
      parameters:
        - $ref: '#/components/parameters/Platform'
        - $ref: '#/components/parameters/MaxVersion'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Attributes'
        - $ref: '#/components/parameters/Flavor'
      responses:
        '200':
          description: 'OK'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturedProjectsListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  /projects/categories:
    get:
      tags:
        - 'Projects'
      summary: 'Get default number of projects per category (Most downloaded etc.)'
      parameters:
        - $ref: '#/components/parameters/MaxVersion'
        - $ref: '#/components/parameters/Flavor'
        - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: OK
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsCategoryListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  /projects/search:
    get:
      tags:
        - 'Projects'
      summary: 'Search for projects associated with a keywords'
      description: 'Uses cursor-based pagination.'
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/MaxVersion'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Attributes'
        - $ref: '#/components/parameters/Flavor'
      responses:
        '200':
          description: 'OK'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  /projects/user:
    get:
      security:
        - BearerAuth: []
      tags:
        - 'Projects'
      summary: 'Get the projects of the logged in user'
      description: 'Uses cursor-based pagination.'
      parameters:
        - $ref: '#/components/parameters/MaxVersion'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Attributes'
        - $ref: '#/components/parameters/Flavor'
      responses:
        '200':
          description: 'OK'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  '/projects/user/{id}':
    get:
      tags:
        - 'Projects'
      summary: 'Get the public projects of a given user'
      description: 'Uses cursor-based pagination.'
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - $ref: '#/components/parameters/MaxVersion'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Attributes'
        - $ref: '#/components/parameters/Flavor'
      responses:
        '200':
          description: 'OK'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  '/projects/extensions':
    parameters:
      - $ref: '#/components/parameters/Locale'
    get:
      tags:
        - 'Projects'
      summary: 'Get all possible project extensions. Extensions are automatically added to projects based on their bricks.'
      responses:
        '200':
          description: 'OK'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtensionsResponse'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  '/projects/tags':
    parameters:
      - $ref: '#/components/parameters/Locale'
    get:
      tags:
        - 'Projects'
      summary: 'Get all possible project tags. Some Tags will only be available during events.'
      responses:
        '200':
          description: 'OK'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsResponse'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  '/projects/{id}':
    get:
      tags:
        - 'Projects'
      summary: 'Get the information of a project'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: 'OK'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
    patch:
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - $ref: '#/components/parameters/Locale'
      security:
        - BearerAuth: []
      tags:
        - 'Projects'
      summary: 'Update details of a project'
      description: '
        Update one of your projects. All attributes are optional.
        For example you can update only the description.
        Or you can update multiple attributes at once.
        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '204':
          description: 'Project successfully updated'
          # Content hack necessary else OpenAPI-generator will ignore content for error responses (hopefully fixed sometime)
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/InvalidCredentials'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      security:
        - BearerAuth: []
      tags:
        - Projects
      summary: 'Delete a project'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '204':
          description: 'Project successfully deleted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  '/projects/{id}/catrobat':
    get:
      tags:
        - Projects
      summary: 'Download the .catrobat (=zip) file of a project'
      description: 'If the request is made by an authenticated user, further internal actions are triggered. (Download counter, ...)'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: '.catrobat file successfully downloaded'
          content:
            application/zip:
              schema:
                type: string
                format: binary
                example: 'projectName.catrobat'
          headers:
            Content-Disposition:
              schema:
                type: string
                description: Used only with `application/zip` responses
                example: attachment; filename="name.catrobat"
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          description: 'We were not able to create a .catrobat file for this project. There is a high possibility that the project files are missing on the server.'

  '/projects/{id}/report':
    post:
      security:
        - BearerAuth: []
      tags:
        - Moderation
      summary: 'Report a project'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentReportRequest'
      responses:
        '201':
          description: 'Report created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportReceiptResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 'Duplicate report'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  '/projects/{id}/appeal':
    post:
      security:
        - BearerAuth: []
      tags:
        - Moderation
      summary: 'Appeal a hidden project'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentAppealRequest'
      responses:
        '201':
          description: 'Appeal submitted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 'Appeal already pending'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  '/projects/{id}/recommendations':
    parameters:
      - $ref: '#/components/parameters/Locale'

    get:
      tags:
        - 'Projects'
      summary: 'Get recommended projects related to the specific project'
      description: 'Uses cursor-based pagination.'
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - $ref: '#/components/parameters/RecommendedProjectType'
        - $ref: '#/components/parameters/MaxVersion'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Attributes'
        - $ref: '#/components/parameters/Flavor'
      responses:
        '200':
          description: 'OK'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  '/projects/{id}/code':
    get:
      tags:
        - 'Projects'
      summary: 'Get the code tree of a project'
      description: 'Returns a structured tree representation of the project code: scenes > objects > scripts > bricks. Bricks include their type, category, display text, parameters, and nested children for control-flow bricks.'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeViewResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  '/projects/{id}/code-statistics':
    get:
      tags:
        - 'Projects'
      summary: 'Get computational thinking scores for a project'
      description: 'Returns the 7 computational thinking category scores for a project. Scores are computed from the project code.xml and cached.'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeStatisticsResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  '/projects/{id}/remix-graph':
    get:
      tags:
        - 'Projects'
      summary: 'Get remix graph of a project'
      description: 'Returns remix graph metadata with nodes and directed edges. Each node includes a thumbnailUrl resolved by source and availability.'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemixGraphResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  '/projects/{id}/reaction':
    parameters:
      - $ref: '#/components/parameters/Locale'

    post:
      security:
        - BearerAuth: []
      tags:
        - 'Projects'
      summary: 'Add a reaction to a project'
      description: 'Add a reaction (like) to a project. A user can add multiple reaction types to the same project. Requires authentication.'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactionRequest'
      responses:
        '201':
          description: 'Reaction successfully added'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactionSummaryResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          description: 'Reaction already exists'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'

    delete:
      security:
        - BearerAuth: []
      tags:
        - 'Projects'
      summary: 'Remove a reaction from a project'
      description: 'Remove a specific reaction type from a project. Requires authentication.'
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - name: type
          in: query
          required: true
          description: 'The type of reaction to remove'
          schema:
            type: string
            enum:
              - 'thumbs_up'
              - 'smile'
              - 'love'
              - 'wow'
      responses:
        '204':
          description: 'Reaction successfully removed'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  '/projects/{id}/reactions':
    parameters:
      - $ref: '#/components/parameters/Locale'

    get:
      tags:
        - 'Projects'
      summary: 'Get reaction summary for a project'
      description: 'Get the count of reactions by type for a project. Returns 404 if project is not visible to the current user.'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactionSummaryResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  '/projects/{id}/reactions/users':
    parameters:
      - $ref: '#/components/parameters/Locale'

    get:
      tags:
        - 'Projects'
      summary: 'Get users who reacted to a project'
      description: 'Get a paginated list of users who reacted to a project with their reaction types. Uses cursor-based pagination. Returns 404 if project is not visible to the current user.'
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - name: type
          in: query
          required: false
          description: 'Filter by reaction type. If not specified, returns all reactions.'
          schema:
            type: string
            enum:
              - 'thumbs_up'
              - 'smile'
              - 'love'
              - 'wow'
        - $ref: '#/components/parameters/Limit'
        - name: cursor
          in: query
          required: false
          description: 'Cursor for pagination (user_id from last result for next page)'
          schema:
            type: string
            example: '1234abcd-12ab-12ab-12ab-123456abcdef'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactionUsersResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  ################################################
  # Comments
  #
  '/projects/{id}/comments':
    parameters:
      - $ref: '#/components/parameters/Locale'

    get:
      tags:
        - 'Comments'
      summary: 'Get project comments'
      description: 'Get top-level comments for a project ordered by newest first. Uses cursor-based pagination. Returns 404 if project is not visible to the current user.'
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentListResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'

    post:
      security:
        - BearerAuth: []
      tags:
        - 'Comments'
      summary: 'Create a comment on a project'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentCreateRequest'
      responses:
        '201':
          description: 'Created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  '/comments/{id}/replies':
    parameters:
      - $ref: '#/components/parameters/Locale'

    get:
      tags:
        - 'Comments'
      summary: 'Get replies for a comment'
      description: 'Get direct replies for a comment ordered by newest first. Uses cursor-based pagination.'
      parameters:
        - $ref: '#/components/parameters/CommentId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  '/comments/{id}':
    parameters:
      - $ref: '#/components/parameters/Locale'

    delete:
      security:
        - BearerAuth: []
      tags:
        - 'Comments'
      summary: 'Delete a comment'
      parameters:
        - $ref: '#/components/parameters/CommentId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  '/comments/{id}/report':
    post:
      security:
        - BearerAuth: []
      tags:
        - Moderation
      summary: 'Report a comment'
      parameters:
        - $ref: '#/components/parameters/CommentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentReportRequest'
      responses:
        '201':
          description: 'Report created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportReceiptResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 'Duplicate report'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  '/comments/{id}/appeal':
    post:
      security:
        - BearerAuth: []
      tags:
        - Moderation
      summary: 'Appeal a hidden comment'
      parameters:
        - $ref: '#/components/parameters/CommentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentAppealRequest'
      responses:
        '201':
          description: 'Appeal submitted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 'Appeal already pending'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  '/comments/{id}/translation':
    parameters:
      - $ref: '#/components/parameters/Locale'

    get:
      tags:
        - 'Comments'
      summary: 'Translate a comment'
      parameters:
        - $ref: '#/components/parameters/CommentId'
        - name: target_language
          in: query
          required: true
          description: 'Target language for the translation'
          schema:
            type: string
            example: 'de'
        - name: source_language
          in: query
          required: false
          description: 'Optional source language override'
          schema:
            type: string
            example: 'en'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentTranslationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  ##############################################
  # Translation
  ###
  '/projects/{id}/translation':
    parameters:
      - $ref: '#/components/parameters/Locale'

    get:
      tags:
        - 'Translation'
      summary: 'Machine-translate a project'
      description: 'Translates the project name, description, and credits using machine translation.'
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - name: target_language
          in: query
          required: true
          description: 'Target language (ISO 639-1 or BCP 47)'
          schema:
            type: string
            example: 'de'
        - name: source_language
          in: query
          required: false
          description: 'Optional source language override'
          schema:
            type: string
            example: 'en'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectTranslationResponse'
        '304':
          description: 'Not Modified (ETag match)'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '503':
          description: 'Translation service unavailable'

  '/projects/{id}/translation/{field}/{language}':
    parameters:
      - $ref: '#/components/parameters/Locale'
      - $ref: '#/components/parameters/Uuid'
      - name: field
        in: path
        required: true
        description: 'Project field to translate'
        schema:
          type: string
          enum:
            - name
            - description
            - credit
      - name: language
        in: path
        required: true
        description: 'Language code (ISO 639-1 or BCP 47)'
        schema:
          type: string
          example: 'fr'

    get:
      tags:
        - 'Translation'
      summary: 'Get a custom translation'
      description: 'Returns a user-defined custom translation for a specific project field and language.'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCustomTranslationResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      security:
        - BearerAuth: []
      tags:
        - 'Translation'
      summary: 'Save a custom translation'
      description: 'Creates or updates a custom translation for a project field. Only the project owner can do this.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCustomTranslationSaveRequest'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      security:
        - BearerAuth: []
      tags:
        - 'Translation'
      summary: 'Delete a custom translation'
      description: 'Removes a custom translation for a project field. Only the project owner can do this.'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'

  '/projects/{id}/translation/languages':
    parameters:
      - $ref: '#/components/parameters/Locale'

    get:
      tags:
        - 'Translation'
      summary: 'List custom translation languages'
      description: 'Returns a list of languages that have custom translations for the given project.'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  example: 'fr'
        '404':
          $ref: '#/components/responses/NotFound'

  ################################################
  # Notifications
  #
  /notifications:
    parameters:
      - $ref: '#/components/parameters/Locale'
    get:
      security:
        - BearerAuth: []
      tags:
        - 'Notifications'
      summary: 'Get user notifications'
      description: 'Returns paginated notifications using cursor-based pagination.'
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/NotificationsType'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  '/notifications/{id}/read':
    parameters:
      - $ref: '#/components/parameters/Locale'
    put:
      security:
        - BearerAuth: []
      tags:
        - 'Notifications'
      summary: 'Mark specified notification as read'
      parameters:
        - $ref: '#/components/parameters/NotificationId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'

  /notifications/read:
    put:
      security:
        - BearerAuth: []
      tags:
        - 'Notifications'
      summary: 'Mark all notifications as read'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /notifications/count:
    get:
      security:
        - BearerAuth: []
      tags:
        - 'Notifications'
      summary: 'Count the number of unseen notifications'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationsCountResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'

  ################################################
  # Achievements
  #
  /achievements:
    parameters:
      - $ref: '#/components/parameters/Locale'
    get:
      security:
        - BearerAuth: []
      tags:
        - 'Achievements'
      summary: 'Get user achievements'
      description: 'Returns all achievements for the authenticated user, split into unlocked and locked lists.'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementsListResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /achievements/count:
    get:
      security:
        - BearerAuth: []
      tags:
        - 'Achievements'
      summary: 'Count unseen achievements'
      description: 'Returns the number of unseen achievements for the authenticated user.'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementsCountResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /achievements/read:
    put:
      security:
        - BearerAuth: []
      tags:
        - 'Achievements'
      summary: 'Mark all achievements as seen'
      description: 'Marks all unseen achievements as seen for the authenticated user.'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  '/users/{id}/achievements':
    get:
      tags:
        - 'Achievements'
      summary: 'Get unlocked achievements for a user'
      description: 'Returns all unlocked achievements for the specified user. This is a public endpoint.'
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AchievementsDataResponse'
          headers:
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '404':
          $ref: '#/components/responses/NotFound'

  '/users/{id}/studios':
    get:
      tags:
        - 'Users'
      summary: 'Get studios a user has joined'
      operationId: userIdStudiosGet
      parameters:
        - $ref: '#/components/parameters/Uuid'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioListResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  ################################################
  # Media Library
  #
  '/media/library':
    parameters:
      - $ref: '#/components/parameters/Locale'

    get:
      tags:
        - 'Media Library'
      summary: 'Get media library overview with categories and preview assets'
      description: 'Returns all categories with a preview of assets per category. Uses cursor-based pagination.'
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: file_type
          in: query
          required: false
          description: 'Filter categories and assets by file type'
          schema:
            type: string
            enum:
              - IMAGE
              - SOUND
        - name: flavor
          in: query
          required: false
          schema:
            type: string
          description: 'Filter assets by flavor name'
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: 'Search query for assets and categories'
        - name: assets_per_category
          in: query
          required: false
          schema:
            type: integer
            default: 5
            minimum: 1
            maximum: 20
          description: 'Number of preview assets to return per category'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaLibraryResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  '/media/categories':
    parameters:
      - $ref: '#/components/parameters/Locale'

    get:
      tags:
        - 'Media Library'
      summary: 'Get all media library categories'
      description: 'Uses cursor-based pagination.'
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaCategoriesListResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'

    post:
      security:
        - BearerAuth: []
      tags:
        - 'Media Library'
      summary: 'Create a new media category (Admin only)'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaCategoryRequest'
      responses:
        '201':
          description: 'Category created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaCategoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  '/media/categories/{id}':
    parameters:
      - $ref: '#/components/parameters/Locale'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          pattern: '^[a-zA-Z0-9\-]+$'
        description: 'Category UUID'

    get:
      tags:
        - 'Media Library'
      summary: 'Get a specific media category with its assets'
      description: 'Uses cursor-based pagination.'
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaCategoryDetailResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'

    patch:
      security:
        - BearerAuth: []
      tags:
        - 'Media Library'
      summary: 'Update a media category (Admin only)'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaCategoryRequest'
      responses:
        '200':
          description: 'Category updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaCategoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    delete:
      security:
        - BearerAuth: []
      tags:
        - 'Media Library'
      summary: 'Delete a media category (Admin only)'
      responses:
        '204':
          description: 'Category deleted'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '409':
          description: 'Cannot delete category with assets'

  '/media/assets':
    parameters:
      - $ref: '#/components/parameters/Locale'

    get:
      tags:
        - 'Media Library'
      summary: 'Get media library assets with pagination and filtering'
      description: 'Uses cursor-based pagination.'
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - name: category_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: 'Filter by category UUID'
        - name: file_type
          in: query
          required: false
          schema:
            type: string
            enum:
              - IMAGE
              - SOUND
        - name: flavor
          in: query
          required: false
          schema:
            type: string
          description: 'Filter by flavor name'
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: 'Search in name and description'
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum: [name, created_at, downloads, updated_at]
            default: created_at
        - name: sort_order
          in: query
          required: false
          schema:
            type: string
            enum: [ASC, DESC]
            default: DESC
        - name: flavors
          in: query
          required: false
          schema:
            type: string
          description: 'Comma-separated flavor names to rank results by. Matching assets appear first (ranked by overlap count), then flavorless assets, then non-matching flavored assets.'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAssetsListResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'

    post:
      security:
        - BearerAuth: []
      tags:
        - 'Media Library'
      summary: 'Upload a new media asset (Admin only)'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MediaAssetUploadRequest'
      responses:
        '201':
          description: 'Asset created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAssetResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  '/media/assets/{id}':
    parameters:
      - $ref: '#/components/parameters/Locale'
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          pattern: '^[a-zA-Z0-9\-]+$'
        description: 'Asset UUID'

    get:
      tags:
        - 'Media Library'
      summary: 'Get details of a specific media asset'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAssetResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'

    patch:
      security:
        - BearerAuth: []
      tags:
        - 'Media Library'
      summary: 'Update a media asset metadata (Admin only)'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MediaAssetUpdateRequest'
      responses:
        '200':
          description: 'Asset updated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAssetResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    delete:
      security:
        - BearerAuth: []
      tags:
        - 'Media Library'
      summary: 'Delete a media asset (Admin only)'
      responses:
        '204':
          description: 'Asset deleted'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  '/media/assets/{id}/download':
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          pattern: '^[a-zA-Z0-9\-]+$'
        description: 'Asset UUID'

    get:
      tags:
        - 'Media Library'
      summary: 'Download a media asset file'
      description: 'Returns the media asset file with a Content-Disposition header containing the human-readable asset name. Increments the download counter.'
      responses:
        '200':
          description: 'Media asset file successfully downloaded'
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
                description: Used only with `application/octet-stream` responses
                example: attachment; filename="Cat.png"
        '404':
          $ref: '#/components/responses/NotFound'

  ######################################################
  # Search
  ###
  /search:
    get:
      tags:
        - Search
      summary: 'Search for projects, users,..'
      description: 'The default is to search in all categories. Uses cursor-based pagination.'
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/SearchType'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
          headers:
            X-Response-Hash:
              $ref: '#/components/headers/X-Response-Hash'
            Content-Language:
              $ref: '#/components/headers/Content-Language'
        '400':
          $ref: '#/components/responses/BadRequest'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  ################################################
  # Studios
  #
  '/studios':
    parameters:
      - $ref: '#/components/parameters/Locale'
    get:
      tags:
        - Studios
      summary: List public studios
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

    post:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: Create a new Studio
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateStudioRequest'
      responses:
        '201':
          description: Studio successfully created.
          headers:
            Location:
              schema:
                type: string
                example: >-
                  https://share.catrob.at/app/studio/63768cf1-5f07-11ea-a2ae-000c292a0f49
              description: Resource location on server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  '/studios/{id}':
    parameters:
      - $ref: '#/components/parameters/Locale'
    patch:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: Update a Studio (only available to studio admins)
      parameters:
        - $ref: '#/components/parameters/Uuid'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateStudioRequest'
      responses:
        '200':
          description: Studio successfully updated.
          headers:
            Location:
              schema:
                type: string
                example: https://share.catrob.at/app/studio/63768cf1-5f07-11ea-a2ae-000c292a0f49
              description: Resource location on server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

    delete:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: Delete a studio (only available to studio admins)
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '204':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'

    get:
      tags:
        - Studios
      summary: Get studio details (private studios are only available to members)
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: OK
          headers:
            Location:
              schema:
                type: string
                example: https://share.catrob.at/app/studio/63768cf1-5f07-11ea-a2ae-000c292a0f49
              description: Resource location on server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          $ref: '#/components/responses/NotAcceptable'

  '/studios/{id}/members':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - $ref: '#/components/parameters/Locale'
    get:
      tags:
        - Studios
      summary: List studio members
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioMemberListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  '/studios/{id}/join':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - $ref: '#/components/parameters/Locale'
    post:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: Join a studio
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Already a member or join request pending
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  '/studios/{id}/leave':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - $ref: '#/components/parameters/Locale'
    delete:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: Leave a studio
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  '/studios/{id}/projects':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - $ref: '#/components/parameters/Locale'
    get:
      tags:
        - Studios
      summary: List studio projects
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioProjectListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: Add a project to a studio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudioAddProjectRequest'
      responses:
        '201':
          description: Project added to studio
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Project already in studio
        '429':
          $ref: '#/components/responses/TooManyRequests'

  '/studios/{id}/batch-add-projects':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - $ref: '#/components/parameters/Locale'
    post:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: Add multiple projects to a studio in a single request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudioBatchAddProjectsRequest'
      responses:
        '200':
          description: Batch result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioBatchAddProjectsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  '/studios/{id}/projects/{project_id}':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - name: project_id
        in: path
        required: true
        schema:
          type: string
          pattern: '^[a-zA-Z0-9\-]+'
      - $ref: '#/components/parameters/Locale'
    delete:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: Remove a project from a studio
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  '/studios/{id}/comments':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - $ref: '#/components/parameters/Locale'
    get:
      tags:
        - Studios
      summary: List studio comments
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioCommentListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: Add a comment to a studio
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudioCommentCreateRequest'
      responses:
        '201':
          description: Comment added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioCommentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  '/studios/{id}/comments/{comment_id}':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - name: comment_id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Locale'
    delete:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: Delete a studio comment
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  '/studios/{id}/members/{userId}/promote':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Locale'
    post:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: Promote a studio member to admin
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  '/studios/{id}/members/{userId}/ban':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Locale'
    post:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: Ban a studio member
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  '/studios/{id}/members/{userId}/demote':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - name: userId
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Locale'
    post:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: Demote a studio admin to member
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  '/studios/{id}/activities':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - $ref: '#/components/parameters/Locale'
    get:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: List studio activities
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioActivityListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  '/studios/{id}/user-projects':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - $ref: '#/components/parameters/Locale'
    get:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: List current user's projects with in_studio flag
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioUserProjectsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'

  '/studios/{id}/join-requests':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - $ref: '#/components/parameters/Locale'
    get:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: List pending join requests for a studio (admin only)
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudioJoinRequestListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  '/studios/{id}/join-requests/{request_id}/accept':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - name: request_id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Locale'
    post:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: Accept a pending join request (admin only)
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  '/studios/{id}/join-requests/{request_id}/decline':
    parameters:
      - $ref: '#/components/parameters/Uuid'
      - name: request_id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Locale'
    post:
      security:
        - BearerAuth: []
      tags:
        - Studios
      summary: Decline a pending join request (admin only)
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  ##############################################
  # Followers
  ###

  '/users/{id}/followers':
    get:
      tags:
        - 'Followers'
      summary: 'Get users following a user'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowersListResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  '/users/{id}/following':
    get:
      tags:
        - 'Followers'
      summary: 'Get users a user is following'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowersListResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  '/users/{id}/follow':
    post:
      security:
        - BearerAuth: []
      tags:
        - 'Followers'
      summary: 'Follow a user'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  '/users/{id}/unfollow':
    delete:
      security:
        - BearerAuth: []
      tags:
        - 'Followers'
      summary: 'Unfollow a user'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  ##############################################
  # Moderation
  ###

  '/users/{id}/report':
    post:
      security:
        - BearerAuth: []
      tags:
        - Moderation
      summary: 'Report a user'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentReportRequest'
      responses:
        '201':
          description: 'Report created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportReceiptResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 'Duplicate report'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  '/users/{id}/appeal':
    post:
      security:
        - BearerAuth: []
      tags:
        - Moderation
      summary: 'Appeal a hidden user profile'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentAppealRequest'
      responses:
        '201':
          description: 'Appeal submitted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 'Appeal already pending'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  '/studios/{id}/report':
    post:
      security:
        - BearerAuth: []
      tags:
        - Moderation
      summary: 'Report a studio'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentReportRequest'
      responses:
        '201':
          description: 'Report created'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportReceiptResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 'Duplicate report'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  '/studios/{id}/appeal':
    post:
      security:
        - BearerAuth: []
      tags:
        - Moderation
      summary: 'Appeal a hidden studio'
      parameters:
        - $ref: '#/components/parameters/Uuid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentAppealRequest'
      responses:
        '201':
          description: 'Appeal submitted'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 'Appeal already pending'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  '/moderation/reports':
    get:
      security:
        - BearerAuth: []
      tags:
        - Moderation
      summary: 'List pending reports (admin only)'
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'

  '/moderation/reports/{id}/resolve':
    put:
      security:
        - BearerAuth: []
      tags:
        - Moderation
      summary: 'Resolve a report (accept or reject, admin only)'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveReportRequest'
      responses:
        '200':
          description: 'Report resolved'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  '/moderation/appeals':
    get:
      security:
        - BearerAuth: []
      tags:
        - Moderation
      summary: 'List pending appeals (admin only)'
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppealListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'

  '/moderation/appeals/{id}/resolve':
    put:
      security:
        - BearerAuth: []
      tags:
        - Moderation
      summary: 'Resolve an appeal (approve or reject, admin only)'
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveAppealRequest'
      responses:
        '200':
          description: 'Appeal resolved'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  ##############################################
  # Default Response messages
  ###
  responses:
    OK:
      description: 'OK'

    NoContent:
      description: 'No Content'

    UnauthorizedError:
      description: 'Invalid JWT token | JWT token not found | JWT token expired'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    BadRequest:
      description: 'Bad request (Invalid, or missing parameters)'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InvalidCredentials:
      description: 'Invalid credentials'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InvalidRefreshToken:
      description: 'Refresh Token expired | Refresh Token has been used more than once (single use)'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InvalidUploadToken:
      description: 'The provided deprecated upload token is invalid or has expired'
[...]
