{% extends 'Layout/Base.html.twig' %}
{% block top_bar_page_title %}{{ 'media-packages.title'|trans({}, 'catroweb') }}{% endblock %}

{% block body %}
  <div>
    <p>{{ 'media-packages.description'|trans({}, 'catroweb') }}</p>
  </div>
  <div class="row">
    {% for item in packages %}
      <div class="col-6 col-md-4 col-lg-3 col-xl-2 mb-4">
        <div class="card">
          <a class="card-body"
             href="{{ path('media_library', {package_name: item.nameUrl}) }}">
            {{ item.name }}
          </a>
        </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
