security:
    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt

    providers:
        chain_provider:
            chain:
                providers: [fos_userbundle, fr3d_ldapbundle]
        fos_userbundle:
            id: fos_user.user_provider.username
        fr3d_ldapbundle:
            id: fr3d_ldap.security.user.provider

    firewalls:
        api_checktoken:
            provider: chain_provider
            pattern: ^.*/api/checkToken/check.json
            stateless: true
            simple_preauth:
                authenticator: apikey_authenticator

        api_check_notifications:
            provider: chain_provider
            pattern: ^.*/api/notifications/get.json
            stateless: true
            simple_preauth:
                authenticator: apikey_authenticator

        api_upload:
            provider: chain_provider
            pattern: ^.*/api/upload/upload.json
            stateless: true
            simple_preauth:
                authenticator: apikey_authenticator
        api_submit:
            provider: chain_provider
            pattern: ^.*/api/gamejam/submit.json
            stateless: true
            simple_preauth:
                authenticator: apikey_authenticator

        debug:
            provider: chain_provider
            pattern: ^/debug
            security: false

        main:
            pattern:     ^/
            provider: chain_provider
            fr3d_ldap:  ~
            form_login:
                login_path: login
                check_path: fos_user_security_check
                default_target_path: /
            logout: true
            anonymous:    true
            remember_me:
                name: remember_me
                secret: "%secret%"
                lifetime: 31536000 # 365 days in seconds
                path: /
                domain: ~ # Defaults to the current domain from $_SERVER
                secure: false
                httponly: false
            logout_on_user_change: true # remove when symfony 4

        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            provider: chain_provider
            fr3d_ldap:  ~
            security: false
            form_login:
                always_use_default_target_path: true
                default_target_path: /user
            logout:       true
            anonymous:    true


    access_control:

        # The WDT has to be allowed to anonymous users to avoid requiring the login with the AJAX request
        - { path: ^/wdt/, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/profiler/, role: IS_AUTHENTICATED_ANONYMOUSLY }

        # AsseticBundle paths used when using the controller for assets
        - { path: ^/js/, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/css/, role: IS_AUTHENTICATED_ANONYMOUSLY }

        # URL of FOSUserBundle which need to be available to anonymous users
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }

        # Secured part of the site
        # This config requires being logged for the whole site and having the admin role for the admin part.
        # Change these rules to adapt them to your needs
        - { path: ^/admin/, role: [ROLE_ADMIN, ROLE_SONATA_ADMIN] }
        - { path: ^/.*, role: IS_AUTHENTICATED_ANONYMOUSLY }

        # Only specific admin rights
        - { path: ^/admin/, role: [ROLE_ADMIN, ROLE_SONATA_ADMIN] }

    # Sonata "special" roles; Super Admin has all rights
    role_hierarchy:
        ROLE_ADMIN:
            - ROLE_USER
            - ROLE_SONATA_ADMIN
        ROLE_SUPER_ADMIN:
            - ROLE_ADMIN
            - ROLE_ALLOWED_TO_SWITCH

        # Define custom roles here; all catroweb blocks can be found in the admin interface
        ROLE_FEATURED:
            - ROLE_CATROWEBADMIN_BLOCK_FEATURED_PROGRAM_ADMIN
            - ROLE_CATROWEBADMIN_BLOCK_FEATURED_URL_ADMIN
            - ROLE_CATROWEBADMIN_BLOCK_PROGRAMS_CATEGORIES_ADMIN
            - ROLE_ADMIN
        ROLE_APPROVE:
            - ROLE_CATROWEBADMIN_BLOCK_PROGRAMS_ALL_ADMIN
            - ROLE_CATROWEBADMIN_BLOCK_PROGRAMS_APPROVE_ADMIN
            - ROLE_CATROWEBADMIN_BLOCK_PROGRAMS_REPORTED_ADMIN
            - ROLE_CATROWEBADMIN_BLOCK_PROGRAMS_COMMENTS_ADMIN
            - ROLE_ADMIN
        ROLE_MEDIAPACKAGE:
            - ROLE_CATROWEBADMIN_BLOCK_MEDIAPACKAGE_FILE_ADMIN
            - ROLE_CATROWEBADMIN_BLOCK_MEDIAPACKAGE_CATEGORY_ADMIN
            - ROLE_CATROWEBADMIN_BLOCK_MEDIAPACKAGE_PACKAGE_ADMIN
            - ROLE_ADMIN
        ROLE_GAMEJAM_ADMIN:
            - ROLE_CATROWEBADMIN_BLOCK_USERS_LIMITED_ADMIN
            - ROLE_CATROWEBADMIN_BLOCK_GAMEJAM_ADMIN
            - ROLE_CATROWEBADMIN_BLOCK_GAMEJAM_SUBMITTED_ADMIN
            - ROLE_ADMIN

acl:
    connection: default

