/web/bundles/
/web/css/
/web/js/
/web/images/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/coverage
/phpspec.yml
.idea/workspace.xml
.idea/uiDesigner.xml
app/config/deploy.rb
crowdin.yaml
crowdin-cli.jar
/screens
/output
/behat.yml
