/web/bundles/
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/config/parameters_dev.yml
/app/config/parameters_test.yml
/var/*
/build/
/vendor/
/composer.phar
/coverage
/phpspec.yml
.idea/
app/config/deploy.rb
crowdin.yaml
crowdin-cli.jar
/screens
/output
/behat.yml
/.externalToolBuilders
/.settings
/.buildpath
/.rsync_cache
Catroweb.iml
Catroweb-Symfony.iml
.idea/vcs.xml
/node_modules/
.project
# Created by https://www.gitignore.io/api/sass

### Sass ###
.sass-cache/
*.css.map


# End of https://www.gitignore.io/api/sass
/web/bootstrap_vendor
crowdin.yml

x_*.sh
