### Catroweb ###
.idea/
composer.phar
phpspec.yaml
phpunit.xml
*.local
phploc.phar
.jwt/
.sharedLibraries/


### Scripts ###
bin/
!bin/console
!bin/borg_restore_share.sh
!bin/checkCatroidRepositoryForNewBricks
!bin/x_perm.sh
!bin/x_reset.sh
!bin/x_test.sh
!bin/next_version.sh

### Sass ###
.sass-cache/
*.css.map

### Node ###
node_modules/

### public ###
public/**
!public/.well-known
!public/resources
!public/resources/**
!public/resources_test
!public/resources_test/**
!public/index.php
!public/index_test.php
!public/webp-on-demand.php
!public/robots.txt

### tests ###
tests/style-report/**
!tests/style-report/catroweb.xml
tests/TestReports/Behat/**
tests/TestReports/CoverageReports/**
tests/TestReports/TestScreenshots/**
tests/TestData/DataFixtures/GeneratedFixtures**
tests/TestData/Cache/**

### var ###
var/cache/**
var/log/**

### vendor ###
vendor/

### root ###
*.sh
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> behat/symfony2-extension ###
behat.yaml
###< behat/symfony2-extension ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
### docker ###
!/docker/app/startup.sh
!/docker/app/wait-for-it.sh
!/docker/app/set-permissions.sh
!/docker/app/execute-tests.sh
!/docker/app/prepare-for-deploy.sh

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> friends-of-behat/symfony-extension ###
/behat.yaml
###< friends-of-behat/symfony-extension ###
