default:

# --------------------------------------------------------------------------------------------------
# Telling Behat where to find the Context files
#
    autoload:
        - "tests/behat/context/"


# --------------------------------------------------------------------------------------------------
# Output formatting:
#                     - only shows the progress in command line and then creates a new html report
#
    formatters:
        pretty:   false
        progress: true
        html:
            output_path: "tests/testreports/behat/htmlTestReport"


# --------------------------------------------------------------------------------------------------
# Register all Extensions here:
#
    extensions:

        Behat\Symfony2Extension:
            kernel:
                bootstrap: config/bootstrap_test.php
                class: App\Kernel

        DMore\ChromeExtension\Behat\ServiceContainer\ChromeExtension: ~

        Behat\MinkExtension:
            browser_name: chrome
            base_url: http://localhost/index_test.php/
            sessions:
                default:
                    chrome:
                        api_url: "http://localhost:9222"

        emuse\BehatHTMLFormatter\BehatHTMLFormatterExtension:
              name: html
              renderer: Twig
              file_name: testreport
              print_args: true
              print_outp: true
              loop_break: true


# --------------------------------------------------------------------------------------------------
# Register test suites here:
#
# Note: Also define them in the github action work flows. Else they will not be checked automatically.
#
#
    suites:

        admin:
            paths:    [ "tests/behat/features/admin" ]
            contexts:
                - RefreshEnvironmentContext
                - DataFixturesContext
                - CatrowebBrowserContext
                - ApiContext

        api-authentication:
            paths:    [ "tests/behat/features/api/authentication" ]
            contexts:
                - RefreshEnvironmentContext
                - DataFixturesContext
                - ApiContext

        api-media-package:
            paths:    [ "tests/behat/features/api/mediapackage" ]
            contexts:
                - RefreshEnvironmentContext
                - DataFixturesContext
                - ApiContext

        api-user:
                    paths:    [ "tests/behat/features/api/user" ]
                    contexts:
                        - RefreshEnvironmentContext
                        - DataFixturesContext
                        - CatrowebBrowserContext
                        - ApiContext

        api-projects:
            paths:    [ "tests/behat/features/api/projects" ]
            contexts:
                - RefreshEnvironmentContext
                - DataFixturesContext
                - ApiContext

        deprecated-api-general:
            paths:    [ "tests/behat/features/api/deprecated/general" ]
            contexts:
                - RefreshEnvironmentContext
                - DataFixturesContext
                - CatrowebBrowserContext
                - ApiContext

        deprecated-api-profile:
            paths:    [ "tests/behat/features/api/deprecated/profile" ]
            contexts:
                - RefreshEnvironmentContext
                - DataFixturesContext
                - CatrowebBrowserContext
                - ApiContext

        deprecated-api-project:
            paths:    [ "tests/behat/features/api/deprecated/project" ]
            contexts:
                - RefreshEnvironmentContext
                - DataFixturesContext
                - CatrowebBrowserContext
                - ApiContext

        deprecated-api-upload:
            paths:    [ "tests/behat/features/api/deprecated/upload" ]
            contexts:
                - RefreshEnvironmentContext
                - DataFixturesContext
                - CatrowebBrowserContext
                - ApiContext

        ci:
            paths:    [ "tests/behat/features/ci" ]
            contexts:
                - RefreshEnvironmentContext
                - DataFixturesContext
                - CatrowebBrowserContext
                - ApiContext

        flavor:
            paths:    [ "tests/behat/features/flavor" ]
            contexts:
                - RefreshEnvironmentContext
                - DataFixturesContext
                - CatrowebBrowserContext
                - ApiContext

        web-general:
            paths:    [ "tests/behat/features/web/general" ]
            contexts:
                - RefreshEnvironmentContext
                - DataFixturesContext
                - CatrowebBrowserContext
                - ApiContext

        web-profile:
            paths:    [ "tests/behat/features/web/profile" ]
            contexts:
                - RefreshEnvironmentContext
                - DataFixturesContext
                - CatrowebBrowserContext
                - ApiContext

        web-project:
            paths:    [ "tests/behat/features/web/project" ]
            contexts:
                - RefreshEnvironmentContext
                - DataFixturesContext
                - CatrowebBrowserContext
                - ApiContext

        gamejam:
            paths:    [ "tests/behat/features/gamejam" ]
            contexts:
                - RefreshEnvironmentContext
                - DataFixturesContext
                - CatrowebBrowserContext
                - ApiContext

# --------------------------------------------------------------------------------------------------
# Exclude specific tests based on their tags here:
#
    gherkin:
        filters:
            tags: "@~disabled&&~wip&&~external&&~RealOAuth"

