default:
    formatters:
        pretty:   false
        progress: true
    extensions:
        Behat\Symfony2Extension\ServiceContainer\Symfony2Extension: 
            kernel:
                env: test
                debug: true
        Behat\MinkExtension:
              base_url: http://catroid.local/app_test.php/
              sessions:
                default:
                  selenium2:
                    wd_host: "http://localhost:8643/wd/hub"
                    capabilities:
                      extra_capabilities:
                        phantomjs.page.customHeaders.Accept-Language: 'en'
                    
        VIPSoft\DoctrineDataFixturesExtension\Extension:
            lifetime:    scenario
            autoload:    false
        chartinger\Behat\TwigReportExtension\Extension:
            templates:
                file: default.twig
            output:
                file: ./testreports/behat/index.html

    suites:
        api:
            type: symfony_bundle
            bundle: 'AppBundle'
            features:
            paths:
                - "%paths.base%/src/Catrobat/AppBundle/Features/Api/"
            contexts:
              - Catrobat\AppBundle\Features\Api\Context\FeatureContext:
                    error_directory: "./testreports/behat/"
        flavor:
            type: symfony_bundle
            bundle: 'AppBundle'
            features:
            paths:
                - "%paths.base%/src/Catrobat/AppBundle/Features/Flavor/"
            contexts:
              - Catrobat\AppBundle\Features\Flavor\Context\FeatureContext
        permissions:
            type: symfony_bundle
            bundle: 'AppBundle'
            features:
            paths:
                - "%paths.base%/src/Catrobat/AppBundle/Features/Permissions/"
            contexts:
              - Catrobat\AppBundle\Features\Permissions\Context\FeatureContext
        web:
            type: symfony_bundle
            bundle: 'AppBundle'
            features:
            paths:
                - "%paths.base%/src/Catrobat/AppBundle/Features/Web/"
            contexts:
              - Catrobat\AppBundle\Features\Web\Context\FeatureContext:
                    screenshot_directory: "./testreports/screens/"
        admin:
            type: symfony_bundle
            bundle: 'AppBundle'
            features:
            paths:
                - "%paths.base%/src/Catrobat/AppBundle/Features/Admin/"
            contexts:
              - Catrobat\AppBundle\Features\Admin\Context\FeatureContext:
                    error_directory: "./testreports/behat/"
