project_identifier: catroweb
api_key: #ask for the key
base_url: http://api.crowdin.net
base_path:
preserve_hierarchy: true

files:
  -
    source: '/include/xml/lang/en/**/*.xml'                                   #source files filter
    translation: '/include/xml/lang/%two_letters_code%/**/%original_file_name%'  #where translations live
