project_identifier: catrobat
api_key: #ask the crowdin coordinator for key
base_url: http://api.crowdin.net
preserve_hierarchy: true

files:
  -
    source: '/app/Resources/translations/catroweb.en.yml'                                   #source files filter
    translation: '/app/Resources/translations/catroweb.%locale_with_underscore%.yml'  #where translations live
    update_option: 'update_as_unapproved'
    languages_mapping:
      locale_with_underscore:
        'ar': 'ar'
        'az': 'az'
        'bs': 'bs'
        'ca': 'ca'
        'cs': 'cs'
        'da': 'da'
        'de': 'de'
        'es-ES': 'es'
        'fa': 'fa'
        'fr': 'fr'
        'gl': 'gl'
        'gu-IN': 'gu'
        'he': 'he'
        'hi': 'hi'
        'hr': 'hr'
        'hu': 'hu'
        'id': 'id'
        'it': 'it'
        'ja': 'ja'
        'ml-IN': 'ml'
        'mk': 'mk'
        'ms': 'ms'
        'ko': 'ko'
        'nl': 'nl'
        'no': 'no'
        'pl': 'pl'
        'ps': 'ps'
        'pt-PT': 'pt'
        'ro': 'ro'
        'ru': 'ru'
        'sd': 'sd'
        'sl': 'sl'
        'sr': 'sr'
        'sq': 'sq'
        'sv-SE': 'sv'
        'ta': 'ta'
        'te': 'te'
        'th': 'th'
        'tr': 'tr'
        'ur-PK': 'ur'
        'vi': 'vi'
        'zh-CN': 'zh'