project_identifier: catroweb
api_key: #ask for the key
base_url: http://api.crowdin.net
base_path:
preserve_hierarchy: true

files:
  -
    source: '/src/Catrobat/WebBundle/Resources/translations/catroweb_web.en.yml'                                   #source files filter
    translation: '/src/Catrobat/WebBundle/Resources/translations/catroweb_web.%two_letters_code%.yml'  #where translations live
    update_option: 'update_as_unapproved'
  -
    source: '/src/Catrobat/ApiBundle/Resources/translations/catroweb_api.en.yml'                                   #source files filter
    translation: '/src/Catrobat/ApiBundle/Resources/translations/catroweb_api.%two_letters_code%.yml'  #where translations live
    update_option: 'update_as_unapproved's