parameters:
	ignoreErrors:
		-
			rawMessage: 'Parameter #3 $length of function substr expects int|null, int|false given.'
			identifier: argument.type
			count: 1
			path: public/webp-on-demand.php

		-
			rawMessage: 'Method App\Admin\ApkGeneration\ApkAdmin::configureQuery() should return Sonata\AdminBundle\Datagrid\ProxyQueryInterface<App\DB\Entity\Project\Program> but returns Sonata\DoctrineORMAdminBundle\Datagrid\ProxyQuery.'
			identifier: return.type
			count: 1
			path: src/Admin/ApkGeneration/ApkAdmin.php

		-
			rawMessage: 'Method App\Admin\ApkGeneration\ApkPendingAdmin::configureQuery() should return Sonata\AdminBundle\Datagrid\ProxyQueryInterface<App\DB\Entity\Project\Program> but returns Sonata\DoctrineORMAdminBundle\Datagrid\ProxyQuery.'
			identifier: return.type
			count: 1
			path: src/Admin/ApkGeneration/ApkPendingAdmin.php

		-
			rawMessage: 'Method App\Admin\ApkGeneration\ApkReadyAdmin::configureQuery() should return Sonata\AdminBundle\Datagrid\ProxyQueryInterface<App\DB\Entity\Project\Program> but returns Sonata\DoctrineORMAdminBundle\Datagrid\ProxyQuery.'
			identifier: return.type
			count: 1
			path: src/Admin/ApkGeneration/ApkReadyAdmin.php

		-
			rawMessage: 'Method App\Admin\Projects\ApproveProjects\ApproveProjectsAdmin::configureQuery() should return Sonata\AdminBundle\Datagrid\ProxyQueryInterface<App\DB\Entity\Project\Program> but returns Sonata\DoctrineORMAdminBundle\Datagrid\ProxyQuery.'
			identifier: return.type
			count: 1
			path: src/Admin/Projects/ApproveProjects/ApproveProjectsAdmin.php

		-
			rawMessage: 'Method App\Admin\Projects\SpecialProjects\ExampleProjectAdmin::configureQuery() should return Sonata\AdminBundle\Datagrid\ProxyQueryInterface<App\DB\Entity\Project\Special\ExampleProgram> but returns Sonata\DoctrineORMAdminBundle\Datagrid\ProxyQuery.'
			identifier: return.type
			count: 1
			path: src/Admin/Projects/SpecialProjects/ExampleProjectAdmin.php

		-
			rawMessage: 'Parameter #3 $cache of method App\Api\Services\Base\AbstractResponseManager::__construct() expects Psr\Cache\CacheItemPoolInterface, Psr\Cache\CacheItemPoolInterface|Symfony\Contracts\Cache\CacheInterface given.'
			identifier: argument.type
			count: 1
			path: src/Api/Services/MediaLibrary/MediaLibraryResponseManager.php

		-
			rawMessage: 'Parameter #3 $cache of method App\Api\Services\Base\AbstractResponseManager::__construct() expects Psr\Cache\CacheItemPoolInterface, Psr\Cache\CacheItemPoolInterface|Symfony\Contracts\Cache\CacheInterface given.'
			identifier: argument.type
			count: 1
			path: src/Api/Services/Notifications/NotificationsResponseManager.php

		-
			rawMessage: 'Parameter #3 $cache of method App\Api\Services\Base\AbstractResponseManager::__construct() expects Psr\Cache\CacheItemPoolInterface, Psr\Cache\CacheItemPoolInterface|Symfony\Contracts\Cache\CacheInterface given.'
			identifier: argument.type
			count: 1
			path: src/Api/Services/Projects/ProjectsResponseManager.php

		-
			rawMessage: 'Parameter #3 $cache of method App\Api\Services\Base\AbstractResponseManager::__construct() expects Psr\Cache\CacheItemPoolInterface, Psr\Cache\CacheItemPoolInterface|Symfony\Contracts\Cache\CacheInterface given.'
			identifier: argument.type
			count: 1
			path: src/Api/Services/Search/SearchResponseManager.php

		-
			rawMessage: 'Parameter #3 $cache of method App\Api\Services\Base\AbstractResponseManager::__construct() expects Psr\Cache\CacheItemPoolInterface, Psr\Cache\CacheItemPoolInterface|Symfony\Contracts\Cache\CacheInterface given.'
			identifier: argument.type
			count: 1
			path: src/Api/Services/Studio/StudioResponseManager.php

		-
			rawMessage: 'Parameter #3 $cache of method App\Api\Services\Base\AbstractResponseManager::__construct() expects Psr\Cache\CacheItemPoolInterface, Psr\Cache\CacheItemPoolInterface|Symfony\Contracts\Cache\CacheInterface given.'
			identifier: argument.type
			count: 1
			path: src/Api/Services/User/UserResponseManager.php

		-
			rawMessage: 'Binary operation "." between string and 0.0|array{}|int|string|false|null results in an error.'
			identifier: binaryOp.invalid
			count: 1
			path: src/System/Commands/MigrateRemixGraphsCommand.php

		-
			rawMessage: 'Call to function is_countable() with array<string, mixed> will always evaluate to true.'
			identifier: function.alreadyNarrowedType
			count: 7
			path: src/System/Testing/Behat/Context/ApiContext.php

		-
			rawMessage: 'Parameter #1 $project of method App\System\Testing\Behat\Context\ApiContext::checkProjectFieldsValue() expects array, array|ArrayAccess given.'
			identifier: argument.type
			count: 1
			path: src/System/Testing/Behat/Context/ApiContext.php

		-
			rawMessage: 'Call to an undefined method App\Project\Apk\JenkinsDispatcher::getLastParameters().'
			identifier: method.notFound
			count: 2
			path: src/System/Testing/Behat/Context/CatrowebBrowserContext.php

		-
			rawMessage: 'Call to method save() on an unknown class App\System\Testing\Behat\Context\ProjectManager.'
			identifier: class.notFound
			count: 1
			path: src/System/Testing/Behat/Context/CatrowebBrowserContext.php

		-
			rawMessage: Class App\System\Testing\Behat\Context\ProjectManager not found.
			identifier: class.notFound
			count: 1
			path: src/System/Testing/Behat/Context/CatrowebBrowserContext.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertIsArray() with array<SimpleXMLElement> will always evaluate to true.'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/PhpUnit/Project/CatrobatCode/Parser/BricksTest.php

		-
			rawMessage: 'Parameter #1 $program_entity of method Tests\PhpUnit\Project\Remix\RemixManagerTest::checkRemixRelations() expects App\DB\Entity\Project\Program&PHPUnit\Framework\MockObject\MockObject, App\DB\Entity\Project\Program given.'
			identifier: argument.type
			count: 1
			path: tests/PhpUnit/Project/Remix/RemixManagerTest.php

		-
			rawMessage: 'Parameter #1 $constraint of method PHPUnit\Framework\MockObject\InvocationStubber::method() expects PHPUnit\Framework\Constraint\Constraint|PHPUnit\Framework\MockObject\Runtime\PropertyHook|non-empty-string, string given.'
			identifier: argument.type
			count: 1
			path: tests/PhpUnit/Utils/ElapsedTimeStringFormatterTest.php
