formatter.name: pretty
extensions:
  PhpSpec\CatrobatExtension\Extension: ~
  # PhpSpec\Extension\CodeCoverageExtension: ~

code_coverage:
    whitelist:
      - "src/Catrobat/AppBundle/"
    output:
      html: ./testreports/coverage
      
