includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
  bootstrapFiles:
      - config/bootstrap_test.php
  level: 6  # 0 is the loosest lvl and 9 is the strictest (https://phpstan.org/user-guide/rule-levels)
  paths:
      - src
      - config
      - tests
  inferPrivatePropertyTypeFromConstructor: true
  reportUnmatchedIgnoredErrors: true

  ignoreErrors:
    - identifier: missingType.generics
    - identifier: missingType.iterableValue