formatter.name: pretty

extensions:
  PhpSpec\CatrobatExtension\Extension: ~
  LeanPHP\PhpSpec\CodeCoverage\CodeCoverageExtension: ~

code_coverage:
    whitelist:
      - "src/Catrobat/"
    output:
      html: ./tests/testreports/coverage


suites:
    default:
        spec_prefix: tests\PhpSpec\spec