formatter.name: pretty

extensions:
  PhpSpec\CatrobatExtension\Extension: ~
  # LeanPHP\PhpSpec\CodeCoverage\CodeCoverageExtension: ~ # ToDo can be readded when phpspec 5.2 is supported

code_coverage:
    whitelist:
      - "src/Catrobat/"
    output:
      html: ./tests/testreports/coverage


suites:
    default:
        spec_prefix: tests\PhpSpec\spec