parameters:
  bootstrapFiles:
      - config/bootstrap_test.php
  level: 6  # 0 is the loosest lvl and 9 is the strictest (https://phpstan.org/user-guide/rule-levels)
  paths:
      - src
      - config
      - tests
  inferPrivatePropertyTypeFromConstructor: true
  reportUnmatchedIgnoredErrors: true

  # Would be nice, but not worth the amount of work needed to fix this. Maybe in the future ;)
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
