{
    "swagger": "2.0",
    "info": {
        "title": "Security API",
        "version": "1.0"
    },
    "host": "share.catrob.at",
    "basePath": "/pocketcode",
    "schemes": [
        "https"
    ],
    "paths": {
        "/api/checkToken/check.json": {
            "post": {
                "summary": "Check if a token of a user is still valid",
                "parameters": [
                    {
                        "name": "username",
                        "in": "formData",
                        "description": "The name of the user.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "token",
                        "in": "formData",
                        "description": "The token of the user.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok"
                    },
                    "601": {
                        "description": "Authentication of device failed: invalid auth-token!"
                    }
                }
            }
        },
        "/api/register/Register.json": {
            "post": {
                "summary": "Register a native user",
                "operationId": "registerNativeUser",
                "parameters": [
                    {
                        "name": "registrationUsername",
                        "in": "formData",
                        "description": "The name of the user.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "registrationEmail",
                        "in": "formData",
                        "description": "The email of the user.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "registrationPassword",
                        "in": "formData",
                        "description": "The password of the user.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "601": {
                        "description": "The password or username was incorrect."
                    },
                    "602": {
                        "description": "The password is missing."
                    },
                    "753": {
                        "description": "Your password must have at least 6 characters."
                    },
                    "765": {
                        "description": "Your email seems to be invalid"
                    },
                    "757": {
                        "description": "This email address already exists."
                    },
                    "777": {
                        "description": "This username already exists."
                    },
                    "201": {
                        "description": "Registration successful!"
                    }
                }
            }
        },
        "/api/login/Login.json": {
            "post": {
                "summary": "Login a native user",
                "operationId": "loginNativeUser",
                "parameters": [
                    {
                        "name": "loginUsername",
                        "in": "formData",
                        "description": "The name of the user.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "loginPassword",
                        "in": "formData",
                        "description": "The password of the user.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "601": {
                        "description": "The password or username was incorrect."
                    },
                    "751": {
                        "description": "The password is missing."
                    },
                    "762": {
                        "description": "Username must not be blank"
                    },
                    "753": {
                        "description": "Your password must have at least 6 characters."
                    },
                    "200": {
                        "description": "OK"
                    },
                    "764": {
                        "description": "This username does not exist."
                    }
                }
            }
        }
    },
    "definitions": {}
}