{% extends 'CatrowebBundle::base.html.twig' %}

{% block body %}
<article>
<header>Upload Project</header>
<div class="projectContainer">
   <form action="{{ path('project_upload') }}" method="post" {{ form_enctype(upload_form) }}> 
        {{ form_widget(upload_form) }}
        <p>
            <button type="submit">GO</button>
        </p>
    </form>
</div>
</article>
    
{% endblock %}
