{% extends ":Default:base.html.twig" %}

{% block head %}
{% endblock %}

{% block header %}
  {% include ':Default:headerLogo.html.twig' %}
{% endblock header%}

{% block body %}

{% block fos_user_content %}
  <div class="notification-text">{{ "login.recoverPassSend"|trans({}, "catroweb") }}</div>
{% endblock %}

{% endblock body %}
