{% extends ":Default:base.html.twig" %}

{% block head %}
{% endblock %}

{% block header %}
  {% include ':Default:headerLogo.html.twig' %}
{% endblock header%}

{% block body %}

  {% block fos_user_content %}
    <div class="alert alert-success" style="margin-top: 15px">
      {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
    </div>
  {% endblock fos_user_content %}

{% endblock body %}