{% extends ":Default:base.html.twig" %}

{% block head %}
  {#{% stylesheets '@CatrobatWebBundle/Resources/public/css/custom/login.less' filter='cssrewrite,lessphp' output='compiled/passwordalreadyrequested.css' %}#}
  {#<link rel="stylesheet" href="{{ asset_url }}" />#}
  {#{% endstylesheets %}#}
{% endblock %}

{% block header %}
  {{ render(controller('AppBundle:Web/Default:headerLogo', { _locale: app.request.locale, _embedded: true })) }}
{% endblock header%}

{% block body %}

{% block fos_user_content %}
<div class="notification-text">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</div>
{% endblock fos_user_content %}

{% endblock body %}