{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
  {% if value == 'run' %}
    <span class="badge bg-warning">running</span>
  {% elseif value == 'timeout' %}
    <span class="badge bg-danger">timeout</span>
  {% else %}
    <span class="badge bg-success">idle</span>
  {% endif %}
{% endblock %}
