{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% block list_table %}
    <div class="col-xs-12 col-md-12 mb-5">

        {% include '@SonataTwig/FlashMessage/render.html.twig' %}

        <h1 class="h1" style="margin-top: 0">Cron Jobs</h1>
        <p style="padding: 0.5em">
            There exist various workflows that have to be executed on a regularly basis.
            This section provides the necessary information about previous runs and even allows the manual
            trigger of a new workflow run. <br>Info: The manual job trigger will not immediately start the workflow.
            The job is only added to the queue again and its last run statistics are removed.
        </p>
        <h4>Step-by-step guide on how to add a new workflow</h4>
        <ol>
            <li>Add/modify the cron jobs in `CronJobsCommand.php`</li>
            <li>Add all necessary new commands</li>
            <li>Wait for the next CronJob trigger or start a new run manually</li>
        </ol>

        <a id="btn-trigger-cron-jobs" class="btn btn-large btn-primary" href="{{ triggerCronJobsUrl }}">
            <i class="glyphicon glyphicon-refresh"></i>
            Manually trigger the cron job
        </a>

        <h3>CronJob State Overview</h3>
    </div>

    {{ parent() }}

{% endblock %}
