{% block stylesheets %}
    {{ encore_entry_link_tags('admin_user_communication_maintenance_information_icon_list') }}
{% endblock %}

<div class="horizontal-list-container">
    <ul class="horizontal-list" id="iconList"></ul>
</div>

{% block javascripts %}
  {{ encore_entry_script_tags('admin_user_communication_maintenance_information_icon_list') }}
{% endblock %}
