{% extends ':Default:base.html.twig' %}

{% block head %}
  <link rel="stylesheet" href="{{ asset('css/'~theme()~'/index.css') }}" media="screen"/>
{% endblock %}

{% block body %}

<button onclick="testtag()"> Click me!</button>

  <div>

  {{ test.en }}

  </div>

{% endblock %}



{% block js %}

  <script>

    function testtag() {
      alert("trololo");
    }

  </script>
{% endblock %}
