{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% block list_table %}
  <div class="col-xs-12 col-md-12 mb-5">
      <h1 class="h1" style="margin-top: 0">Flavors</h1>
      {% include '@SonataTwig/FlashMessage/render.html.twig' %}
      <p style="padding: 0.5em">
          Flavors must be added directly in the source code.
          Then, to insert/update those static flavors into the database, the update button must be
          triggered or the command executed in the command line.
          Typically, this is done automatically during the deployment.
      </p>
      <h4>Step-by-step guide on how to add new flavors</h4>
      <ol>
          <li>Add/modify the flavors in `UpdateProjectFlavorsCommand.php`</li>
          <li>Add all necessary new translations</li>
          <li>Add logic to `ProgramFlavorListener.php`</li>
          <li>Trigger the update into the database</li>
      </ol>

      <a id="btn-update-flavors" class="btn btn-large btn-primary" href="{{ updateFlavorsUrl }}">
          <i class="glyphicon glyphicon-refresh"></i>
          Manually trigger the flavors update
      </a>

      <h3>Flavors Overview</h3>
  </div>
  {{ parent() }}
{% endblock %}
