<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
  <meta name="robots" content="noindex,nofollow"/>
  <meta name="viewport" content="width=device-width">
  <title>Pocket Code Website {% block title %}{% endblock %}</title>

  {% stylesheets 'css/plugins/*'
                 'css/base/*' filter='cssrewrite,lessphp' output='compiled/base.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" media="screen"/>
  {% endstylesheets %}

  {% javascripts 'js/plugins/*'
                 'js/base/*' output='compiled/script.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% block head %}{% endblock %}
</head>
<body>

<div id="wrapper">
  <header>
    {% block header %}
      {% include ':Default:header.html.twig' %}
    {% endblock %}
  </header>

  <article>
    {% block body %}{% endblock %}
  </article>
</div>

<footer>
  {% block footer %}
      {% include ':Default:footer.html.twig' %}
  {% endblock %}
</footer>


<script>
  new Main('{{ path('search', {'q': 0, 'flavor': app.request.attributes.get('flavor') } ) }}');
</script>
{% block js %}{% endblock %}

</body>
</html>
