services:


# =========================== Blocks ===========================

      catrowebadmin.block.programs.all:
        class: Catrobat\AppBundle\Admin\AllProgramsAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: All Programs }
        arguments: [null, Catrobat\AppBundle\Entity\Program, null]

      catrowebadmin.block.programs.approve:
        class: Catrobat\AppBundle\Admin\ApproveProgramsAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Approve Programs }
        arguments: [null, Catrobat\AppBundle\Entity\Program, AppBundle:Admin\ApproveProgram]

      catrowebadmin.block.programs.reported:
        class: Catrobat\AppBundle\Admin\ReportedProgramsAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Reported Programs }
        arguments: [null, Catrobat\AppBundle\Entity\ProgramInappropriateReport, null]

      catrowebadmin.block.programs.comments:
        class: Catrobat\AppBundle\Admin\ReportAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Reported Comments }
        arguments: [null, Catrobat\AppBundle\Entity\UserComment, AppBundle:Admin\Report]

      catrowebadmin.block.programs.stats:
        class: Catrobat\AppBundle\Admin\ProgramDownloadStatisticsAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Program Download Statistics }
        arguments: [null, Catrobat\AppBundle\Entity\ProgramDownloads, null]

      catrowebadmin.block.programs.categories:
        class: Catrobat\AppBundle\Admin\CategoriesAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Starter Programs }
        arguments: [null, Catrobat\AppBundle\Entity\StarterCategory, null]

      catrowebadmin.block.tools.notify:
        class: Catrobat\AppBundle\Admin\NotificationAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Notifications }
        arguments: [null, Catrobat\AppBundle\Entity\Notification, null]

      catrowebadmin.block.tools.rudewords:
        class: Catrobat\AppBundle\Admin\RudewordAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Rudewords }
        arguments: [null, Catrobat\AppBundle\Entity\RudeWord, null]

      # TODO change 2nd parameter
      catrowebadmin.block.tools.gcm:
              class: Catrobat\AppBundle\Admin\GoogleCloudMessagingAdmin
              tags:
                - { name: sonata.admin, manager_type: orm, label: Push Notifications }
              arguments: [null, Catrobat\AppBundle\Entity\Group, AppBundle:Admin\GoogleCloudMessaging]

      # TODO change 2nd parameter
      catrowebadmin.block.tools.mail:
              class: Catrobat\AppBundle\Admin\EmailUserMessageAdmin
              tags:
                - { name: sonata.admin, manager_type: orm, label: SendMail }
              arguments: [null, Catrobat\AppBundle\Entity\Group, AppBundle:Admin\EmailUserMessage]

      catrowebadmin.block.featured.program:
        class: Catrobat\AppBundle\Admin\FeaturedProgramAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Featured Programs }
        arguments: [null, Catrobat\AppBundle\Entity\FeaturedProgram, null]

      catrowebadmin.block.featured.url:
        class: Catrobat\AppBundle\Admin\FeaturedUrlAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Featured Urls }
        arguments: [null, Catrobat\AppBundle\Entity\FeaturedProgram, null]

      catrowebadmin.block.mediapackage.file:
        class: Catrobat\AppBundle\Admin\MediaPackageFileAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Files }
        arguments: [null, Catrobat\AppBundle\Entity\MediaPackageFile, null]

      catrowebadmin.block.mediapackage.category:
        class: Catrobat\AppBundle\Admin\MediaPackageCategoriesAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Categories }
        arguments: [null, Catrobat\AppBundle\Entity\MediaPackageCategory, null]

      catrowebadmin.block.mediapackage.package:
        class: Catrobat\AppBundle\Admin\MediaPackageAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Packages }
        arguments: [null, Catrobat\AppBundle\Entity\MediaPackage, null]
        
      catrowebadmin.block.apk.pending:
        class: Catrobat\AppBundle\Admin\PendingApkRequestsAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Pending }
        arguments: [null, Catrobat\AppBundle\Entity\Program, AppBundle:Admin\Apk]
      
      catrowebadmin.block.apk.list:
        class: Catrobat\AppBundle\Admin\ApkListAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Ready }
        arguments: [null, Catrobat\AppBundle\Entity\Program, AppBundle:Admin\Apk]

      catrowebadmin.block.tools.statistic:
        class: Catrobat\AppBundle\Admin\Blocks\StatisticBlockService
        tags:
          - { name: sonata.block, label: Cleanup }
        arguments:
         - "catrowebadmin.block.tools.statistic"
         - "@templating"
         - "%catrobat.file.extract.dir%"
         - "%catrobat.apk.dir%"

      # TODO change 2nd parameter
      catrowebadmin.block.tools.maintain:
        class: Catrobat\AppBundle\Admin\MaintainAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Maintain, icon: '<i class="fa fa-cogs"></i>' }
        arguments: [null, Catrobat\AppBundle\Entity\Group, AppBundle:Admin\Maintain]

      # TODO change 2nd parameter
      catrowebadmin.block.tools.logs:
        class: Catrobat\AppBundle\Admin\LogsAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Logs, icon: '<i class="fa fa-cogs"></i>' }
        arguments: [null, Catrobat\AppBundle\Entity\Group, AppBundle:Admin\Logs]

      catrowebadmin.block.users.limited:
        class: Catrobat\AppBundle\Admin\LimitedUsersAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Limited Users, icon: '<i class="fa fa-cogs"></i>' }
        arguments: [null, Catrobat\AppBundle\Entity\User, null]

      # TODO change 2nd parameter
      catrowebadmin.block.program.snapshots:
        class: Catrobat\AppBundle\Admin\SnapshotAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Snapshots, icon: '<i class="fa fa-cogs"></i>' }
        arguments: [null, Catrobat\AppBundle\Entity\Group, AppBundle:Admin\Snapshot]

      catrowebadmin.block.extensions.all:
        class: Catrobat\AppBundle\Admin\AllExtensionsAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: All Extensions }
        arguments: [null, Catrobat\AppBundle\Entity\Extension, null]

# =========================== GameJam ===========================

      catrowebadmin.block.gamejam:
        class: Catrobat\AppBundle\Admin\GameJamAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: GameJams }
        arguments: [catrowebadmin.block.gamejam, Catrobat\AppBundle\Entity\GameJam, null]
        calls:
          - [addChild, ["@catrowebadmin.block.gamejam.submitted"]]
      
      catrowebadmin.block.gamejam.submitted:
        class: Catrobat\AppBundle\Admin\GameJamSubmittedProgramsAdmin
        tags:
          - { name: sonata.admin, manager_type: orm, label: Submittions }
        arguments: [null, Catrobat\AppBundle\Entity\Program, AppBundle:Admin\GameJamSubmittedPrograms]
