services:

  # =========================== Blocks ===============================================================

  # ===== Programs

  catrowebadmin.block.programs.all:
    class: Catrobat\AppBundle\Admin\AllProgramsAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "All Programs" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\Program
    - ~
    public: true

  catrowebadmin.block.programs.approve:
    class: Catrobat\AppBundle\Admin\ApproveProgramsAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Approve Programs" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\Program
    - Catrobat\AppBundle\Controller\Admin\ApproveProgramController
    public: true

  catrowebadmin.block.programs.reported:
    class: Catrobat\AppBundle\Admin\ReportedProgramsAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Reported Programs" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\ProgramInappropriateReport
    - Catrobat\AppBundle\Controller\Admin\ReportController
    public: true

  catrowebadmin.block.programs.comments:
    class: Catrobat\AppBundle\Admin\ReportedCommentsAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Reported Comments" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\UserComment
    - Catrobat\AppBundle\Controller\Admin\ReportController
    public: true

  # ===== Special Programs

  catrowebadmin.block.programs.categories:
    class: Catrobat\AppBundle\Admin\CategoriesAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Starter Programs" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\StarterCategory
    - ~
    public: true

  catrowebadmin.block.featured.program:
    class: Catrobat\AppBundle\Admin\FeaturedProgramAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Featured Programs" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\FeaturedProgram
    - ~
    public: true

  catrowebadmin.block.featured.url:
    class: Catrobat\AppBundle\Admin\FeaturedUrlAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Featured Urls" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\FeaturedProgram
    - ~
    public: true

  catrowebadmin.block.programs.templates:
    class: Catrobat\AppBundle\Admin\TemplateAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Template Programs" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\Template
    - Catrobat\AppBundle\Controller\Admin\TemplateController
    public: true

  catrowebadmin.block.nolb.examples:
    class: Catrobat\AppBundle\Admin\NolbExampleAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Nolb Example Programs"}
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\NolbExampleProgram
    - ~
    public: true

  # ===== Media Package

  catrowebadmin.block.mediapackage.package:
    class: Catrobat\AppBundle\Admin\MediaPackageAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Packages" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\MediaPackage
    - ~
    public: true

  catrowebadmin.block.mediapackage.category:
    class: Catrobat\AppBundle\Admin\MediaPackageCategoriesAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Categories" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\MediaPackageCategory
    - ~
    public: true

  catrowebadmin.block.mediapackage.file:
    class: Catrobat\AppBundle\Admin\MediaPackageFileAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Files" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\MediaPackageFile
    - ~
    public: true

  # ===== Apk Generation

  catrowebadmin.block.apk.pending:
    class: Catrobat\AppBundle\Admin\PendingApkRequestsAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Pending" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\Program
    - Catrobat\AppBundle\Controller\Admin\ApkController
    public: true

  catrowebadmin.block.apk.list:
    class: Catrobat\AppBundle\Admin\ApkListAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Ready" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\Program
    - Catrobat\AppBundle\Controller\Admin\ApkController
    public: true

  # ===== Users

  catrowebadmin.block.users.user:
    class: Catrobat\AppBundle\Admin\UserAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: User, icon: '<i class="fa fa-cogs"></i>' }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\User
    - ~

  catrowebadmin.block.users.limited:
    class: Catrobat\AppBundle\Admin\LimitedUsersAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Limited Users",
        icon: '<i class="fa fa-cogs"></i>' }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\User
    - ~
    public: true

  # ===== Tools

  # TODO change 2nd parameter
  catrowebadmin.block.tools.maintain:
    class: Catrobat\AppBundle\Admin\MaintainAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Maintain",
        icon: '<i class="fa fa-cogs"></i>' }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\Group
    - Catrobat\AppBundle\Controller\Admin\MaintainController
    public: true

  # TODO change 2nd parameter
  catrowebadmin.block.tools.logs:
    class: Catrobat\AppBundle\Admin\LogsAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Logs",
        icon: '<i class="fa fa-cogs"></i>' }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\Group
    - Catrobat\AppBundle\Controller\Admin\LogsController
    public: true

  catrowebadmin.block.tools.notify:
    class: Catrobat\AppBundle\Admin\NotificationAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Notifications" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\Notification
    - ~
    public: true

  catrowebadmin.block.tools.rudewords:
    class: Catrobat\AppBundle\Admin\RudewordAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Rude Words" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\RudeWord
    - ~
    public: true

  # TODO change 2nd parameter
  catrowebadmin.block.tools.gcm:
    class: Catrobat\AppBundle\Admin\GoogleCloudMessagingAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Push Notifications" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\Group
    - Catrobat\AppBundle\Controller\Admin\GoogleCloudMessagingController
    public: true

  # TODO change 2nd parameter
  catrowebadmin.block.tools.mail:
    class: Catrobat\AppBundle\Admin\EmailUserMessageAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Send Mail" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\Group
    - Catrobat\AppBundle\Controller\Admin\EmailUserMessageController
    public: true

  catrowebadmin.block.tools.broadcast:
    class: Catrobat\AppBundle\Admin\BroadcastNotificationAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Broadcast Notification" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\BroadcastNotification
    - Catrobat\AppBundle\Controller\Admin\BroadcastNotificationController
    public: true

  # ===== Extensions

  catrowebadmin.block.extensions.all:
    class: Catrobat\AppBundle\Admin\AllExtensionsAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "All Extensions" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\Extension
    - ~
    public: true

  # TODO change 2nd parameter
  catrowebadmin.block.extensions.create:
    class: Catrobat\AppBundle\Admin\CreateExtensionsAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Create Extensions"}
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\Group
    - Catrobat\AppBundle\Controller\Admin\ExtensionController
    public: true

  # ===== Statistics

  catrowebadmin.block.tools.statistic:
    class: Catrobat\AppBundle\Admin\Blocks\StatisticBlockService
    tags:
    - { name: sonata.block, label: Cleanup }
    arguments:
    - "catrowebadmin.block.tools.statistic"
    - "@templating"
    - "%catrobat.file.extract.dir%"
    - "%catrobat.apk.dir%"
    public: true

  catrowebadmin.block.statistics.programs:
    class: Catrobat\AppBundle\Admin\ProgramDownloadStatisticsAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Program Download Statistics" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\ProgramDownloads
    - ~
    public: true

  catrowebadmin.block.statistics.clicks:
    class: Catrobat\AppBundle\Admin\ClickStatisticsAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Click Statistics" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\ClickStatistic
    - ~
    public: true

  # ===== GameJam

  catrowebadmin.block.gamejam:
    class: Catrobat\AppBundle\Admin\GameJamAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "GameJams" }
    arguments:
    - catrowebadmin.block.gamejam
    - Catrobat\AppBundle\Entity\GameJam
    - ~
    calls:
    - [addChild, ["@catrowebadmin.block.gamejam.submitted", 'NAME_OF_PARENT']]
    public: true

  catrowebadmin.block.gamejam.submitted:
    class: Catrobat\AppBundle\Admin\GameJamSubmittedProgramsAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Submissions" }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\Program
    - Catrobat\AppBundle\Controller\Admin\GameJamSubmittedProgramsController
    public: true

  # TODO change 2nd parameter
  catrowebadmin.block.program.snapshots:
    class: Catrobat\AppBundle\Admin\SnapshotAdmin
    tags:
    - { name: sonata.admin, manager_type: orm, label: "Snapshots",
        icon: '<i class="fa fa-cogs"></i>' }
    arguments:
    - ~
    - Catrobat\AppBundle\Entity\Group
    - Catrobat\AppBundle\Controller\Admin\SnapshotController
    public: true

