h3 {
  margin-left: 20px;
}

p {
  margin-left: 20px;
}

.mtable {
  display: table;
  margin-left: 20px;
  margin-bottom: 30px;
  width: 95%;
}

.lrow {
  width: 150px;
  line-height: 28px;
  display: table-row;
  float: left;
  clear: both;
}

.rrow {
  display: table-row;
  float: left;
  margin-bottom: 10px;
  width: 500px;
}

.error {
  color: red;
}

.success {
  color: green;
}
