.full-modal-dialog {
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.full-modal-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  border: none;
}

.modal-header-full {
  padding: 0;
  color: #fff;
  background-color: var(--mdc-theme-primary, #00acc1);
  border: none;
}

@media only screen and (width >= 768px) {
  .modal-full {
    left: 250px;
    width: calc(100% - 250px);
    padding-right: 0 !important;
    border-left: none !important;
  }
}

.modal-header {
  margin-bottom: 1.5rem;
}
