@import '@material/list/dist/mdc.list.css';
@import '@material/menu-surface/dist/mdc.menu-surface.css';
@import '@material/menu/dist/mdc.menu.css';

.mdc-menu {
  --mdc-theme-surface: var(--bs-body-bg);
  --mdc-theme-on-surface: var(--bs-body-color);
}

.mdc-menu .mdc-deprecated-list,
.mdc-menu .mdc-deprecated-list-item__graphic,
.mdc-menu .mdc-deprecated-list-item__text {
  color: var(--mdc-theme-on-surface);
}
