@use '~@material/select/styles';
@import '../Components/MdcMenu';
@import '../Layout/Variables';

// Overwrite material Select

.mdc-select {
  width: 100%;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--mdc-theme-primary) !important;
}
