@use '~@material/floating-label/mdc-floating-label';
@use '~@material/line-ripple/mdc-line-ripple';
@use '~@material/notched-outline/mdc-notched-outline';
@use '~@material/textfield';
@import '../Layout/Variables';
@include textfield.core-styles;

// Prevent chrome autofill background color
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #fff inset !important;
}

// Overwrite material Text Field

.mdc-text-field {
  width: 100%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mdc-text-field--focused:not(.mdc-text-field--disabled) {
  background-color: $body-bg !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--mdc-theme-primary) !important;
}

.mdc-text-field-helper-text--validation-msg {
  color: var(--mdc-theme-error, #b00020) !important;
}

.mdc-text-field--textarea.mdc-text-field--with-leading-icon {
  .mdc-text-field__icon {
    position: absolute;
    left: 0;
    top: 13px;
  }

  .mdc-text-field__input {
    padding-left: 48px;
  }
}
