@import "../base/variables";
@import 'theme_settings';

p {
  padding: 0;
  margin: 0;
}

p.light,
span.light {
  color: black;
}


p.heavy,
span.heavy {
  font-weight: 700;
}

.brick-stat-heading {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

span.brick-stat-heading {
  font-size: 14px;
}

.exception {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 50px 0 25px;
}

.show-hide-code-statistic,
.show-hide-code {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid $default-text-color;
  height: 61px;
  z-index: 2;

  .show-hide-code-statistic-text,
  .show-hide-code-text {
    position: absolute;
    top: 25px;
    left: 10%;
    height: 35px;
    line-height: 35px;
    font-size: 19px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
  }

  .show-hide-code-statistic-arrow,
  .show-hide-code-arrow {
    position: absolute;
    right: #{"calc(22% - 4px)"};
    top: 32px;
    height: 20px;

    img {
      height: 20px;
      width: auto;
      vertical-align: baseline;
    }
  }

  .rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    display: inline-block;
  }
}

.show-hide-code-statistic:hover,
.show-hide-code:hover {
  cursor: hand;
}

#codestatistic-wrapper {
  width: 100%;
  padding: 0 15% 0 15%;
  display: none;

  .dropbtn > p {
    color: black;
    font-weight: 700;
    margin-left: 8px;
  }

  .total-statistic {
    max-width: 40%;
    margin: 0 auto;

    .flex-container {
      justify-content: space-between;

      .flex-right {
        text-align: right;
      }
    }


  }

  img.diff-statistic-arrow {
    position: absolute;
    bottom: 6px;
    left: -15px;
    height: auto;
    width: auto;
    max-height: 6px;
    margin: 0;
    border: none;
    transform: rotate(-90deg);

    &:hover {
      cursor: pointer;
    }
  }

  .brick-statistics {
    padding: 0 40px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .brick-statistic-block {
    position: relative;
    margin: 8px;
    min-width: 20%;
    height: 62px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    transition: all 0.15s ease;

    div:nth-child(2) {
      margin-left: 12px;
    }

    .specific-brick-stats {
      margin-left: 10px;
      text-align: right;
      position: relative;
      width: 100px;
      color: black;

      .specific-stat-num {
        margin-left: 12px;
      }
    }

    .different-statistic-dropcontent {
      z-index: 10;
      display: none;
      width: #{"calc(100% + 100px)"};
      position: absolute;
      top: -25px;
      left: -50px;
      background-color: rgba(14,14,14,.9);
      border-radius: 5px;
      text-align: center;
      padding: 97px 5px 25px;

      .no-brick-type-note {
        font-size: 13px;
        margin-top: 10px;
        text-transform: uppercase;
      }

      .different-brick-type {
        position: relative;

        &:first-of-type {
          margin-top: 10px;
        }
      }

      .separation-line {
        display: inline-block;
        height: 2px;
        width: 40px;
        background-color: rgba(255,255,255,.7);
      }

      .exit-btn {
        border-radius: 50%;
        background-color: rgba(14,14,14,.9);
        position: absolute;
        right: -7.5px;
        top: -7.5px;
        width: 25px;
        height: 25px;

        img {
          width: 10px;
          height: 10px;
        }
      }
    }

    &.active {
      background-color: rgba(14,14,14,.9);

      .brick-stat-heading {
        z-index: 15;
        color: black;
      }

      .specific-brick-stats {
        z-index: 15;

        span.light {
          color: rgba(255,255,255,0.9);
        }

        span.heavy {
          color: $default-text-color;
        }
      }
    }

    &:hover {
      cursor: pointer;

      .brick-stat-heading {
        color: black;
      }

      span.light {
        color: rgba(255,255,255,0.9);
      }

      span.heavy {
        color: $default-text-color;
      }
    }
  }

  .dropdown-content {
    padding: 6px;
    font-size: 14px;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

    .flex-right {
      margin-left: 5%;
    }

    .flex-left {
      position: relative;
    }
  }

}

#codeview-wrapper {
  margin: 15px 0 0 0;
  display: none;
  z-index: 0;
  width: 100%;
  padding: 0 15% 0 15%;

  .scenes-wrapper {
    margin: 0 -10%;

    .scene {
      margin-bottom: 15px;

      .scene-dropbtn {
        position: relative;

        .scene-arrow {
          right: 16.7%;
          bottom: 10px;
          top: auto;
        }

        .scene-heading {
          margin: 0 10px;
          border-bottom: 1px solid $default-text-color;

          span {
            margin-left: 8px;
            color: black;
            font-size: 16px;
          }
        }
      }
      &:hover {
        cursor: pointer;
      }

      .scene-content {
        display: none;
        margin: 15px 8.5% 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .heading {
    color: black;
    padding: 5px 10px;
    border-bottom: solid 3px rgba(115, 154, 166, 0.3);
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 15%;
    font-size: $default-font-size;
  }

  .object, #background {
    margin: 5px 0;
    width: 100%;
  }

  .arrow {
    position: absolute;
    width: 26px;
    height: 15px;
    right: 10%;
    top: 42%;
    transition: all 250ms ease-in-out;

    &.group-arrow {
      top: 30%;
    }

    &.statistic-arrow {
      top: 24%;
    }

    img {
      height: auto;
      width: auto;
      max-height: 15px;
      margin: 0;
      border: none;
      vertical-align: baseline;
    }
  }

  .dropbtn {
    position: relative;
    padding: 5px;
    background-color: rgb(23,165,184);
    border-top: solid 2px #739aa6;
    border-bottom: solid 2px black;
    border-radius: 3px;

    .object-icon {
      width: 65px;
      height: 65px;
      position: absolute;
      left: 0;
      margin: 0 8px;
      margin-top: 3px;
      border: 2px solid #88c7dc;
    }

    .object-meta {
      color: white;
      font-size: $default-font-size;
      text-transform: none;
      text-shadow: none;
      font-weight: normal;
      text-align: left;
      margin-left: 90px; // to be reset
      position: relative;

      &.outdented {
        margin-left: 3px;
      }

      .object-meta-name {
        display: inline-block;
      }

      .object-meta-value {
        display: inline-block;
        margin-left: 14px;
      }
    }
  }


  .dropbtn:hover {
    cursor: pointer;
    background-color: #006c87;
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
  }

  .dropdown-content {
    padding-top: 11px;
    display: none;
    position: relative;
    background-color: #F5F5F6;
    height: auto;
    color: black;
    border-radius: 3px;
    font-size: $default-font-size;

    .script {
      margin-bottom: 15px;
      position: relative;
      z-index: 1;

      .script-top-brick {
        position: relative;
        height: 68px;
        overflow: hidden;
        background-size: cover;

        .script-text {
          position: absolute;
          top: 48%;
          left: 50px;
        }

        .script-brick-look,
        .script-brick-sound {
          width: 35px;
          height: 35px;
        }

      }

      .script-bricks-wrapper {

        .brick {
          margin-top: -5px;
          position: relative;
          height: 48px;
          overflow: hidden;
          background-size: cover;

          .brick-name {
            position: absolute;
            top: 0;
            left: 0;
            color: lightcoral;
            z-index: 1;
          }

          .brick-text {
            position: absolute;
            top: 31%;
            left: 50px;
            display: inline-block;
            z-index: 1;
            white-space: nowrap;
          }

          .brick-sound {
            cursor: pointer;
          }

        }

      }

      .brick-look, .brick-sound {
        width: 38px;
        height: 38px;
        min-height: 0;
        position: absolute;
        bottom: 7px;
        right: 10px;
        z-index: 1;
      }

    }
  }

  .group-dropdown-content {
    display: none;
    margin-left: 30px;

    .arrow {
      right: #{"calc(10% + 3px)"};
    }
  }

  .note {
    text-align: center;
    font-size: $default-font-size;
    padding: 20px 0;
  }

  #object-list-wrapper {
    margin-top: 5%;
  }

  .show {
    display: block;
  }

  .rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    display: inline-block;
  }
}

@media (max-width: 992px) {
  .show-hide-code-statistic,
  .show-hide-code {
    .show-hide-code-statistic-arrow,
    .show-hide-code-arrow {
      right: #{"calc(19.5% - 5px)"};
    }

    .show-hide-code-statistic-text,
    .show-hide-code-text {
      left: 8%;
    }
  }

  #codestatistic-wrapper,
  #codeview-wrapper {
    padding: 0 12% 0 12%;

    .scenes-wrapper {
      margin: 0 -10%;
    }
  }
}

@media (max-width: 768px) {
  .show-hide-code-statistic,
  .show-hide-code {
    .show-hide-code-statistic-arrow,
    .show-hide-code-arrow {
      right: #{"calc(13.8% - 5px)"};
    }
  }

  #codeview-wrapper {
    padding: 0;

    .scenes-wrapper {
      margin: 0;
    }

    .scenes-wrapper {
      .scene {
        .scene-content {
          margin-left: 5%;
          margin-right: 5%;
        }

        .scene-dropbtn {

          margin-left: 5%;
          margin-right: 5%;

          .scene-arrow {
            right: 10%;
          }
        }

      }
    }
  }

  #codestatistic-wrapper {
    padding: 0 5% 0 5%;

    .total-statistic {
      max-width: 50%;
    }
  }
}

@media (max-width: 640px) {

  .show-hide-code-statistic,
  .show-hide-code {
    .show-hide-code-statistic-arrow,
    .show-hide-code-arrow {
      right: #{"calc(10% - 5px)"};
    }

    .show-hide-code-statistic-text,
    .show-hide-code-text {
      left: 4%;
    }
  }

  #codeview-wrapper {
    width: 100%;
    padding: 0;


    .scenes-wrapper {
      .scene {
        .scene-content {
          margin-left: 0;
          margin-right: 0;
        }

        .scene-dropbtn {

          margin-left: 0;
          margin-right: 0;

          .scene-arrow {
            right: 10%;
          }
        }

      }
    }
  }

  #codestatistic-wrapper {
    width: 100%;
    padding: 0;

    .total-statistic {
      max-width: 80%;
    }
  }

  .dropdown-content {
    padding-top: 11px;
    text-align: center;
  }
}