@import 'default';

#code-wrapper {
  width: 60%;
  margin: 0 20%;

  p {
    padding: 0;
    margin: 0;
  }

  .heading {
    color: white;
    padding: 5px 10px;
    border-bottom: solid 3px rgba(115, 154, 166, 0.3);
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 15%;
    font-size: @default-font-size;
  }

  .object, #background {
    margin: 5px 0;
    width: 100%;
    // -moz-box-shadow: 1px 2px 5px black, -1px 2px 5px black;
    // -webkit-box-shadow: 1px 2px 5px black, -1px 2px 5px black;
    // box-shadow: 1px 2px 5px black, -1px 2px 5px black;
  }

  .dropbtn {
    width: 100%;
    position: relative;
    padding: 5px;
    background-color: #00475d;
    border-top: solid 2px #739aa6;
    border-bottom: solid 2px black;
    border-radius: 3px;

    .object-icon {
      width: 65px;
      height: 65px;
      position: absolute;
      left: 0;
      margin: 0 8px;
      margin-top: 3px;
      border: 2px solid #88c7dc;
    }

    .object-meta {
      color: white;
      font-size: @default-font-size;
      text-transform: none;
      text-shadow: none;
      font-weight: normal;
      text-align: left;
      margin-left: 90px; // to be reset
      position: relative;

      .object-meta-name {
        display: inline-block;
      }

      .object-meta-value {
        display: inline-block;
        margin-left: 14px;
      }
    }

    .arrow {
      position: absolute;
      width: 26px;
      height: 15px;
      right: 10%;
      top: 42%;
      transition: all 250ms ease-in-out;

      img {
        height: auto;
        width: auto;
        max-height: 15px;
        margin: 0;
        border: none;
      }
    }
  }


  .dropbtn:hover {
    cursor: pointer;
    cursor: hand;
    background-color: #006c87;
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    -ms-transition: background-color 0.15s ease-in-out;
    -o-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
  }

  .dropdown-content {
    padding-top: 11px;
    display: none;
    position: relative;
    background-color: #003149;
    height: auto;
    color: white;
    border-radius: 3px;
    font-size: @default-font-size;

    .script {
      margin-bottom: 15px;
      position: relative;
      z-index: 1;

      .script-top-brick {
        position: relative;
        height: 68px;
        overflow: hidden;
        background-size: cover;

        .script-type {
          position: absolute;
          top: 48%;
          left: 50px;
        }

        .script-message {
          position: absolute;
          top: 48%;
          left: 145px;
        }
        .script-message:before {
          content: open-quote;
        }
        .script-message:after {
          content: close-quote;
        }


      }

      .script-bricks-wrapper {

        .brick {
          margin-top: -5px;
          position: relative;
          height: 48px;
          overflow: hidden;
          background-size: cover;

          .brick-name {
            position: absolute;
            top: 0;
            left: 0;
            color: lightcoral;
            z-index: 1;
          }

          .brick-text {
            position: absolute;
            top: 31%;
            left: 50px;
            display: inline-block;
            z-index: 1;
            white-space: nowrap;
          }

          .brick-look, .brick-sound {
            width: 40px;
            height: 40px;
            min-height: 0;
            position: absolute;
            top: 5%;
            right: 10px;
            z-index: 1;
          }

          .brick-sound {
            cursor: pointer;
            cursor: hand;
          }

        }

      }

    }
  }

  .exception {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 50px 0 25px;
    color: rgba(255, 255, 255, 0.4);
  }

  .note {
    text-align: center;
    font-size: @default-font-size;
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.4);
  }

  #object-list-wrapper {
    margin-top: 5%;
  }

  .show {
    display: block;
  }

  .rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    display: inline-block;
  }
}

@media (max-width: 800px) {
  #code-wrapper {
    width: 70%;
    margin: 0 15%;
  }
}

@media (max-width: 640px) {

  #code-wrapper {
    width: 100%;
    margin: 0;
  }

  .dropdown-content {
    padding-top: 11px;
    text-align: center;

    .left-side-dropdown-content {
      width: 100% !important;
      display: block !important;
      border: none !important;
      max-width: 380px !important;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      margin-left: 50% !important;

    }

    .right-side-dropdown-content {
      width: 100% !important;
      display: block !important;
      border: none !important;
      max-width: 380px !important;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      margin-left: 50% !important;
    }
  }
}