h1 {
    text-align: center;
}

#featuredPrograms {
  margin-bottom: 25px;

  h1 {
    margin-bottom: 25px;
  }
}

#feature-slider
{
    padding: 2px 0px; 
}

.visited-program {
  opacity: 0.6;
  a {
    color: #2a85a0;
  }
}