@import "../base/variables";
@import 'theme_settings';

h1 {
  text-align: center;
}

#featuredPrograms {
  margin-bottom: 25px;

  h1 {
    margin-bottom: 25px;
  }
}

.visited-program {
  opacity: 0.6;
  a {
    color: $primary;
  }
}


// feature bootstrap carousel
$carousel-indicator-size: 1em;
$carousel-control-size: 4em;
$carousel-indicator-margin: 0.2em;

.carousel-indicators li {
  display: inline-block;
  width: $carousel-indicator-size;
  height: $carousel-indicator-size;
  margin: $carousel-indicator-margin;
  text-indent: 0;
  bottom: -1em;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: $secondary;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);

  @media screen and (max-width: 768px) {
    width: $carousel-indicator-size / 1.3;
    height: $carousel-indicator-size / 1.3;
    margin: $carousel-indicator-margin / 1.3;
  }

  @media screen and (max-width: 768px) {
    width: $carousel-indicator-size / 1.6;
    height: $carousel-indicator-size / 1.6;
    margin: $carousel-indicator-margin / 1.6;
  }
}

.carousel-indicators .active {
  background-color: $primary;
}

.carousel-control  {
    font-size: $carousel-control-size;

  @media screen and (max-width: 768px) {
    font-size: $carousel-control-size / 1.3;
  }

  @media screen and (max-width: 576px) {
    font-size: $carousel-control-size / 1.6;
  }
}