@import 'default';

.login {
    width: 318px;
}

h1 {
  width: 318px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#login_links {
  font-size: 16px;
  width: 318px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 12px;
}

#separator {
  text-align: center;
}

#or {
  width: 38px;
  margin-left: 5px;
  margin-right: 5px;
}

hr {
  width: 140px;
  display:inline-block;
  position:relative;
  top:4px;
  border-color: @default-border-color;
}

.hidden {
  width: 0px;
  height: 0px;
  background: transparent;
  border: none !important;
}

.ui-widget-header,.ui-state-default {
  background:@default-border-color;
  border: 3px solid @default-border-color;
  color: #FFFFFF;
  font-weight: bold;
}

.dialog-oauth-username {
  text-align: center;
}

#btn_oauth_username {
  width: 100%;
  opacity: 0.5;
  min-width: 50%;
  margin-top: 2px;
}


#dialog_oauth_username_input {
  width: 100%;
  border: 1px;
  border-style: solid;
  border-color: grey;
}

#error_username_taken {
  display: none;
}
