@import 'default';

body {
  padding-top: 50px;
}

.login {
  width: 318px;
}
.group {
  margin-top: 40px;
  position: relative;
}
.group input {
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 172, 193, 0.3);
  background: none;
  color: rgb(0, 172, 193);
}
.group input:focus {
  outline: none;
}
/* LABEL ======================================= */

.group label {
  color: rgba(0, 172, 193, 0.5);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 20px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* active durum */

.group input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: rgba(0, 172, 193, 0.7);
}
/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: rgba(0, 172, 193, 0.7);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
/* active durum bar */

.group input:focus ~ .bar:before,
.group input:focus ~ .bar:after {
  width: 50%;
}
/* HIGHLIGHTER ================================== */

.highlight {
  position: absolute;
  height: 0%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
/* active durum */

.group input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
/* form animasyon ================ */

@-webkit-keyframes inputHighlighter {
  from {
    background: rgba(0, 172, 193, 0.7);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: rgba(0, 172, 193, 0.7);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: rgba(0, 172, 193, 0.7);
  }
  to {
    width: 0;
    background: transparent;
  }
}

.span-input {
  margin-left: 10px;
  position: relative;
  top: -5px;
}


.social-button-effects {
  opacity: 0.9;
}

.social-button-effects:hover {
  opacity: 1.1;
}



#_submit {
  width: 100%;
}

.form-group {
  min-height: 39px;
}

h1 {
  width: 318px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#login_links {
  font-size: 16px;
  width: 318px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 12px;
}

#logo{
}

#seperator-text {
  top:10px;
  position: relative;
  text-align: left;
}

hr {
  width: 100%;
  border-color: @default-border-color;
}

.hidden {
  width: 0px;
  height: 0px;
  background: transparent;
  border: none !important;
}

.ui-widget-header,.ui-state-default {
  background:@default-border-color;
  border: 3px solid @default-border-color;
  color: #FFFFFF;
  font-weight: bold;
}

.dialog-oauth-username {
  text-align: center;
}

#btn_oauth_username {
  width: 100%;
  opacity: 0.5;
  min-width: 50%;
  margin-top: 2px;
}


#dialog_oauth_username_input {
  width: 100%;
  border: 1px;
  border-style: solid;
  border-color: grey;
}

#error_username_taken {
  display: none;
}

.align_start {
  text-align: start;
}
