@import "../base/variables";
@import "../base/elements";
@import 'theme_settings';

*,
*:before,
*:after
{
  box-sizing: border-box;
}

#content
{
  padding: 18px;
  min-height: 100vh;
  color: darkgrey;
}
