@import 'theme_settings';

$color-failed: #f78181;
$background-color-failed: #f1997e;
$border-color-failed: #800;

#wrapper {
  margin-bottom: 2em;
}

#close-toggled-popup {
  min-width: 30%;
  margin-top: 2px;
  max-height: 50px;
  max-width: 50%;
}

#program-cannot-be-toggled {
  z-index: 9001;
  display: none;
  padding-top: 10px;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 320px;
  height: 200px;
  background-color: #05222a;
  border: 3px solid $default-border-color;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
}

#profile-avatar {
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 5px;

  img {
    width: 100%;
    height: 100%;
    border: 4px solid #FFF;
  }
}

#user-information {
  float:left;
  margin-left: 20px;
}

#country-header {
  font-weight: bold;
  font-size: 135%;
}

#country-information{
  padding-bottom: 10px;
}


#email-header {
  font-weight: bold;
  font-size: 135%;
}


#edit-icon {
  position: relative;
  float: right;
  top: -4px;
}

#avatar-upload {
  position: relative;
  top: -45px;
  text-align: center;
  margin: 0 auto;

  span {
    font-size: $default-font-size + 2;
    cursor: pointer;
  }

  .button-show-ajax {
    margin: 0 auto;
  }

  > div {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: #05222a;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    padding: 4px 15px;

    input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.001;
      cursor: pointer;
    }
  }
}

#profile-form {
  overflow: auto;
  float: right;

  form  {
    width: 100%;

    > div:nth-child(1) {
      overflow: auto;
    }

    > div {
      float: left;
      margin-left: 15px;
      width: 295px;

      .input-field {
        margin: 0 auto 15px 0;
        padding: 2px;
        width: auto;

        input {
          font-size: 17px;
          margin-top: 2px;
          margin-left: 8px;
        }
      }
    }

    button {
      margin-top: auto;
      width: 100%;
      padding: 4px;
    }

    #select-country {
      font-size: 17px;
      font-weight: bold;

      > div:nth-child(1) {
        float: left;
        line-height: 43px;
      }

      > div:nth-child(2) {
        text-align: right;

        select {
          margin-top: 3px;
          margin-bottom: 15px;
          width: 215px;
          height: 37px;
          color: #000;
        }
      }
    }
  }
}

.input-error, .avatar-error {
  display: none;
  color: $color-failed;
  font-size: $default-font-size + 8;
  padding-bottom: 5px;
  text-align: left;
  width: 295px;
}

/*.password-failed {
  border: 2px solid $border-color-failed !important;
  background-color: $background-color-failed !important;

  input {
    background-color: $background-color-failed;
    text-shadow: 0 1px 0 #FFF;
  }

  > div {
    background-position: -74px -78px !important;
  }
}*/

.program {
  height: 160px !important;
}

.programs {
  margin-top: -30px;
  padding-bottom: 30px;
}

.no-programs {
  margin-top: 25px;
}


.mail-failed {
  border: 2px solid $border-color-failed !important;
  background-color: $background-color-failed !important;

  input {
    background-color: $background-color-failed;
    text-shadow: 0 1px 0 #FFF;
  }

  > div {
    background-position: -35px -39px !important;
  }
}

.additional-mail-failed {
  > div {
    background-position: -35px -116px !important;
  }
}

.img-load-ajax {
  display: none;
  margin: 15px auto;
}

#submit-done {
  display: none;
  width: 150px;
  margin: 15px auto;

  .img-saved {
    float: left;
  }

  span {
    font-size: $default-font-size + 4;
    color: #FFF;
    font-weight: bold;
  }
}

#myprofile-programs h1 {
  border-bottom: 0;
  margin-bottom: 25px;
}

.img-delete {
  position: relative;
  cursor: pointer;
  width: 31px !important;
  left: 40px;
  top: 19px;
  margin-top: -19px;
  -webkit-filter: drop-shadow(2px 0px 2px #222);
  /* ..webkit +... */
}

.img-visibility-visible {
  position: relative;
  cursor: pointer;
  width: 31px !important;
  left: 40px;
  top: 129px;
  height: 31px;
  background-image: url('../../images/symbols/lock_lock_open.png');
  background-position: -1px 0px;
  background-size: 31px;
  background-color: #43A6B8;
  border-radius: 100px;
  -webkit-filter: drop-shadow(2px 0px 2px #222);
  /* ..webkit +... */
}

.img-visibility-hidden {
  position: relative;
  cursor: pointer;
  width: 31px !important;
  left: 40px;
  top: 129px;
  height: 31px;
  background-image: url('../../images/symbols/lock_lock_closed.png');
  background-position: 0px 0px;
  background-size: 31px;
  background-color: #43A6B8;
  border-radius: 100px;
  -webkit-filter: drop-shadow(2px 0px 2px #222);
  /* ..webkit +... */
}

@media screen and (max-width: 950px) {
  #profile-avatar {
    width: 90px;
    height: 90px;
    img {
      margin: 0;
    }
  }


}

@media screen and (max-width: $responsive-width-tablet) {
  #profile-avatar {
    width: 90px;
    height: 90px;
    img {
      margin: 0;
    }
  }
}