@import 'theme_settings';
@import '../base/variables';

/* profile */

#follow-icon {
  font-size: 3em;
  color: $primary;
}

#user-information {
  font-size: $default-font-size + 0.1875;
  color: #000;
  padding: 0 10px;

  p {
    margin: 10px auto;
  }
}

.visited-program {
  opacity: 0.6;
  a {
    color: #2a85a0;
  }
}

/* my Profile Data, Edit */

.avatar-container {
  text-align: center;

  img {
    @media screen and (max-width: 576px) {
      width: 90%;
      max-width: 15rem!important;
    }
  }
}

.edit-container {
  display: none;
}

.edit-title {
  font-weight : bold;
}

.edit-subtitle {
  font-weight : 600;
}

.profile-data {
  padding: 0.5em;
}

.edit-category-title {
  font-size: 1.5em;
}

.edit-category-button {
  float:right;
  color: $primary;
}

#select-country select{
  width: 100%;
  height: 45px;
  margin-bottom: 0;
}

.save-button {
  margin-top: 11px;
  height: auto;
  width: 100%;
  font-size: medium;
  font-weight: normal;
}

.header {
  width: 100%;
  text-align: left;
}

#avatar-upload {
  position: relative;
  top: -45px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;

  span {
    font-size: $default-font-size + 0.125;
    cursor: pointer;
  }

  .button-show-ajax {
    margin: 0 auto;
  }

  > div {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    font-weight: bold;
    padding: 4px 15px;
    border: 1px rgba($primary, 0.8);
    -webkit-transition: width 250ms; /* Safari */
    transition: width 250ms;

    &:hover {
      top: -2px;
      padding-top: 6px;
      padding-bottom: 6px;
      border: 1px rgba($primary, 0.95);
      background-color: rgba(255, 255, 255, 0.95);
      margin-bottom: -4px;
    }

    input {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.001;
      cursor: pointer;
    }
  }
}


/* My Programs */

.program {
  height: 160px !important;
}

.img-delete {
  text-align: center;
  position: relative;
  cursor: pointer;
  left: 35px;
  top: -10px;
  margin-top: -25px;
  width: 30px !important;
  height: 0 !important; // else the layout gets destroyed

  & i {
    background-color: rgba($white, 0.9);
    font-size: 2.0em;
    border-radius: 50%;
    margin: 0;
    padding: 0;
  }
}

.img-lock,
.img-lock-open {
  text-align: center;
  position: relative;
  cursor: pointer;
  left: 30px;
  top: 62px;
  width: 22px !important;
  height: 0 !important; // else the layout gets destroyed

  & i {
    background-color: $primary;
    color: rgba($white, 0.9)!important;
    font-size: 1em;
    border-radius: 50%;
    margin: 0;
    padding: 0.5em;

    &:hover {
      background-color: darken($primary, 10);
      color: $primary!important;
    }
  }
}

