@import 'default';

article {
  font-size: 15px;

  > div {
    margin-top: 25px;
  }
}

button, .button {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: @default-font-size + 6;
  padding-left: 25px;
  padding-right: 25px;
}

a {
  text-decoration: none;
}

.text-area-empty {
  border-width: medium;
  border-color: red;
}

#program-top {
  overflow: auto;

  #program-name {
    float: left;
  }


  #program-user {
    float: right;
    text-transform: none;

    > .img-author {
      float: left;
      margin-right: 5px;
    }

    a {
      font-size: @font-size-h1 - 5;
      color: @content-default-link-color;
      text-decoration: none;
    }
  }
}

#program-middle {
  #image {
    float: left;
    position: relative;

    #img-screenshot {

    }
  }

  #info {
    overflow: auto;
    padding: 0 25px;
  }

  #description {
    margin: 25px auto;
    line-height: 23px;
  }

  .btn-apk, #report-done {
    display: none;
  }

  #report {
    font-weight: bold;
    cursor: pointer;
  }

  #report-container {
    display: none;
    padding: 25px 25px 0 25px;
    text-align: center;

    textarea {
      width: 50%;
      height: 125px;
      border-radius: 2px;
      margin: 12px;
      color: #000;
    }
  }

  #report, a {
    color: @content-default-link-color;
    font-weight: normal;
  }

  table {
    width: 100%;
    text-align: center;
  }

  #copy-link {
    text-align: left;
    color: @content-default-link-color;
    cursor: pointer;

    td:nth-child(1) {
      width: 25px;
      height: 20px;
      background-image: @default-copy-link-image;
      background-repeat: no-repeat;
    }

    tr:nth-child(2) {
      display: none;
    }
  }

  #url-link {
    width: 100%;
  }

}

.show {
  display: block;
}

#program-bottom {
  border-top: 1px solid @default-text-color;
  padding-top: 25px;
  width: 100%;
  display: table;

  > div {
    display: table-cell;
    width: 20%;

    > .icon {
      float: left;
    }

    > .icon-text {
      line-height: 35px;
      padding-left: 8px;
    }
  }

  #icon-author {
    display: none;
  }
}

#social-container {
  display: table;
  width: 100%;

  li {
    display: table-cell;
    width: 20%;  /* (100 / numItems)% */
    text-align: center;
    white-space: nowrap;
  };
}

#social-container-footer {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  font-size: 1px; /* necessary for G+ button alignment */

  #social-like {
    margin-left: 15px;
  }
}

#program-like-container {
  margin-top: 18px;
  margin-bottom: 0px;

  #program-like-buttons-container {
    text-align: center;

    a {
      margin-right: 3px;
      padding: 0;
      &.selected {
        filter: brightness(0) invert(1);
        -webkit-filter: brightness(0) invert(1);
      }
      .singular, .plural {
        display: none;
      }
    }

    #program-like-counter {
      margin-left: 15px;
      font-size: 28px;
      vertical-align: middle;
    }
  }

  #program-like-detail-container {
    margin-top: 16px;
    font-size: 18px;
    text-align: center;
  }

  .program-like-counter {
    color: #FFFFFF;
    font-weight: bold;
  }
}

#share {
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-share {
  margin-left: 5px;
  width: 40px;
  height: 40px;
}

.download-button {
  width: 215px;
  padding: 5px 10px;
  font-weight: normal;
  float: left;
  margin-right: 10px;
}
.download-button img {
  height: 50px;
  float: left;
}

.download-container {
  display: table-row;
}

.download-pending {
  opacity: 0.5;
}

.pending-container {
  display: inline-block;
}

.pending-icon {
  height: 60px;
}

table td:nth-child(1) {
  width: 45px;
}

.popup-div {
  position: fixed;
  width: 320px;
  height: 250px;
  background-color: #05222a;
  left: 50%;
  top: 50%;
  border: 3px solid @default-border-color;
  border-radius: 10px;
  padding: 20px 5px 20px 5px;
  margin: -125px 0 0 -160px;
  text-align: center;
  font-size: 15px;
}

.popup-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
  top: 0;
  opacity: 0.5;
}

.btn-close-popup {
  min-width: 50%;
  margin-top: 2px;
}

.post-button {
  margin-bottom: 0;
  margin-top: 1em;
  margin-left: 0;
  margin-right: 0;
  float: right;
}

#program-comments {
  border-top: 1px solid @default-border-color;
}

.img-avatar {
}

#user-comment-wrapper {
  padding-bottom: 90px;
  border-bottom: 1px solid #17a5b8;
}

#comments-wrapper {
  //Todo style stuff
  clear: both;
  display: block;
}

.name-date-wrapper {
  display: block;
}

.comment-payload-wrapper{
  display: table-row;
  float: inherit;
}

.date{
  display: inline-block;
  float: left;
}

.usr-name{
  display: inline-block;
  float: left;
}

.comment-text{
  padding-top: 0.4em;
  dispay: block;
  clear: both;
  word-break: normal;
}

.single-comment {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid @default-border-color;
  &.hidden{
    display: none;
  }
}

.show-more {
  padding-bottom: 10px;
  padding-top: 10px;
}

.usr-name {
  display: block;
  padding-right: 1em;
  font-weight: bold;
}

.avatar-wrapper {
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  padding-left: 1.3em;
  padding-right: 1.3em;
  background: #46A2B6;
  border: solid 1px black;
  display: table-row;
  float: left;
  text-align: center;
  margin-right: 2em;
}

#nolb-project-button {
  padding-top: 5px;
  background: linear-gradient(#EE225A, #AA154B);
  img {
    height: auto;
  }
}

#nolb-submission-successful,
#nolb-submission-failed,
#nolb-submission-box {
  z-index: 10;
  padding: 10px;
  position: fixed;
  display: none;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: #05222a;
  border: 3px solid @default-border-color;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  max-width: 400px;
  width: 80%;

  h2 {
    margin: 6px;
  }

  p,
  input,
  #nolb-submission-button {
    margin: 10px 0 0 0;
  }

  #nolb-submission-button {
    max-height: 50px;
    max-width: 200px;
    padding: 0px 10px;
    line-height: 10px;
    p {
      display: inline;
    }
  }

  #nolb-submission-box-cancel {
    line-height: 0;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

#nolb-submission-failed-ok,
#nolb-submission-successful-ok{
  margin: 10px 0 0 0;
  min-height: 26px;
  p {
    display: inline;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  box-sizing : border-box;
  margin: 0;
}

input[type='number'] {
  -moz-appearance:textfield;
  box-sizing : border-box;
}

.btn {
  min-height: 64px;
  line-height: normal;
}

#comment-successfully-reported {
  z-index: 1;
  display: none;
  padding-top: 10px;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 320px;
  height: 150px;
  background-color: #05222a;
  border: 3px solid @default-border-color;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
}

.delete-button {
  background: none;
  margin: 0;
  float: left;
  display: inline-block;
  font-family: inherit;
  font-size: 0.8em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
}

#show-more-button {
  text-align: center;
  background: none;
  border: none;
  position: relative;
  left:50%;
  transform: translate(-50% ,0);
}

.report-button {
  background: none;
  margin: 0;
  float: left;
  display: inline-block;
  font-family: inherit;
  font-size: 0.8em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
}

.btn-jam img {
  float: none;
}

.pc-startButton, .pc-startButton:active {
  background: none;
  border: medium none;
  color: #a9dcf1;
  cursor: pointer;
  fill: #a9dcf1;
  height: 300px;
  margin: 0;
  outline: medium none;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

.pc-startButton svg {
  height: 50%;
  left: 25%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 25%;
  width: 50%;
}

.pc-startButton:hover {
  fill: #ffffff;
}
.pc-startButton:active {
  fill: #17a5b8;
  margin: 0;
  padding: 0;
}
.pc-startButton:disabled {
  fill: #A5A5A5;
  cursor: default;
}

@media screen and (max-width: @responsive-width-tablet) {
  #program-user{
    display: none;
  }

  #program-middle {
    #image {
      text-align: center;
      float: none;
      margin-bottom: 25px;
    }

    #report-container {
      textarea {
        width: 85%;
      }
    }
  }

  #program-bottom {
    padding: 25px;
    display: block;

    #icon-author {
      display: block;
    }

    > div {
      display: block;
      padding-bottom: 25px;
      width: 100%;
    }
  }
}

#tag-extension-container {
  margin-bottom: 20px;
}

#recommendations, #specific-programs-recommendations {
  border-top: 1px solid #17a5b8;
}

#recsys-headline, #recsys-specific-programs-headline {
  margin-top: 10px;
}

.btn-tags-extensions {
  font-size: 15px;
  font-weight: normal;
  text-transform: none;
  margin: 0px 0px 8px 5px;
  padding: 5px;
  text-shadow: none;
  background: @button-gradient-3;
}

.tagext {
  display: table-cell;
}

.tags-extensions-text {
  display: table-cell;
  padding: 5px 5px 5px 0px;
}

#gamejam-div {
  overflow: auto;
}

@media screen and (max-width: 767px) {
  #program-like-container {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 534px) {
  #tag-extension-container {
    width: 215px;
  }

  .report-button {
    clear: left;
    padding-left: 0em;
  }
}

@media screen and (max-width: 282px) {
  #nolb-submission-box input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 834px) {
  #tag-extension-container {
    width: 215px;
  }
}
