{% extends ':Default:baseParent.html.twig' %}

{% block title %}
  Pocket Alice Website
{% endblock %}

{% block eventLink %}
  <div><a href="http://www.alicegamejam.com/" target="_blank">Alice Game Jam Event</a></div>
{% endblock %}

{% block logoImage %}
  <img src="{{ asset('images/logo/logo_alice_jam.png') }}" alt="Alice Game Jam Logo" />
{% endblock %}

