{% extends ':Default:baseParent.html.twig' %}

{% block title %}
  Pocket Alice Website
{% endblock %}

{% block eventLink %}
  <div><a href="http://www.alicegamejam.com/" target="_blank">Alice Game Jam Event</a></div>
{% endblock %}
