{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_top_nav_menu %}
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" href="{{ url('catrobat_web_index') }}">
          <i class="fa fa-home fa-fw"></i>
        </a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        {% include admin_pool.getTemplate('add_block') %}
      </li>
      <li class="dropdown user-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          {% include admin_pool.getTemplate('user_block') %}
        </ul>
      </li>
    </ul>
  </div>
{% endblock %}
