<nav class="navbar nav-catrobat navbar-dark bg-catrobat">

  <div class="container">

      <button id="btn-sidebar-toggle" class="navbar-toggler" type="button"
              aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


    <a class="nav-logo " href="{{ path('index') }}">
      <img
          id="logo" {% include 'Default/headerLogo.html.twig' %}/> {# header logo contains src and alt from theme #}
    </a>

    {% if theme() == 'pocketgalaxy' %}
      <a id="event-link" class="navbar-brand mt-1" href="http://www.galaxygamejam.com/AT/main.html">Event</a>
    {% endif %}
    <div class="d-inline-flex ml-auto align-items-center my-auto">

      {% if 'media-library' in app.request.pathinfo or 'pocket-library' in app.request.pathinfo %}
        {# TODO ask wolfgang if there should be done something else#}
      {% else %}
        {# START: Searchfield #}
        <input type="text" class="form-control input-search search-input-header d-none"
               placeholder="{{ "search.dotdotdot"|trans({}, "catroweb") }}">
        <button class="btn btn-default btn-search catro-search-button mr-3 d-none">
          <i class="fas fa-search"></i>
        </button>
        <a class="navbar-nav search-icon-header nav-item mr-1" href="#">
          <i class="fas fa-search search-icon nav-link"></i>
        </a>
        {# END: Searchfield #}
      {% endif %}
    </div>
  </div>
</nav>

<script>
  $(document).ready(function() {
    $('.search-icon-header').on('click', function() {
      $(this).hide()
      let search_header = $('.search-input-header')
      let val = search_header.val()
      search_header
      .removeClass('d-none')
      .focus()
      .val('')
      .val(val)
      $('.catro-search-button').removeClass('d-none')
    })
  })

</script>
