<nav class="navbar nav-catrobat navbar-dark bg-catrobat">

  <div class="container">

    <div>
      <button id="btn-sidebar-toggle" class="navbar-toggler" type="button"
              aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="nav-logo " href="{{ path('index') }}">
        <img id="logo" {% include 'Default/headerLogo.html.twig' %}/> {# header logo contains src and alt from theme #}
      </a>
    </div>

    {% if 'media-library' in app.request.pathinfo or 'pocket-library' in app.request.pathinfo %}
      {# TODO ask wolfgang if there should be done something else#}
    {% else %}
      {# START: Searchfield #}
      <div class="input-group d-none" id="search-input-group-header">
        <input type="text" class="form-control input-search search-input-header tooltip-danger"
               placeholder="{{ "search.dotdotdot"|trans({}, "catroweb") }}"
               aria-label="{{ "search.dotdotdot"|trans({}, "catroweb") }}"
               aria-describedby="btn-search-header"
               data-original-title="{{ "search.fail"|trans({}, "catroweb") }}"
        >
        <div class="input-group-append">
          <button class="btn btn-default btn-search" type="button" id="btn-search-header">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <a class="search-icon-header" href="#">
        <i class="fas fa-search search-icon"></i>
      </a>
      {# END: Searchfield #}
    {% endif %}

  </div>
</nav>

<script>
  $(document).ready(function() {
    $('.search-icon-header').on('click', function() {
      $(this).hide()
      const input_group = $("#search-input-group-header");
      input_group.removeClass('d-none')

      let search_header = $('.search-input-header')
      let val = search_header.val()
      search_header
      .focus()
      .val('')
      .val(val)
    })
  })

</script>
