{# Different videos for different themes #}
<div class="video-container">
    {% if flavor() == 'luna' %}
        <iframe loading="eager" src="https://www.youtube.com/embed/-6AEZrSbOMg?controls=1&autoplay=0&mute=1"></iframe>
    {% elseif flavor() == 'embroidery' %}
        <iframe loading="eager" src="https://www.youtube.com/embed/IjHI0UZzuWM?controls=1&autoplay=0&mute=1"></iframe>
    {% elseif flavor() == 'mindstorms' %}
        <iframe loading="eager" src="https://www.youtube.com/embed/YnSl-fSV-nY?controls=1&autoplay=0&mute=1"></iframe>
    {% else %}
        <iframe loading="eager" src="https://www.youtube.com/embed/BHe2r2WU-T8?controls=1&autoplay=0&mute=1"></iframe>
    {% endif %}
</div>
