{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
  <div>
    <img data-src="{{ admin.getExampleImageUrl(object) }}" width="300" class="lazyload">
  </div>
{% endblock %}
