{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}
{% block field %}
  <div style="">
    {% if admin.getThumbnailImageUrl(object) != null %}
      <img src="{{ admin.getThumbnailImageUrl(object) }}">
    {% else %}
      <span>No picture</span>
    {% endif %}
  </div>
{% endblock %}