{% extends base_template %}

{% block list_table %}
  <div class="col-xs-12 col-md-12">
    <div class="box box-primary">
      <div class="box-body table-responsive no-padding">
        <table class="table table-bordered table-striped sonata-ba-list">
          <thead>
          <tr class="sonata-ba-list-field-header">
            <th>Filename</th>
            <th>Size</th>
          </tr>
          {% for file in files %}
            <tr>
              <td>{{ file.filename }}</td>
              <td>{{ (file.size/1024)|number_format(2) }} KB</td>
            </tr>
          {% endfor %}
          </thead>
        </table>
      </div>
    </div>
  </div>
{% endblock %}