<div class="card">

  <div class="card-header d-flex justify-content-between expansion-header collapsed" id="codeView"
       data-toggle="collapse" data-target="#collapseCodeView" aria-expanded="false"
       aria-controls="collapseCodeView">
    Code View
    <i class="fas fa-chevron-left rotate-left"></i>
  </div>

  <div id="collapseCodeView" class="card-body collapse" aria-labelledby="codeView" data-parent="#programDetails">
    <div class="accordion" id="accordionScenes">
      <div class="card">
        <div class="show-hide-code card-header d-flex justify-content-between expansion-header"
             data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
             aria-controls="collapseOne">

          {% if isVersionSupportedByCatBlocks(version) %}
            <div id='catblocks-code-container'></div>
            {# As long as catblocks is not stable we need to also load the old view as backup #}
            {{ render(controller('App\\Catrobat\\Controller\\Web\\CodeViewController:oldView', {'id' : id, 'visible' : false })) }}
          {% else %}
            {{ render(controller('App\\Catrobat\\Controller\\Web\\CodeViewController:oldView', {'id' : id })) }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div>