<!-- Modal -->
<div class="modal fade modal-full" id="new-key-store-modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog full-modal-dialog" role="document">

        <div class="modal-content full-modal-content">

            <div class="modal-header modal-header-full mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button id="top-app-bar__btn-search-back" data-bs-dismiss="modal"
                            class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
                            aria-label="Back to top bar">
                        arrow_back
                    </button>
                    <span class="mdc-top-app-bar__title">New key store</span>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                    <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button">help_outline</button>
                    <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button">done</button>
                </section>
            </div>
            <div class="modal-body">
                <form action="" method="post" class="form-horizontal sign-app-form">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input id="key_store_path_text" readonly type="text" name="key_store_path_text"
                                   class="form-control form-control-lg key-store-file-text"
                                   placeholder="" required="required">
                            <input id="key_store_path" type="file" name="key_store_path"
                                   class="form-control form-control-lg key-store-file"
                                   placeholder="" required="required">
                            <span id="key_file_path_icon"
                                  class="material-icons sign-form-icon mdc-icon-button">folder</span>
                            <label for="key_store_path" class="key-store-file-upload">Key store file</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 form-input-left">
                            <input id="key_store_password_2" type="password" name="key_store_password"
                                   class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <span class="material-icons sign-form-icon mdc-icon-button"
                                  onclick="togglePwVisibility($(this))">visibility</span>
                            <label for="key_store_password_2">Password</label>
                        </div>
                        <div class="form-group col-lg-6 form-input-right">
                            <input id="key_store_password_conf" type="password" name="key_store_password_conf"
                                   class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <span class="material-icons sign-form-icon mdc-icon-button"
                                  onclick="togglePwVisibility($(this))">visibility</span>
                            <label for="key_store_password_conf">Password confirmation</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input id="key_alias_2" type="text" name="key_alias" class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <label for="key_alias_2">Key alias</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 form-input-left">
                            <input id="key_password_2" type="password" name="key_password_2"
                                   class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <span class="material-icons sign-form-icon mdc-icon-button"
                                  onclick="togglePwVisibility($(this))">visibility</span>
                            <label for="key_password_2">Key password</label>
                        </div>
                        <div class="form-group col-lg-6 form-input-right">
                            <input id="key_password_2_conf" type="password" name="key_password_2_conf"
                                   class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <span class="material-icons sign-form-icon mdc-icon-button"
                                  onclick="togglePwVisibility($(this))">visibility</span>
                            <label for="key_password_2_conf">Key password confirmation</label>
                        </div>
                    </div>
                    <div class="row">
                    <div class="form-group years-validity-container col-sm-12 col-lg-12">
                        <h6 class="years-validity-text">Validity (years):</h6>
                        <div class="spinner-container">
                            <button id="dec_years" type="button" class="btn btn-secondary">-</button>
                            <input id="key_validity" class="form-control" type="number" value="25" min="1" max="99"
                                   size="1" maxlength="2">
                            <button id="inc_years" type="button" class="btn btn-secondary">+</button>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <h3>Certificate</h3>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input id="first_last_name" type="text" name="first_last_name"
                                   class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <label for="first_last_name">First and last name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input id="organization_unit" type="text" name="organization_unit"
                                   class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <label for="organization_unit">Organization unit</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input id="organization" type="text" name="organization"
                                   class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <label for="organization">Organization</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input id="city_locality" type="text" name="city_locality"
                                   class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <label for="city_locality">City or locality</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input id="state_province" type="text" name="state_province"
                                   class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <label for="state_province">State or province</label>
                        </div>
                    </div>
                     <input type="submit" name="submit" class="hide">
                </form>
            </div>
        </div>
    </div>
</div>
