<button id="steal{{ suffix|default('') }}"
        class="btn btn-outline-primary btn-block project-redirect"
        data-url="{{ path( 'steal_project', {'id': program.id} ) }}"
        data-button-id="#steal{{ suffix|default('') }}"
        {% if my_program %}
            disabled="disabled"
        {% endif %}
>( ಠ◡ಠ ) Steal</button>
