<button class="btn btn-primary btn-block btn-steal-project"
        data-project-id='{{ program.id }}'
>
    <i class="material-icons align-bottom">copyright</i>
    <span>{{ "programs.stealProject"|trans({}, "catroweb") }}</span>
</button>
