<div>
    <button id="app-sign" class="btn btn-outline-primary btn-block" data-toggle="modal"
            data-target="#sign-app-modal">{{ 'programs.sign.signApp'|trans({}, "catroweb") }}</button>
</div>
