version: '3.7'

services:

  # Catroweb Project using APACHE with PHP
  app.catroweb:
    build:
      args:
        - APP_ENVIRONMENT=dev
      context: ../
      dockerfile: docker/Dockerfile
    container_name: app.catroweb
    image: app.catroweb
    command: ["sh", "/var/www/catroweb/docker/app/startup.sh"]
    depends_on:
      - db.catroweb.dev
      - db.catroweb.test
      - chrome.catroweb
    ports:
      - 8080:80
    volumes:
      # Changes to the following files are shared between host and container - no rebuild needed!
      - ./../assets:/var/www/catroweb/assets:cached
      - ./../src:/var/www/catroweb/src:cached
      - ./../templates:/var/www/catroweb/templates:cached
      - ./../tests:/var/www/catroweb/tests:cached
      - ./../translations:/var/www/catroweb/translations:cached
      # Since we need access to the vendor & node_modules in the Dockerfile, we can not share them.
      # Shared volumes are attached after the build process,
      # which will result in else invalid overwritten libraries in the container.
      # If you need access to them (for example for intellisense), just copy those directories from the container to
      # the host. E.g with `docker cp app.catroweb:/var/www/catroweb/vendor vendor` In case of errors (mainly on windows
      # you could tar the directory before copying it from the container to the host.

  db.catroweb.dev:
    image: mariadb:10.3.11
    container_name: db.catroweb.dev
    ports:
      - 3306
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=catroweb_dev


  # --- Tests:

  chrome.catroweb:
    image: zenika/alpine-chrome
    container_name: chrome.catroweb
    restart: on-failure
    volumes:
      - ./../tests/testdata/DataFixtures:/var/www/catroweb/tests/testdata/DataFixtures:ro
    command: ["chromium-browser", "--headless", "--disable-gpu", "--no-sandbox", "--remote-debugging-address=0.0.0.0", "--remote-debugging-port=9222"]
    ports:
      - 9222

  db.catroweb.test:
    image: mariadb:10.3.11
    container_name: db.catroweb.test
    ports:
      - 3306
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=catroweb_test


  # --- Tools:

  phpmyadmin.catroweb.dev:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin.catroweb.dev
    environment:
      - PMA_ARBITRARY=1
    restart: always
    ports:
      - 8081:80
    volumes:
      - /sessions
    external_links:
      - db.catroweb.dev:db
      - db.catroweb.test:db
    depends_on:
      - db.catroweb.dev
      - db.catroweb.test
