services:
  # APACHE WITH PHP
  app.catroweb:
    build:
      args:
        - APP_ENVIRONMENT=test
      context: ../
      dockerfile: docker/Dockerfile
    container_name: app.catroweb
    image: app.catroweb
    command: ['sh', '/var/www/catroweb/docker/app/startup-test.sh']
    volumes:
      # We share the test & var directory for easy access to test reports, error logs, ..
      - ./../tests/TestReports:/var/www/catroweb/tests/TestReports
      - ./../var:/var/www/catroweb/var:cached
    depends_on:
      - db.catroweb.test
      - chrome.catroweb
      - elasticsearch
    ports:
      - 8080:80

    # --- Tests:

  chrome.catroweb:
    image: zenika/alpine-chrome:100
    container_name: chrome.catroweb
    restart: on-failure
    volumes:
      - ./../tests/TestData/DataFixtures:/var/www/catroweb/tests/TestData/DataFixtures:ro
    command:
      [
        'chromium-browser',
        '--disable-gpu',
        '--headless',
        '--remote-debugging-address=0.0.0.0',
        '--remote-debugging-port=9222',
        '--disable-extensions',
        '--no-sandbox',
      ]
    ports:
      - 9222

  db.catroweb.test:
    image: mariadb:10.11
    container_name: db.catroweb.test
    ports:
      - 3306
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=catroweb_test

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.20
    container_name: elasticsearch
    environment:
      - cluster.name=docker-cluster
      - transport.host=localhost
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - 'ES_JAVA_OPTS=-Xms512m -Xmx512m'
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata1:/usr/share/elasticsearch/data
    ports:
      - 9200:9200

volumes:
  esdata1:
    driver: local
