<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}Pocket Code Website{% endblock %}</title>
        {% stylesheets 'bundles/catroweb/css/*' filter='cssrewrite,lessphp' %}
          <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block head %}{% endblock %}
    </head>
    <body>
    
    <div id="wrapper">

      {% block header %}
          {{ render(controller('CatrobatWebBundle:Default:header', { _locale: app.request.locale, _embedded: true })) }}
      {% endblock %}

      {% block body %}{% endblock %}

      {% block footer %}
          {{ render(controller('CatrobatWebBundle:Default:footer', { _locale: app.request.locale, _embedded: true })) }}
      {% endblock %}
         
    </div>

    </body>
</html>
