{% extends 'CatrobatWebBundle:Default:base.html.twig' %}

{#{% block head %}#}
    {#{% stylesheets '@CatrobatWebBundle/Resources/public/css/custom/termsOfUse.css' filter='cssrewrite,lessphp' %}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" />#}
    {#{% endstylesheets %}#}
{#{% endblock %}#}

{% block body %}
  <h1>Terms of Use</h1>
  <div class="standard-col-text size-large">
    <h2 class="size-xlarge">WELCOME TO THE CATROBAT COMMUNITY!</h2>
    <p>
      <b>As part of the Catrobat community, you are sharing programs and ideas with people:</b>
    <ul>
      <li>from many different countries and cultures</li>
      <li>of all ages (from young children to teens and grandparents)</li>
      <li>with all levels of experience</li>
    </ul>
    </p>
    <p>
      <b>We need your help to make this community a supportive place for every member. Here's how you can help:</b>
    <ul>
      <li>Be respectful. When sharing programs, please remember that people of many different ages and backgrounds will see your contributions.</li>
      <li>Give credit. Feel free to make modified versions of other people's programs - just make sure to give them credit. One place to give credit is in your program's description. Please see the paragraph below this dotted list for details about modifying programs of other users.</li>
      <li>Be honest. Don't pretend to be someone other than who you are or try to trick the community.</li>
      <li>Keep personal information private. Don't share your email address, phone number, or other personal contact information.</li>
      <li>Help keep the site friendly. If you feel others would find a program or comment mean, insulting, too violent, or otherwise inappropriate, just click the 'report as inappropriate' button and leave a short explanation. The Catrobat team will review your report and may remove any program, comment, or post.</li>
    </ul>
    </p>
    <p>
      <b>Through the Catrobat project we want to foster cooperation and allow everyone's creativity to combine for the benefit of all of humanity. You also can become an active member of the Catrobat community by giving your programs back to the community as a gift, in the same way as other active members are giving their programs to you:</b>
    <ul>
      <li>By uploading a program to our websites, you accept and agree to put this work under certain free licenses of uploaded Catrobat programs. Similar to the free licenses under which the Catrobat system itself is available to you, these free licenses of uploaded Catrobat programs give everyone the right to learn from work previously uploaded by others and to adapt and remix that work to build their own new fascinating games, animations, and other programs. This allows everyone to 'stand on the shoulders of one's peers', one of them being you! Your work will thus benefit the whole world and remain free for everyone to use, a bit similar to text and pictures freely contributed to Wikipedia by volunteers from all over the world. Think of it as your present to humanity: you give to everyone, and all others that upload their work to our websites give to you. Thus an uploaded program is a gift of great value which its owner is giving to you for free, with the condition that you participate in the community on the same terms.</li>
      <li>You do not have to accept the gift; if you do, certain rules apply. The benefits of these rules are that you can learn from the work and build upon it to make even cooler stuff yourself, which you can then, e.g., again upload to our websites as your own. Another benefit is that these licenses make sure that you cannot be held liable for any problems arising to others through their use of your program.</li>
      <li>One important additional condition is that you clearly give attribution to the authors on whose works you based your own work. At the same time, we will work hard so that your work will be clearly appreciated by others to having been contributed by you, by giving attribution to the unique name you have freely chosen to represent you in Catrobat's community, and by giving others the opportunity to express their gratitude to you in public ways for having given your work to everyone, and in particular to them.</li>
      <li>Please consult <a class="standard-article-link" href="http://developer.catrobat.org/licenses_of_uploaded_catrobat_programs" target="_blank">developer.catrobat.org/licenses_of_uploaded_catrobat_programs</a> for the precise legal terms and conditions.</li>
    </ul>
    </p>
    <p>
      <b>Our gift to you:</b>
    <ul>
      <li>We offer all our own software and Internet resources related to the Catrobat system, e.g., the software written by the Catrobat team, our websites and Internet resources, our own source code related to the Catrobat system, and all additional included materials such as, e.g., pictures, sounds, and texts, now and in the future to you under Catrobat's free licenses.</li>
      <li>These licenses make all parts of Catrobat both free of charge to you as well as free in the sense of giving you the freedom to use them however you like, with only a few restrictions ensuring, among others, that the Catrobat system will forever remain free and useful for everyone.</li>
      <li>Please consult <a class="standard-article-link" href="http://developer.catrobat.org/licenses" target="_blank">developer.catrobat.org/licenses</a> for the precise legal terms and conditions. The source code of the Catrobat system as well as many other documents and resources are available via <a class="standard-article-link" href="http://developer.catrobat.org" target="_blank">developer.catrobat.org</a>.</li>
    </ul>
    </p>
    <p>
      <b>Our Terms of Use and Service:</b>
    <ul>
      <li>If you, or, if you are below 13 years of age, your parents or legal guardians, are associated with an organization involved in or responsible for dragnet type privacy violations and/or bulk or mass surveillance, then you are not allowed to use our software applications and to access our services. The precise details of this restriction and certain exceptions to it are delineated in Sections 4.a and 4.b on our <a class="standard-article-link" href="http://developer.catrobat.org/terms_of_use_and_service" target="_blank">developer.catrobat.org/terms_of_use_and_service</a>.</li>
      <li>If you are under 13 years of age, then you have to ask your parents or legal guardians whether they allow you to use Catrobat’s Software Applications and Services.</li>
      <li>We reserve the rights to reject, delete, or hide programs, user accounts, and any digital materials uploaded to Catrobat's websites at any time in our sole discretion, for instance if we find that a program contains inappropriate material or that a user infringes on the rights of other persons.</li>
      <li>All of Catrobat's software and Internet resources are offered in the hope that they will be useful, but without any warranty.</li>
      <li>Please consult our <a class="standard-article-link" href="http://developer.catrobat.org/terms_of_use_and_service" target="_blank">developer.catrobat.org/terms_of_use_and_service</a> for precise formulations of above points and some additional legal terms and conditions.
      </li>
    </ul>
    </p>
    <br />
    <p>
      <b>Check back here from time-to-time, because we are always trying to improve our Terms of Use.</b>
    </p>
    <p>
      <b>Please mail any suggestions regarding these Terms of Use to <a class="standard-article-link" href="mailto:webmaster@catrobat.org">webmaster@catrobat.org.</a></b>
    </p>
    <br />
    <p>
      <b>Version 1.3, 4 March 2014</b>
    </p>
  </div>
{% endblock %}

