.btn,
.button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn:hover md-circular-progress,
.button:hover md-circular-progress {
  --md-circular-progress-active-indicator-color: #fff;
}

.btn-primary {
  background-color: var(--primary-bg, var(--primary));
  border-color: var(--primary-bg, var(--primary));
}
.btn-primary:hover {
  background-color: hsl(
    var(--color-primary-h),
    var(--color-primary-s),
    calc(var(--color-primary-l) - 7.5%)
  );
  border-color: hsl(
    var(--color-primary-h),
    var(--color-primary-s),
    calc(var(--color-primary-l) - 8.5%)
  );
}
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: hsl(
    var(--color-primary-h),
    var(--color-primary-s),
    calc(var(--color-primary-l) - 10%)
  );
  border-color: hsl(
    var(--color-primary-h),
    var(--color-primary-s),
    calc(var(--color-primary-l) - 11%)
  );
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:focus {
  background-color: hsl(
    var(--color-primary-h),
    var(--color-primary-s),
    calc(var(--color-primary-l) - 5%)
  );
  border-color: hsl(
    var(--color-primary-h),
    var(--color-primary-s),
    calc(var(--color-primary-l) - 6%)
  );
}
.btn-primary:disabled {
  background-color: var(--primary-bg, var(--primary));
  border-color: var(--primary-bg, var(--primary));
}
.btn-primary md-circular-progress {
  --md-circular-progress-active-indicator-color: #fff;
}

.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
}
.btn-outline-primary:hover {
  background-color: hsl(
    var(--color-primary-h),
    var(--color-primary-s),
    calc(var(--color-primary-l) - 7.5%)
  );
  border-color: hsl(
    var(--color-primary-h),
    var(--color-primary-s),
    calc(var(--color-primary-l) - 8.5%)
  );
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: hsl(
    var(--color-primary-h),
    var(--color-primary-s),
    calc(var(--color-primary-l) - 10%)
  );
  border-color: hsl(
    var(--color-primary-h),
    var(--color-primary-s),
    calc(var(--color-primary-l) - 11%)
  );
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem
    hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.3);
}
.btn-outline-primary:disabled {
  color: var(--primary);
  border-color: var(--primary);
}

.btn-block {
  display: block;
  width: 100%;
  --deprecated: 'WARNING: deprecated, removed in bs5, wrap your buttons with .d-grid and a .gap-* utility to space them as needed. Switch to responsive classes for even more control over them. Read the docs for some examples: https://getbootstrap.com/docs/5.0/Components/buttons/#block-buttons';
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
  --deprecated: 'WARNING: deprecated, removed in bs5, wrap your buttons with .d-grid and a .gap-* utility to space them as needed. Switch to responsive classes for even more control over them. Read the docs for some examples: https://getbootstrap.com/docs/5.0/Components/buttons/#block-buttons';
}
