.btn,
.button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    .mdc-circular-progress__indeterminate-circle-graphic {
      stroke: #fff;
    }
  }
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);

  &:hover {
    background-color: custom-darken(--color-primary, 7.5);
    border-color: custom-darken(--color-primary, 8.5);
  }

  &:not(:disabled):not(.disabled):active {
    background-color: custom-darken(--color-primary, 10);
    border-color: custom-darken(--color-primary, 11);
  }

  &:not(:disabled):not(.disabled):active:focus,
  &:focus {
    background-color: custom-darken(--color-primary, 5);
    border-color: custom-darken(--color-primary, 6);
  }

  &:disabled {
    background-color: var(--primary);
    border-color: var(--primary);
  }

  .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: #fff;
  }
}

.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);

  &:hover {
    background-color: custom-darken(--color-primary, 7.5);
    border-color: custom-darken(--color-primary, 8.5);
  }

  &:not(:disabled):not(.disabled):active {
    background-color: custom-darken(--color-primary, 10);
    border-color: custom-darken(--color-primary, 11);
  }

  &:not(:disabled):not(.disabled):active:focus,
  &:focus {
    box-shadow: 0 0 0 0.2rem custom-alpha(--color-primary, 0.3);
  }

  &:disabled {
    color: var(--primary);
    border-color: var(--primary);
  }
}

.btn-block {
  display: block;
  width: 100%;
  // stylelint-disable-next-line
  --deprecated: 'WARNING: deprecated, removed in bs5, wrap your buttons with .d-grid and a .gap-* utility to space them as needed. Switch to responsive classes for even more control over them. Read the docs for some examples: https://getbootstrap.com/docs/5.0/Components/buttons/#block-buttons';
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
  // stylelint-disable-next-line
  --deprecated: 'WARNING: deprecated, removed in bs5, wrap your buttons with .d-grid and a .gap-* utility to space them as needed. Switch to responsive classes for even more control over them. Read the docs for some examples: https://getbootstrap.com/docs/5.0/Components/buttons/#block-buttons';
}
