@import './Variables';
@import './Mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

::placeholder {
  color: $default-background-color !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px $white inset;
}

body {
  height: 100%;
  font-family: $font-family-sans-serif;
  background: $default-background-color !important;
}

img {
  max-width: 100% !important;
  vertical-align: middle;
  break-inside: avoid;
}

li {
  overflow-wrap: break-word;
}

.content-container {
  margin: 25px auto;
}

.standard-col-text {
  padding: 25px 0;
  column-count: 2;
  column-gap: 25px;
  text-align: justify;
}

.standard-article-link {
  font-weight: $font-weight-bold;
}

.clear {
  clear: both;
}

input:focus {
  border: 0;
  outline: none;
}

label {
  display: block;
}

.center {
  text-align: center;
}

.bold {
  font-weight: $font-weight-bold;
}

.catro-icon-button {
  color: var(--primary);
  cursor: pointer;

  &:hover {
    color: custom-darken(--color-primary, 10);
  }
}

.catro-round-icon-button {
  color: $white;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 50%;

  &:hover {
    background-color: custom-darken(--color-primary, 10);
  }
}

.program-small-icon {
  padding-top: 0.6em;
  margin-top: -0.6em;
  margin-right: 0.3em;
  font-size: 1.2em;
}

.program-round-icon-container {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  background-color: var(--primary);
  border-radius: 50%;
}

.program-round-icon {
  margin-top: 0.5em;
  font-size: 1.2em;
  color: var(--primary);
}

.like-round-icon-container {
  display: inline-block;
  width: 3em;
  height: 3em;
  text-align: center;
  background-color: var(--primary);
  border-radius: 50%;
}

.like-round-icon {
  margin-top: 0.37em;
  font-size: 1.7em;
  color: $white;
}

.like-round-icon-heart {
  margin-top: 0.45em;
  font-size: 1.7em;
  color: $white;
}

.text-icon-aligned {
  display: flex;
  align-items: center;
}

.trailing-icon {
  margin-left: auto;
}

.material-icons.md-30 {
  font-size: 30px;
}

.material-icons.md-28 {
  font-size: 28px;
}

.material-icons.md-26 {
  font-size: 26px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-light {
  color: rgb(255 255 255 / 100%);
}

.button-show-placeholder {
  display: flex;
  justify-content: center;
  min-height: 35px;
  margin: 0 auto 30px;
}

.button-show-more,
.button-show-ajax,
.button-show-less {
  display: none;
  margin: 0 15px;
  color: var(--primary);
  text-align: center;

  .circular-progress {
    text-align: initial;
  }
}

.button-show-more {
  font-size: 3em;
  cursor: pointer;
}

.button-show-less {
  display: none;
  font-size: 3em;
  cursor: pointer;
}
