#sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 9999;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background: var(--theme-background, #fff);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}
#sidebar.active {
  left: 0;
}
#sidebar .logo {
  display: block;
  width: 200px;
  height: 150px;
  max-height: 20vh;
  margin: 15px auto;
  background: no-repeat center center;
  background-size: contain;
}
#sidebar .nav-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  color: var(--bs-body-color);
  text-decoration: none;
  cursor: pointer;
}
#sidebar .nav-link:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
}
#sidebar .nav-link:active,
#sidebar .nav-link:focus {
  text-decoration: none;
}
#sidebar .sidebar-link-icon {
  flex-shrink: 0;
  width: 2rem;
  padding-right: 0.75rem;
  text-align: center;
}
#sidebar .sidebar-link-text {
  hyphens: auto;
  overflow-wrap: break-word;
  flex-grow: 1;
  overflow: hidden;
}
@media (min-width: 768px) {
  #sidebar:not(.inactive) {
    left: 0;
  }
}

@media (min-width: 768px) {
  .body-with-sidebar .body-content {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
  .body-with-sidebar.modal-open .modal {
    border-left: 250px solid transparent;
  }
  .body-with-sidebar .project-list.vertical {
    left: 250px;
    width: calc(100vw - 250px);
  }
  .body-with-sidebar .full-screen {
    left: 250px;
    width: calc(100vw - 250px);
  }
}
[data-bs-theme='dark'] #sidebar .logo {
  filter: invert(1);
}

#sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  /* middle layer, i.e. appears below the sidebar */
  z-index: 9998;
  display: none;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
}

#sidebar.active + #sidebar-overlay {
  display: block;
  opacity: 1;
}
