// Override mdc-snackbar

.mdc-snackbar {
  z-index: 7000; // reason: modal
}

.mdc-snackbar__wrapper {
  display: flex;
  justify-content: center;
  opacity: 0;
}

.mdc-snackbar__surface {
  transform: none;
  opacity: 1 !important;
}
