@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$default-font-size: 1rem;

// Login Logo

$theme-logo-color-primary: var(--theme-logo-color-primary, #17a6b7);
$theme-logo-color-secondary: var(--theme-logo-color-secondary, #ff7701);
$theme-logo-font-size: 1.5rem;
$theme-logo-font-weight: 500;

/* Footer */
$footer-background-color: light-dark(#e1e2e1, #1e1d1e);
$footer-color: light-dark(#000, #fff);

/* Default */
$default-background-color: var(--theme-background, #fff);
$default-input-background-color: #96ced6;
$default-input-padding: 5px;
$default-input-size: 18px;
$default-button-size: 26px;
$default-button-padding: 10px;
$default-text-color: var(--primary);
$default-border-color: var(--primary);
$help-link-color: var(--primary);
$content-default-link-color: var(--primary);
$text-color: $gray-900;

// Customizing Material.io:
:root {
  --mdc-theme-primary: var(--primary);
  --mdc-theme-on-primary: var(--on-primary);

  // Currently not used (https://material.io/develop/web/docs/theming/)
  // --mdc-theme-secondary: #f0f;
  // --mdc-theme-surface: #f00;
  // --mdc-theme--background: #0f0;
  // --mdc-theme-on-secondary: #00f;
  // --mdc-theme-on-surface: #fdd;
  // --mdc-theme-text-primary-on-background: #faa;
  // --mdc-theme-text-secondary-on-background: #afa;
  // --mdc-theme-text-hint-on-background: #f200ff;
  // --mdc-theme-text-disabled-on-background: #dfd;
  // --mdc-theme-text-icon-on-background: #ffd;
  // --mdc-theme-text-primary-on-light: #33f;
  // --mdc-theme-text-secondary-on-light: #f3f;
  // --mdc-theme-text-hint-on-light: #f33;
  // --mdc-theme-text-disabled-on-light: #a7a;
  // --mdc-theme-text-icon-on-light: #7aa;
  // --mdc-theme-text-primary-on-dark: #b5b;
  // --mdc-theme-text-secondary-on-dark: #55b;
  // --mdc-theme-text-hint-on-dark: #b44;
  // --mdc-theme-text-disabled-on-dark: #1e1;
  // --mdc-theme-text-icon-on-dark: #7a7;
}

@function custom-lighten($color-variable, $value) {
  $color-variable-h: var(#{$color-variable + '-h'});
  $color-variable-s: var(#{$color-variable + '-s'});
  $color-variable-l: calc(var(#{$color-variable + '-l'}) + #{$value + '%'});

  @return hsl($color-variable-h, $color-variable-s, $color-variable-l);
}

@function custom-darken($color-variable, $value) {
  $color-variable-h: var(#{$color-variable + '-h'});
  $color-variable-s: var(#{$color-variable + '-s'});
  $color-variable-l: calc(var(#{$color-variable + '-l'}) - #{$value + '%'});

  @return hsl($color-variable-h, $color-variable-s, $color-variable-l);
}

@function custom-alpha($color-variable, $opacity) {
  $color-variable-h: var(#{$color-variable + '-h'});
  $color-variable-s: var(#{$color-variable + '-s'});
  $color-variable-l: var(#{$color-variable + '-l'});

  @return hsla($color-variable-h, $color-variable-s, $color-variable-l, $opacity);
}
