.error-wrapper {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .error-container {
    width: 512px;
    max-width: 80vw;
    text-align: center;

    .error-img {
      width: 80%;
      margin-bottom: 2rem;
    }

    .error-img-placeholder {
      margin-bottom: 0.5rem;
      color: #c4c4c4;
      font-size: 1.5rem;
    }

    .error-code {
      color: #c4c4c4;
    }

    .error-link {
      padding: 0.75rem 0;
    }
  }
}
