:root {
  --primary: #00acc1;
  --on-primary: #fff;
  --color-primary: hsl(187deg 100% 38%);
  --color-primary-h: 187;
  --color-primary-s: 100%;
  --color-primary-l: 38%;
  --theme-logo-color-primary: #62aeb2;
  --theme-logo-color-secondary: #62aeb2;
  --theme-background: var(--bs-body-bg);
}
