:root {
  --primary: light-dark(#007f8f, #4dd0e1);
  --primary-bg: #007f8f;
  --on-primary: #fff;
  --color-primary: hsl(187deg 100% 28%);
  --color-primary-h: 187;
  --color-primary-s: 100%;
  --color-primary-l: 28%;
  --theme-logo-color-primary: #0f928d;
  --theme-logo-color-secondary: #0f928d;
  --theme-background: var(--bs-body-bg);
}
