@import "variables";

@import "elements";
@import "mixins";

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: $default-background-color !important;
}

:-moz-placeholder {
  color: $default-background-color !important;
}

::-moz-placeholder {
  color: $default-background-color !important;
}


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $white inset;
}

body {
  height: 100%;
  font-family: $font-family-sans-serif;
  background: $default-background-color !important;
}

img {
  max-width: 100% !important;
  vertical-align: middle;
  page-break-inside: avoid;
}

li {
  word-wrap: break-word;
}

.content-container {
  margin: 25px auto;
}

.standard-col-text {
  @include box-columns(2, 25px);
  padding: 25px 0;
  text-align: justify;
}

.standard-article-link {
  font-weight: $font-weight-bold;
}

.clear {
  clear: both;
}

input:focus {
  border: 0;
  outline: none;
}

label {
  display: block;
}

.center {
  text-align: center;
}

.bold {
  font-weight: $font-weight-bold;
}

form {
  text-align: center;

  .input-field {
    width: 320px;
    padding: $default-input-padding;
    margin: 10px auto;
    overflow: auto;
    background: #fff;
    border: 0.2em solid #05222a;
    @include box-shadow(inset 2px 2px 5px #999);

    input {
      float: left;
      width: 80%;
      height: 33px;
      padding-top: 4px;
      padding-left: 5px;
      font-size: $default-input-size;
      color: #05222a;
      border: none;
      outline: none;
    }

    div {
      float: right;
      text-align: center;
    }
  }
}

.no-programs {
  margin-bottom: 25px;
  text-align: center;
}

// when changing tile size, adapt self.column_min and self.column_max in ProjectLoader.js
$program-tile-width: 85px;

.programs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  > .program {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $program-tile-width;
    margin: 0.35rem;

    > a {

      display: block;
      width: 100%;

      > img {
        max-width: $program-tile-width !important;
        max-height: $program-tile-width;
        object-fit: cover;
      }

      &:hover {
        text-decoration: none;
      }

      .program-name {
        display: inline-block;
        width: 100%;
      }

      > div {
        max-width: 100%;
        font-size: 0.73rem;
      }

      .program-name,
      > div {
        display: inline-flex;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;

        .project-thumb-icon {
          margin-right: 0.3em;
          font-size: 16px;
        }
      }
    }

  }
}

.button-show-placeholder {
  display: flex;
  justify-content: center;
  min-height: 35px;
  margin: 0 auto 30px;
}

.button-show-more,
.button-show-ajax,
.button-show-less {
  display: none;
  margin: 0 15px;
  color: var(--primary);
  text-align: center;

  .circular-progress {
    text-align: initial;
  }
}

.button-show-more {
  font-size: 3em;
  cursor: pointer;
}

.button-show-less {
  display: none;
  font-size: 3em;
  cursor: pointer;
}


@-webkit-keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
