@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// stylelint-disable-next-line value-keyword-case
$default-font-size: 1rem;

// Login Logo

$theme-logo-color-primary:          var(--theme-logo-color-primary, #17a6b7);
$theme-logo-color-secondary:        var(--theme-logo-color-secondary, #ff7701);
$theme-logo-font-size:              2rem;
$theme-logo-font-weight:            500;

/* Footer */
$footer-background-color: #e1e2e1;
$footer-color: #000;

/* Default */
$default-background-color: #fefeff;
$default-input-background-color: #96ced6;
$default-input-padding: 5px;
$default-input-size: 18px;
$default-button-size: 26px;
$default-button-padding: 10px;
$default-text-color: var(--primary);
$default-border-color: var(--primary);
$help-link-color: var(--primary);
$content-default-link-color: var(--primary);
$text-color: $gray-900;


// Customizing Material.io:
:root {
  // https://material.io/develop/web/docs/theming/
  --mdc-theme-primary: var(--primary);
  --mdc-theme-secondary: #{$secondary};
  --mdc-theme--background: #{$default-background-color};
}

@function custom-lighten($color-variable, $value) {
  $color-variable-h: var(#{$color-variable + "-h"});
  $color-variable-s: var(#{$color-variable + "-s"});
  $color-variable-l: calc(var(#{$color-variable + "-l"}) + #{$value + "%"});
  @return hsl($color-variable-h, $color-variable-s, $color-variable-l);
}

@function custom-darken($color-variable, $value) {
  $color-variable-h: var(#{$color-variable + "-h"});
  $color-variable-s: var(#{$color-variable + "-s"});
  $color-variable-l: calc(var(#{$color-variable + "-l"}) - #{$value + "%"});
  @return hsl($color-variable-h, $color-variable-s, $color-variable-l);
}

@function custom-alpha($color-variable, $opacity) {
  $color-variable-h: var(#{$color-variable + "-h"});
  $color-variable-s: var(#{$color-variable + "-s"});
  $color-variable-l: var(#{$color-variable + "-l"});
  @return hsla($color-variable-h, $color-variable-s, $color-variable-l, $opacity);
}
