{% extends 'Email/email.html.twig' %}

{% block head_title %}
  {{ subject }}
{% endblock %}

{% block title %}
  {{ title }}
{% endblock %}

{% block body %}
  <p style="margin: 0; text-align: center;">
    {{ message|escape('html')|nl2br }}
  </p>
{% endblock %}
