{% extends 'Email/email.html.twig' %}

{% block head_title %}
  {{ subject }}
{% endblock %}

{% block body_title %}
  <div align="center">
    {{ title }}
  </div>
{% endblock %}

{% block body_content %}

  <div align="center">
    {{ message|nl2br }}
  </div>

{% endblock %}
