@import '../Layout/Variables';

.achievement-top__wrapper {
  display: flex;
  align-items: center;
  text-align: center;

  .achievement-top__text-wrapper {
    padding-left: 1rem;
    text-align: left;
  }
}

.tab-content {
  > .achievement__wrapper {
    display: none;
  }

  > .achievement__wrapper.active {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}

.achievement {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 0 0.5rem;
  text-align: center;
}

.achievement__badge {
  position: relative;

  &.achievement__badge--tab {
    width: 10rem;
    height: 10rem;
  }

  &.achievement__badge--top {
    width: 7rem;
    height: 7rem;
  }

  &.achievement__badge--profile {
    width: 6rem;
    height: 6rem;
  }

  &.achievement__badge--popup {
    width: 12rem;
    height: 12rem;
    margin: auto;
    animation-name: zoom-in-down-animation;
    animation-duration: 4s;
    animation-fill-mode: both;
  }
}

.achievement__badge__coin {
  z-index: 1;
  max-width: 100%;

  &.achievement__badge__coin--tab {
    width: 10rem;
    height: 10rem;
    margin: auto;
  }

  &.achievement__badge__coin--top {
    width: 7rem;
    height: 7rem;
    margin: 0;
  }

  &.achievement__badge__coin--profile {
    width: 6rem;
    height: 6rem;
  }

  &.achievement__badge__coin--popup {
    width: 12rem;
    height: 12rem;
    margin: auto;
    transform-origin: center;
    animation: rotate-animation 1.5s ease-in-out infinite;
    animation-delay: 4s;
  }
}

.achievement__badge__banner {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  max-width: 100%;
  transform: translate(-50%, 0);

  &.achievement__badge__banner--tab {
    bottom: 5%;
    width: 10rem;
    height: 2rem;
  }

  &.achievement__badge__banner--top {
    width: 7rem;
    height: 1.5rem;
  }

  &.achievement__badge__banner--profile {
    width: 6rem;
    height: 1.35rem;
  }

  &.achievement__badge__banner--popup {
    width: 12rem;
    height: 2.2rem;
    animation-name: fade-in-animation;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: both;
  }
}

.achievement__badge__banner__text {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 3;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform: translate(-50%, -25%);

  &.achievement__badge__banner__text--tab {
    bottom: 5%;
    font-size: 90%;
  }

  &.achievement__badge__banner__text--top {
    font-size: 70%;
  }

  &.achievement__badge__banner__text--profile {
    font-size: 60%;
  }

  &.achievement__badge__banner__text--popup {
    animation-name: fade-in-animation;
    animation-duration: 3s;
    animation-delay: 4s;
    animation-fill-mode: both;
  }
}

.achievement__badge__text {
  margin-top: 0.25rem;
}

.popup__new-achievement__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.svg-new-achievement-popup-color-1 {
  animation-name: alternate-color-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.svg-new-achievement-popup-color-2 {
  animation-name: alternate-color-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  fill: rgb(255 255 255);
}

.svg__achievement__badge__star {
  animation-name: shine-animation;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  &.svg__achievement__badge__star--1 {
    animation-duration: 0.7s;
  }

  &.svg__achievement__badge__star--2 {
    animation-duration: 1s;
  }

  &.svg__achievement__badge__star--3 {
    animation-duration: 1.3s;
  }

  &.svg__achievement__badge__star--4 {
    animation-duration: 1.5s;
  }
}

// --- Animation Keyframes ---

@keyframes alternate-color-animation {
  0% {
    fill: rgb(255 255 255);
  }

  50% {
    fill: var(--primary);
    fill-opacity: 0.3;
  }

  100% {
    fill: rgb(255 255 255);
  }
}

@keyframes shine-animation {
  0% {
    opacity: 0;
    animation-delay: 0.3s;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(1.5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes zoom-in-down-animation {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// overwrite
.swal2-html-container {
  overflow: hidden !important;
}
