@use '~@material/chips/deprecated/mdc-chips';
@import '../Layout/Variables';
@import '../Layout/Mixins';

.dot {
  position: relative;
  display: inline-flex;
  width: 15px;
  height: 15px;
  background-color: var(--primary);
  border-radius: 50%;
}

.mark-as-read {
  @media screen and (width <= 991px) {
    margin-right: 0;
    margin-left: auto;
  }

  @media screen and (width <= 250px) {
    padding-left: 20px;
  }
}

.notif {
  margin-left: 8px;
}

.avatar {
  padding-left: 3px;
}

.ripple {
  background-position: center;
  transition: background 0.6s;
}

.ripple:active {
  background-color: #d9d9d9;
  background-size: 100%;
  transition: background 0s;
}

.broadcast-icon {
  font-size: 2vw;

  @media screen and (width <= 2500px) {
    font-size: 3vw;
  }

  @media screen and (width <= 1600px) {
    font-size: 4.7vw;
  }

  @media screen and (width <= 1400px) {
    font-size: 5vw;
  }

  @media screen and (width <= 1300px) {
    font-size: 5.3vw;
  }

  @media screen and (width <= 1198px) {
    font-size: 4.5vw;
  }

  @media screen and (width <= 1100px) {
    font-size: 5.7vw;
  }

  @media screen and (width <= 991px) {
    font-size: 4vw;
  }

  @media screen and (width <= 836px) {
    font-size: 4.5vw;
  }

  @media screen and (width <= 767px) {
    font-size: 5.5vw;
  }

  @media screen and (width <= 680px) {
    font-size: 6vw;
  }

  @media screen and (width <= 575px) {
    font-size: 15vw;
  }

  @media screen and (width <= 450px) {
    font-size: 13.5vw;
  }

  @media screen and (width <= 350px) {
    font-size: 12vw;
  }
}

.notification-header {
  width: 100%;
}

.notification-avatar-round {
  border-radius: 100%;
  width: 100%;
}

.chip-selected {
  color: rgb(0 0 0 / 87%);
  background-color: #acacac;
}

.chip-default {
  color: rgb(0 0 0 / 87%);
  background-color: #e0e0e0;
}

.scroll-wrapper {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .chip {
    flex: 0 0 auto;
  }
}
