/* Footer */
/* Default */
:root {
  --mdc-theme-primary: var(--primary-bg, var(--primary));
  --mdc-theme-on-primary: var(--on-primary);
}

@keyframes spinner {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
.user-list {
  margin-bottom: 1rem;
}
.user-list .users-spinner-container {
  display: none;
}
.user-list.loading .user-list__wrapper {
  animation: spinner;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;
}
.user-list.empty {
  display: none;
}
.user-list.empty-with-text {
  justify-content: center;
  text-align: center;
}
.user-list__title {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1rem 0;
  margin-right: -1rem;
  margin-left: -1rem;
  cursor: pointer;
}
@media (min-width: 576px) {
  .user-list__title {
    border-radius: 0.375rem;
  }
}
.user-list__title:hover,
.user-list__title:active {
  background-color: rgba(0, 0, 0, 0.08);
}
.user-list__title__btn-toggle {
  display: flex;
  flex-direction: row;
}
.user-list__title__btn-toggle__text {
  padding-right: 0.5rem;
  font-size: 0.95rem;
}
@media (max-width: 575.98px) {
  .user-list__title__btn-toggle__text {
    display: none;
  }
}
.user-list__user {
  display: block;
  flex-shrink: 0;
}
.user-list__user:hover {
  text-decoration: none;
}
.user-list__user:hover .user-list__user__image {
  box-shadow: 3px 3px 20px 0 rgba(50, 50, 50, 0.35);
}
.user-list__user__image {
  width: 100%;
  border-radius: 10%;
  aspect-ratio: auto 1/1;
  box-shadow: 3px 3px 20px 0 rgba(50, 50, 50, 0.15);
}
.user-list__user__name {
  display: inline-block;
  display: -webkit-box;
  max-width: 100%;
  height: 3rem;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.5rem;
}
.user-list__user__property {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--bs-secondary-color);
}
.user-list__user__property .material-icons {
  font-size: 1.25rem;
}
.user-list__user__property__value {
  padding-left: 0.3rem;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-list.user-list--full > .container,
.user-list.horizontal > .container {
  padding: 0;
}
.user-list.user-list--full .users-container,
.user-list.horizontal .users-container {
  display: flex;
  flex-direction: row;
  padding: 1rem 0.75rem;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
  overflow-y: auto;
}
.user-list.user-list--full .user-list__user,
.user-list.horizontal .user-list__user {
  width: 25vw;
  max-width: 160px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .user-list.user-list--full .user-list__user,
  .user-list.horizontal .user-list__user {
    width: 10vw;
  }
}
.user-list.user-list--full .user-list__user + .user-list__user,
.user-list.horizontal .user-list__user + .user-list__user {
  margin-left: 1.5rem;
}
.user-list.user-list--full .users-container {
  flex-wrap: wrap;
  justify-content: center;
}
.user-list.user-list--full .user-list__user {
  margin-right: 0.5rem;
  margin-bottom: 1.5rem;
  margin-left: 0.5rem !important;
}
.user-list.vertical {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  padding-top: 1rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  overflow-y: auto;
  background: #fff;
}
@media (width <= 599px) {
  .user-list.vertical {
    top: 56px;
  }
}
.is-webview .user-list.vertical {
  top: calc(64px + env(safe-area-inset-top));
}
@media (width <= 599px) {
  .is-webview .user-list.vertical {
    top: calc(56px + env(safe-area-inset-top));
  }
}
.user-list.vertical .user-list__title {
  padding-bottom: 1rem;
}
.user-list.vertical .users-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .user-list.vertical .users-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.75rem 0.75rem;
    grid-template-areas: '. .';
  }
}
.user-list.vertical .user-list__user {
  display: grid;
  align-items: start;
  padding-bottom: 1rem;
  grid-template-columns: 25% auto;
  grid-template-rows: max-content auto;
  gap: 0.3rem 1rem;
  grid-template-areas: 'image name' 'image property';
  text-decoration: none;
}
.user-list.vertical .user-list__user__image {
  grid-area: image;
}
.user-list.vertical .user-list__user__name {
  font-size: 1.4rem;
  grid-area: name;
}
.user-list.vertical .user-list__user__property {
  grid-area: property;
}
.user-list.vertical .user-list__chevrons {
  display: none;
}
.user-list__wrapper {
  position: relative;
}
.user-list__chevrons {
  position: absolute;
  top: 1rem;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vw;
  max-height: 160px;
  pointer-events: none;
}
@media (max-width: 767.98px) {
  .user-list__chevrons {
    display: none;
  }
}
.user-list__chevrons__left,
.user-list__chevrons__right {
  z-index: 3;
  color: #fff;
  pointer-events: all;
}
.user-list__chevrons__left::before,
.user-list__chevrons__left::after,
.user-list__chevrons__right::before,
.user-list__chevrons__right::after {
  position: absolute;
  z-index: -1;
  background-color: #000;
}
.user-list__chevrons__left::before,
.user-list__chevrons__right::before {
  opacity: 0.3;
}
.user-list__chevrons__left:hover::before,
.user-list__chevrons__right:hover::before {
  opacity: 0.34;
}
.user-list__chevrons__left:active::after,
.user-list__chevrons__right:active::after {
  opacity: 0.42 !important;
}
.user-list__chevrons__right {
  position: absolute;
  right: 0;
}
