@use 'sass:math';
@import '../Layout/Variables';
@import '../Layout/Mixins';
@import '~bootstrap/scss/mixins';

$max-user-thumb-size: 160px;
$container-padding: 1rem;

@keyframes spinner {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

.user-list {
  margin-bottom: 1rem;

  .users-spinner-container {
    display: none;
  }

  &.loading {
    .user-list__wrapper {
      animation: spinner;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-direction: alternate;
    }
  }

  &.empty {
    display: none;
  }

  &.empty-with-text {
    justify-content: center;
    text-align: center;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 1rem 0;
    margin-right: -1rem;
    margin-left: -1rem;
    cursor: pointer;

    @include media-breakpoint-up(sm) {
      border-radius: $border-radius;
    }

    &:hover,
    &:active {
      background-color: rgb(0 0 0 / 8%);
    }

    &__btn-toggle {
      display: flex;
      flex-direction: row;

      &__text {
        padding-right: 0.5rem;
        font-size: 0.95rem;

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }

  &__user {
    display: block;
    flex-shrink: 0;

    &:hover {
      text-decoration: none;

      .user-list__user__image {
        box-shadow: 3px 3px 20px 0 rgb(50 50 50 / 35%);
      }
    }

    &__image {
      width: 100%;
      border-radius: 10%;
      aspect-ratio: auto 1 / 1;
      box-shadow: 3px 3px 20px 0 rgb(50 50 50 / 15%);
    }

    &__name {
      display: inline-block;
      // stylelint-disable-next-line value-no-vendor-prefix
      display: -webkit-box;
      max-width: 100%;
      height: 3rem;
      overflow: hidden;
      -webkit-line-clamp: 2; // ellipse at 2nd text line
      // stylelint-disable-next-line property-no-vendor-prefix
      -webkit-box-orient: vertical;
      line-height: 1.5rem;
    }

    &__property {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $text-muted;

      .material-icons {
        font-size: 1.25rem;
      }

      &__value {
        padding-left: 0.3rem;
        font-size: 0.9rem;

        @include text-truncate;
      }
    }
  }

  &.user-list--full,
  &.horizontal {
    > .container {
      padding: 0;
    }

    .users-container {
      display: flex;
      flex-direction: row;
      padding: $container-padding #{math.div($grid-gutter-width, 2)};
      margin-right: math.div(-$grid-gutter-width, 2);
      margin-left: math.div(-$grid-gutter-width, 2);
      overflow-y: auto;
    }

    .user-list__user {
      width: 25vw;
      max-width: $max-user-thumb-size;
      text-decoration: none;

      @include media-breakpoint-up(md) {
        width: 10vw;
      }
    }

    .user-list__user + .user-list__user {
      margin-left: 1.5rem;
    }
  }

  &.user-list--full {
    .users-container {
      flex-wrap: wrap;
      justify-content: center;
    }

    .user-list__user {
      margin-right: 0.5rem;
      margin-bottom: 1.5rem;
      margin-left: 0.5rem !important;
    }
  }

  &.vertical {
    position: fixed;
    top: 64px;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: calc(100vh - 64px);
    padding-top: 1rem;
    padding-right: math.div($grid-gutter-width, 2);
    padding-left: math.div($grid-gutter-width, 2);
    overflow-y: auto;
    background: #fff;

    @media (width <= 599px) {
      top: 56px;
      height: calc(100vh - 56px);
    }

    .user-list__title {
      padding-bottom: 1rem;
    }

    .users-container {
      display: flex;
      flex-direction: column;

      @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: math.div($grid-gutter-width, 2) math.div($grid-gutter-width, 2);
        // stylelint-disable-next-line
        grid-template-areas: '. .';
      }
    }

    .user-list__user {
      display: grid;
      align-items: start;
      padding-bottom: 1rem;
      grid-template-columns: 25% auto;
      grid-template-rows: max-content auto;
      gap: 0.3rem 1rem;
      // stylelint-disable-next-line
      grid-template-areas: 'image name' 'image property';
      text-decoration: none;

      &__image {
        grid-area: image;
      }

      &__name {
        font-size: 1.4rem;
        grid-area: name;
      }

      &__property {
        grid-area: property;
      }
    }

    .user-list__chevrons {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__chevrons {
    position: absolute;
    top: $container-padding;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vw;
    max-height: $max-user-thumb-size;
    pointer-events: none;

    $default-opacity: 0.3;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &__left,
    &__right {
      z-index: 3;
      color: #fff;
      pointer-events: all;

      &::before,
      &::after {
        position: absolute;
        z-index: -1;
        background-color: #000;
      }

      &::before {
        opacity: $default-opacity;
      }

      &:hover::before {
        opacity: $default-opacity + 0.04;
      }

      &:active::after {
        opacity: $default-opacity + 0.12 !important;
      }
    }

    &__right {
      position: absolute;
      right: 0;
    }
  }
}
