@use "sass:math";

@import "../base/variables";
@import "../base/mixins";

.featured-slider {
  margin-bottom: 25px;
}

$carousel-indicator-size: 1em;
$carousel-control-size: 4em;
$carousel-indicator-margin: 0.2em;

.carousel-indicators .active {
  background-color: var(--primary);
}

.carousel-control {
  font-size: $carousel-control-size;

  @include media-breakpoint-between(sm, md) {
    font-size: math.div($carousel-control-size, 1.3);
  }

  @include media-breakpoint-down(sm) {
    font-size: math.div($carousel-control-size, 1.6);
  }
}

.carousel-indicators li {
  bottom: -1em;
  display: inline-block;
  width: $carousel-indicator-size;
  height: $carousel-indicator-size;
  margin: $carousel-indicator-margin;
  text-indent: 0;
  cursor: pointer;
  background-color: $secondary;
  border: none;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 768px) {
    width: math.div($carousel-indicator-size, 1.3);
    height: math.div($carousel-indicator-size, 1.3);
    margin: math.div($carousel-indicator-margin, 1.3);
  }

  @media screen and (max-width: 768px) {
    width: math.div($carousel-indicator-size, 1.6);
    height: math.div($carousel-indicator-size, 1.6);
    margin: math.div($carousel-indicator-margin, 1.6);
  }
}
