.toggle-control {
  position: relative;
  display: block;
  margin-bottom: 12px;
  font-size: 22px;
  cursor: pointer;
  user-select: none;
  opacity: 1;
}

.toggle-control input {
  position: absolute;
  width: 0;
  height: 0;
  cursor: pointer;
  opacity: 0;
}

.toggle-control input:checked ~ .control {
  background-color: #f1f1f1;
}

.toggle-control input:checked ~ .control::after {
  left: 17px;
  background-color: var(--primary);
}

.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 16px;
  background-color: #bcbbbb;
  border-radius: 25px;
  transition: background-color 0.3s ease-in-out;
}

.toggle-control .control::after {
  position: absolute;
  top: -4px;
  left: -1px;
  width: 24px;
  height: 24px;
  content: '';
  background: #f1f1f1;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
