@use '~@material/select';
@use '~@material/select/mdc-select';
@use '~@material/list/mdc-list';
@use '~@material/menu-surface/mdc-menu-surface';
@use '~@material/menu/mdc-menu';
@use '~@material/select/styles';
@import '../base/variables';
@import '../base/mixins';

// Keep the footer at the bottom at all time.

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  padding: 1.5rem;
  margin-bottom: 1.25rem;
}

// ----

.footer {
  margin-top: auto;
  padding: 1.5rem;
  color: $footer-color;
  background-color: $footer-background-color;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    padding: 0;
    list-style: none;

    .list-vertical {
      li {
        display: block;
        hyphens: auto;
      }
    }
  }
}

.mdc-select {
  width: 100% !important;
}

.mdc-notched-outline__notch {
  width: 100% !important;
}
