{% if enabled %}
<li class="nav-item" >
    <a class="nav-link" href="{{ url('studios_overview') }}" id="btn-studio">
        <span class="sidebar-link-icon material-icons">group_work</span>
        <span class="sidebar-link-text">{{ 'menu.studio'|trans({}, "catroweb") }}</span>
    </a>
</li>
{% endif %}
