{% extends base_template %}

{% block list_table %}

  <style>
    h3
    {
      margin-left: 20px;
    }

    p
    {
      margin-left: 20px;
    }

    label 
    {
    font-weight: normal;
    }

    .mtable
    {
      display: table;
      margin-left: 20px;
      margin-bottom: 30px;
      width: 95%;
    }

    .row-title
    {
      width: 100px;
      line-height: 28px;
      display: table-row;
      float: left;
      clear: both;
    }

    .row-button-mt
    {
      margin-top: -15px;
      display: table-row;
      float: left;
      margin-bottom: 10px;
      width: 500px;
    }

    .row-button
    {
      display: table-row;
      float: left;
      margin-bottom: 10px;
      width: 100%;
      max-width: 500px;
    }

    .row-result
    {
      margin-top: 5px;
      display: table-row;
      float: left;
      margin-bottom: 10px;
      width: 100%;
      max-width: 500px;
    }

    .row-button-mt-input
    {
      width: 100%;
    }

    .row-button-mt-textarea
    {
      width: 100%;
      min-height: 100px;
    }

    .error
    {
      color: red;
    }

    .success
    {
      color: green;
    }

    .drop-down 
    {
      display: table-row;
      float: left;
      width: 100%;
      max-width: 500px;
      padding: 0 0 10px 0;
    }

  </style>


  <div class="col-xs-12 col-md-12">
    <div class="box box-primary">
      <div class="box-body table-responsive no-padding">

        <h3>Send Email</h3>

        <p>This tool allows you to send Emails to Users.</p>

        <div class="mtable">
          <div class="row-title">
            <label for="template-select">Template:</label>
          </div>
          <div class="drop-down">
            <select id="template-select" name="template" class="drop-down-select">
              <option value="confirmation">Confirmation Email</option>
              <option value="reset">Reset Email</option>
              <option value="basic">Simple Message</option>
            </select>
          </div>
          <div class="row-title">
            User Name:
          </div>
          <div class="row-button-mt">
            <label for="username"></label>
            <input id="username" type="text" class="row-button-mt-input"/>
          </div>

          <div class="row-title">
            Subject:
          </div>
          <div class="row-button-mt">
            <label for="subject"></label>
            <input id="subject" class="row-button-mt-input"/>
          </div>

          <div class="row-title">
            Title:
          </div>
          <div class="row-button-mt">
            <label for="title"></label>
            <input id="title" class="row-button-mt-input"/>
          </div>

          <div class="row-title">
            Content:
          </div>
          <div class="row-button-mt">
            <label for="content"></label>
            <textarea id="content" class="row-button-mt-textarea"></textarea>
          </div>

          <div class="row-title">
            Submit:
          </div>
          <div class="row-button">
            <input type="button" class="btn btn-send" value="Send"/>
            <input id="preview-button"  type="button" class="btn btn-preview" value="Preview"/>
          </div>
          <div class="row-title">
            Result:
          </div>
          <div class="row-result resultBox error">
          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="{{ asset('js/AdminMail.js') }}"></script>
{% endblock %}
