parameters:
  catrobat.test.directory.source: "%kernel.project_dir%/tests/testdata/DataFixtures/test.catrobat"
  catrobat.test.directory.source.extensions: "%kernel.project_dir%/tests/testdata/DataFixtures/extensions.catrobat"
  catrobat.test.directory.target: "%kernel.project_dir%/tests/testdata/DataFixtures/GeneratedFixtures/"
  catrobat.file.extract.dir:   "%catrobat.pubdir%resources_test/extract/"
  catrobat.file.storage.dir:   "%catrobat.pubdir%resources_test/projects/"
  catrobat.screenshot.dir:     "%catrobat.pubdir%resources_test/screenshots/"
  catrobat.screenshot.path:    "resources_test/screenshots/"
  catrobat.thumbnail.dir:      "%catrobat.pubdir%resources_test/thumbnails/"
  catrobat.thumbnail.path:     "resources_test/thumbnails/"
  catrobat.featuredimage.dir:  "%catrobat.pubdir%resources_test/featured/"
  catrobat.featuredimage.path: "resources_test/featured/"
  catrobat.apk.dir:            "%catrobat.pubdir%resources_test/apk/"
  catrobat.mediapackage.dir:   "%catrobat.pubdir%resources_test/mediapackage/"
  catrobat.mediapackage.path:  "resources_test/mediapackage/"
  catrobat.backup.dir:         "%catrobat.pubdir%resources_test/backups/"
  catrobat.snapshot.dir:       "%catrobat.pubdir%resources_test/snapshots/"
  catrobat.logs.dir:           "%kernel.project_dir%/tests/testdata/log/"
  jenkins:
    url: https://jenkins.catrob.at/buildByToken/buildWithParameters
    job: "Build-Program"
    token: "SECRETTOKEN"
    id_parameter_name: "PROJECT"
    download_url_parameter_name: "download"
    upload_url_paramenter: "upload"
    uploadtoken: "UPLOADTOKEN"

services:
  catrobat.test.command.generatetestdata:
    class: App\Catrobat\Commands\GenerateTestDataCommand
    arguments:
    - "@catrobat.test.filesystem"
    - "@catrobat.test.extractor"
    - "@catrobat.test.compressor"
    - "%catrobat.test.directory.source%"
    - "%catrobat.test.directory.target%"
    - "%catrobat.test.directory.source.extensions%"
    tags:
    - { name: console.command }

  catrobat.test.filesystem:
    class: Symfony\Component\Filesystem\Filesystem
    public: false

  catrobat.test.extractor:
    class: App\Catrobat\Services\CatrobatFileExtractor
    arguments:
    - "%catrobat.test.directory.target%"
    - "%catrobat.file.extract.path%"

  catrobat.test.compressor:
    class: App\Catrobat\Services\CatrobatFileCompressor

  tokengenerator.inner:
    class: App\Catrobat\Services\TokenGenerator

  tokengenerator:
    class: App\Catrobat\Services\TestEnv\ProxyTokenGenerator
    arguments:
    - "@tokengenerator.inner"

  time.inner:
    class: App\Catrobat\Services\Time

  time:
    class: App\Catrobat\Services\TestEnv\ProxyTime
    arguments:
    - "@time.inner"

  ci.jenkins.dispatcher:
    class: App\Catrobat\Services\TestEnv\FakeJenkinsDispatcher
    arguments:
    - "@router"
    - "%jenkins%"

  fr3d_ldap.ldap_driver:
    class: App\Catrobat\Services\TestEnv\LdapTestDriver
    arguments:
    - "%ldap_base_dn%"

  facebook_post_service:
    class: App\Catrobat\Services\TestEnv\FakeFacebookPostService
    arguments:
    - "@real_facebook_post_service"

  real_facebook_post_service:
    class: App\Catrobat\Services\FacebookPostService
    arguments:
    - "@router"
    - "@service_container"
    - "@screenshotrepository"

  real_oauth_service:
    class: App\Catrobat\Services\OAuthService
    arguments:
    - "@service_container"

  oauth_service:
    class: App\Catrobat\Services\TestEnv\FakeOAuthService
    arguments:
    - "@real_oauth_service"
    - "@service_container"

  statistics:
    class: App\Catrobat\Services\TestEnv\FakeStatisticsService
    arguments:
    - "@real_statistics"

  real_statistics:
    class: App\Catrobat\Services\StatisticsService
    arguments:
    - "@programmanager"
    - "@doctrine.orm.entity_manager"
    - "@logger"
    - "@security.token_storage"
    tags:
    - { name: monolog.logger, channel: download_stats }
