:root {
  --primary: #00acc1;
  --mdc-theme-primary: #00acc1;
  --color-primary: hsl(187, 100%, 38%);
  --color-primary-h: 187;
  --color-primary-s: 100%;
  --color-primary-l: 38%;
  --theme-logo-color-primary: #62aeb2;
  --theme-logo-color-secondary: #62aeb2;
}
