@import "./base/variables";

.login {
  width: 100%;
}

.theme-logo-title {
  font-size: $theme-logo-font-size;
  font-weight: $theme-logo-font-weight;
}

.title-color-left {
  color: $theme-logo-color-primary;
}

.title-color-right {
  color: $theme-logo-color-secondary;
}

hr {
  width: 100%;
  border-color: var(--primary);
}

// ----------

.login-text--secondary {
  font-size: 85%;
}

.social-login-btn {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0.2em #000;
}

.social-login-btn--facebook {
  background-color: #0572e6;
}

.social-login-btn__img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.25rem;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.social-login-btn__img--facebook {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.5rem;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
