{% extends 'Layout/Base.html.twig' %}

{% block body %}
    <h1 class="h2">{{ "resetPassword.check.title"|trans({}, "catroweb") }}</h1>
    <p>
        {{ "resetPassword.check.description"|trans({
            "%time%": resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')
        }, "catroweb") }}
    </p>
     <p>
        {{ "resetPassword.check.descriptionTwo"|trans({
            "%throttleLimit%": throttleLimit}, "catroweb") }}
    </p>
    <p>
        {{ "resetPassword.check.descriptionThree"|trans({
            '%email-webmaster%': '<a href="mailto:webmaster@catrobat.org">webmaster@catrobat.org</a>'
        }, "catroweb")|raw }}
    </p>
{% endblock %}
