@import "theme_settings";

.achievement-top__wrapper {
  display: flex;
  align-items: center;
  text-align: center;
}

.tab-content > .achievement__wrapper {
  display: none;
}

.tab-content > .achievement__wrapper.active {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.achievement {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 1rem;
  text-align: center;
}

.achievement-top__badge,
.achievement__badge {
  position: relative;
}

.achievement-top__badge__image,
.achievement__badge__image {
  z-index: 1;
  width: 10rem;
  margin: auto;

  &.achievement__badge__image--small {
    width: 7rem;
    margin: 0;
  }
}

.achievement-top__badge__banner,
.achievement__badge__banner {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  width: 10rem;
  max-width: 100%;
  padding: 0.25rem;
  font-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% auto;
  transform: translate(-50%, 0);
  -webkit-mask-size: 100% auto;
  mask-size: 100% auto;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  &.achievement__badge__banner--small {
    width: 7rem;
    font-size: 70%;
    text-align: center;
  }
}

.achievement-top__text-wrapper {
  padding-left: 1rem;
  text-align: left;
}

