// Bootstrap extending CSS

.card {
  border-radius: 0;
  box-shadow: 0 2px 1px -2px rgba(0, 0, 0, .2),
  0 2px 2px 0 rgba(0, 0, 0, .14),
  0 1px 4px 0 rgba(0, 0, 0, .12);

  table.table td,
  table.table th {
    padding: .25em;
  }

  tr td:first-child {
    width: 50%;
    padding-left: 10%;
    text-align: left;
  }

  tr:last-child td {
    border-bottom: 1px solid #dee2e6;
  }

  .card {
    box-shadow: none;
    border-left: none;
    border-right: none;
    border-block-end: none;
  }
}

.card-header {
  background: none;
  font-size: .9rem;
  border-bottom: 0;

  .collapsed {
    border-bottom: 2px solid #eee;
  }
}

.card-body {
  padding: 0;

  .card-header {
    font-size: .8rem;
    font-weight: bold;
    padding-left: 2em;
  }

  .card-body {
    padding: 0;

    .card-header {
      font-size: .8rem;
      font-weight: normal;
      padding-left: 3em;
    }
  }
}


// Effects

.card-header[aria-expanded="true"],
.collapse.show .card-header,
.collapse.show .card-body {
  background: rgba(0, 0, 0, .02);
  transition: .5s background ease;
}

.card-header[aria-expanded="true"] {
  font-weight: bold;
}

.rotate-left {
  transition: .3s transform ease;
}

[data-toggle="collapse"][aria-expanded="true"] .rotate-left {
  transform: rotate(-90deg);
}
