@import '../../../public/bootstrap/scss/functions';
@import '../base/variables';
@import '../base/mixins';
@import '../../../public/bootstrap/scss/variables';
@import '../../../public/bootstrap/scss/mixins';
@import "../base/elements";
@import 'theme_settings';

#help-container {
  margin: 0 auto;
  width: 100%;

  img {
    cursor: pointer;
  }
}

.tutorialcards-container {
  padding: 0;

  .img-container {
    margin: 5px auto;
    width: 60%;

    .extra-text {
      margin-top: 55px;
      margin-bottom: 30px;
    }

    img {
      border: 1px solid #fff;
      margin: 0 auto 15px auto;
    }
  }

  p.description {
    margin: 0 0 25px 0;

    strong {
      text-transform: uppercase;
    }
  }

  .block {
    overflow: auto;

    > div {
      margin: 20px auto 0 auto;
    }

    > div:nth-child(1) {
      width: 50%;
      float: left;
    }

    > div:nth-child(2) {
      width: 50%;
      float: right;
    }
  }

  @media screen and (max-width: 720px) {

    .block > div:nth-child(1),
    .block > div:nth-child(2) {
      width: 100%;
      float: none;
    }

    .img-container {
      width: 50%;
    }
  }
}

.starter-container {

  a {
    text-decoration: none !important;
  }

  .starter-header {
    border-bottom: 1px solid $default-text-color;

    .col-per-25 {
      float: left;
      padding: 20px 0;
      width: 25%;
    }
  }

  .program {
    font-size: $default-font-size;
  }

  @media screen and (max-width: var(--breakpoint-lg)) {
    .col-per-25 {
      width: 50% !important;
    }

  }

}

#tutorialcard {
  a {
    text-decoration: none;
    color:  $help-link-color;
  }
}

.video-container {
  text-align: center;

  .video {
    width: 100%;
    height: 300px;
    max-width: 530px;
    margin-top: 25px;
  }
}

#step-by-step-container {
  padding: 25px 0;
}

.tutorialcards-wrapper {

  $tutorialcard-size: 80px;
  $tutorialcard-padding: 5px;
  $tutorialcard-grid-spacing: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  > a {
    width: $tutorialcard-size + 4 + 2 * $tutorialcard-padding;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1px;

    margin-right: $tutorialcard-grid-spacing;
    margin-bottom: $tutorialcard-grid-spacing;

    &:hover {
      text-decoration: none;
      color: $primary;
      border-color: $primary;
      border-width: 2px;
      padding: 0;
    }

    img {
      padding: $tutorialcard-padding;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    span {
      padding: $tutorialcard-padding;
      text-align: center;
      @include force-word-break();
    }
  }
}