@import "../../../public/bootstrap/scss/functions";
@import "../base/variables";
@import "../../../public/bootstrap/scss/variables";
@import "../../../public/bootstrap/scss/mixins";
@import "theme_settings";
@import "@material/select/mdc-select";


#featuredPrograms {
  margin-bottom: 25px;
}

.visited-program {
  opacity: 0.6;
}

// feature bootstrap carousel
$carousel-indicator-size: 1em;
$carousel-control-size: 4em;
$carousel-indicator-margin: 0.2em;

.carousel-indicators li {
  bottom: -1em;
  display: inline-block;
  width: $carousel-indicator-size;
  height: $carousel-indicator-size;
  margin: $carousel-indicator-margin;
  text-indent: 0;
  cursor: pointer;
  background-color: $secondary;
  border: none;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 768px) {
    width: $carousel-indicator-size / 1.3;
    height: $carousel-indicator-size / 1.3;
    margin: $carousel-indicator-margin / 1.3;
  }

  @media screen and (max-width: 768px) {
    width: $carousel-indicator-size / 1.6;
    height: $carousel-indicator-size / 1.6;
    margin: $carousel-indicator-margin / 1.6;
  }
}

.carousel-indicators .active {
  background-color: $primary;
}

.carousel-control {
  font-size: $carousel-control-size;

  @include media-breakpoint-between(sm, md) {
    font-size: $carousel-control-size / 1.3;
  }

  @include media-breakpoint-down(sm) {
    font-size: $carousel-control-size / 1.6;
  }
}

.card {
  width: 25rem;
  max-width: 100%;
  margin-top: 2rem;
  border-color: $primary;

  @include media-breakpoint-up(sm) {
    width: inherit;
    min-width: 25rem;
    max-width: 25rem;
  }
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

/* fade image in after load */
.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
img.lazyload:not([src]) {
  visibility: hidden;
}

.youtube {
  flex: 1;
  min-width: 300px;
  height: 92.5%;
  min-height: 250px;
  margin-top: 1.1em;
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
}

.youtube-img {
  width: 100%;
  opacity: 0.7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
  cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}

.youtube .play-button:hover {
  background-color: red;
}

.youtube iframe {
  position: absolute;
  top: -5%;
  height: 100%;
  width: 100%;
  left: 0;
}