#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 600;
}


.loader {
  display: inline-block;
  width: 160px;
  height: 160px;
  border: 20px solid #000;
  position: relative;
  animation: loader 4s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #FFFFFF;
  animation: loader-inner 4s infinite ease-in;
}

.loader-text {
  margin-top: 20px;
  font-size: 30px;
  color: #000;
  text-shadow: 1px 1px #CCCCCC;
}
