@import '../base/variables';
@import 'theme_settings';

.login {
  width: 318px;
}

.group {
  margin-top: 40px;
  position: relative;
}

.group input {
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba($primary, 0.3);
  background: none;
  color: $primary;
}

.group input:focus {
  outline: none;
}

// Html5 validation error: red border in all browsers like the default firefox behaviour
.group input:invalid {
  border-color: #ffdddd;
  border-width: 3px;
}

.group input:valid {
  border-color: #ddffdd;
  border-width: 3px;
}


/* LABEL ======================================= */

.group label {
  color: rgba($primary, 0.5);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 20px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active durum */

.group input:focus ~ label,
.label-with-placeholder,
input:valid ~ label {
  top: -20px !important;
  font-size: 14px !important;
  color: rgba($primary, 0.7) !important;
}

/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: rgba($primary, 0.7);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active durum bar */

.group input:focus ~ .bar:before,
.group input:focus ~ .bar:after {
  width: 50%;
}



/* HIGHLIGHTER ================================== */

.highlight {
  position: absolute;
  height: 0;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active durum */

.group input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* form animasyon ================ */

/*@-webkit-keyframes inputHighlighter {
  from {
    background: rgba($primary, 0.7);
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: rgba($primary, 0.7);
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: rgba($primary, 0.7);
  }
  to {
    width: 0;
    background: transparent;
  }
}*/

.span-input {
  margin-left: 10px;
  position: relative;
  top: -5px;
}

/*.social-button-effects {
  opacity: 0.9;
}

.social-button-effects:hover {
  opacity: 1.1;
}*/


#_submit {
  width: 100%;
}

.form-group {
  min-height: 39px;
}

/*#login_links {
  font-size: 16px;
  width: 318px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 12px;
}*/

#seperator-text {
  top: 10px;
  position: relative;
  text-align: left;
}

hr {
  width: 100%;
  border-color: $primary;
}

/*.hidden {
  width: 0;
  height: 0;
  background: transparent;
  border: none !important;
}

.ui-widget-header, .ui-state-default {
  background: $default-border-color;
  border: 3px solid $default-border-color;
  color: #FFFFFF;
  font-weight: bold;
}

.align_start {
  text-align: start;
}*/

.show-hide-password {
  display: flex;
}

.log-in-text {
  vertical-align: middle;
  font-size: 18px;
}
.google-logo, .fb-logo{
  transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
}
.apple-logo{
  transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
}