@import "../../../public/bootstrap/scss/functions";
@import "../base/variables";
@import "../base/mixins";
@import "../base/elements";
@import "../../../public/bootstrap/scss/variables";
@import "../../../public/bootstrap/scss/mixins";
@import "theme_settings";


#thumbsize-control
{
  display: flex;
  align-items: center;
  justify-content: flex-end;

  span
  {
    margin-right: 0.5rem;
  }
}

$tile-size: 80px;
$tile-size-md-smup: 100px;
$tile-size-sm: 54px;
$tile-size-lg: 191px;
$border-spacing: 8px;

.category
{
  margin-top: 1rem;
  &:first-child
  {
    margin-top: 0;
  }

  > .files
  {
    display: flex;
    flex-flow: row wrap;

    .mediafile
    {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $tile-size;
      height: $tile-size;
      margin: 0.5rem;
      text-decoration: none;
      border: 2px solid transparent;
      border-radius: 5px;
      transition: border 0.5s;

      .checkbox
      {
        position: absolute;
        top: 0;
        right: 0;
        color: $white;
        visibility: hidden;
      }

      &.selected
      {
        text-decoration: none;
        background-color: #e5e5e5;

        .checkbox
        {
          font-size: 20px;
          color: $white;
          visibility: visible;
        }

        .media-file-type
        {
          z-index: initial;
        }
      }

      > img
      {
        max-width: $tile-size - $border-spacing !important;
        max-height: $tile-size - $border-spacing;
      }

      .media-file-icon
      {
        font-size: $tile-size;
        opacity: 0.13;
      }

      .media-file-type
      {
        z-index: 1;
        margin-top: 1.6rem;
        font-size: 2.4rem;
        color: $white;
      }

      &.flavored
      {
        order: -1;
      }

      .name {
        z-index: 1;
        max-width: 100%;
        max-height: 100%;
        padding: 1px 4px;
        overflow: hidden;
        font-size: 1.15rem;
        color: $primary;
        text-align: center;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        @include force-word-break();
      }

      &:not(.show-name) .name
      {
        display: none;
      }

      &.show-name
      {
        display: grid;
        .name,
        .media-file-icon,
        .media-file-type
        {
          grid-column: 1;
          grid-row: 1;
          justify-self: center;
        }
      }

      &[data-filetype="audio"] .name {
        max-height: calc(100% - 1.5rem);
        margin-bottom: 1.5rem;
      }

      .audio-control {
        position: absolute;
        right: 12px;
        bottom: 0;
        z-index: 2;
        font-size: 2.4rem;
        cursor: pointer;
        transition: font-size;

        &:hover {
          font-size: 2.6rem;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm)
{
  .category > .files .mediafile
  {
    width: $tile-size-md-smup;
    height: $tile-size-md-smup;

    > img
    {
      max-width: $tile-size-md-smup - $border-spacing !important;
      max-height: $tile-size-md-smup - $border-spacing;
    }

    .media-file-icon
    {
      font-size: $tile-size-md-smup;
    }

    .media-file-type {
      margin-top: 2rem;
      font-size: 2.8rem;
    }
  }
}

#content[size="sm"] .category
{
  > .files .mediafile
  {
    width: $tile-size-sm;
    height: $tile-size-sm;

    > img
    {
      max-width: $tile-size-sm - $border-spacing !important;
      max-height: $tile-size-sm - $border-spacing;
    }

    .media-file-icon
    {
      font-size: $tile-size-sm;
    }
  }
}

#content[size="lg"] .category
{
  > .files .mediafile
  {
    width: $tile-size-lg;
    height: $tile-size-lg;

    > img
    {
      max-width: $tile-size-lg - $border-spacing !important;
      max-height: $tile-size-lg - $border-spacing;
    }

    .media-file-icon
    {
      font-size: $tile-size-lg - 15px;
    }
  }
}
