@import '../base/variables';
@import '../base/mixins';
@import 'theme_settings';


body .btn {
  border-radius: 0%;

}

h1 {
  text-align: center;
}


.notification-container {
  border-color: $primary;


}

.notification-container-old {
  border-color: $primary;
}


.notification-header {
  background-color: $primary;
  color: white;
}

.notification-header .btn.btn-primary {


  border: none;
  width: 40px;

  position: absolute;

  margin-right: 2px;
  right: 5px;
  top: 2px;
}

.notification-avatar {
  margin-left: 2%;
  width: 6rem;
  margin-right: 5%;

  @media screen and (max-width: 500px) {
    margin-right: 10%;
  }
  @media screen and (max-width: 216px) {
    margin-left: 25%;
  }
  @media screen and (max-width: 180px) {
    margin-left: 2%;
  }
}

.notification-follow-btn {
  float: right;
  position: relative;
  right: inherit;
  bottom: 30px;

  @media screen and (max-width: 400px) {

    bottom: auto;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media screen and (max-width: 200px) {

    padding-right: 0px;

  }

}

.notification-follows {
  vertical-align: middle;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 120px;
  max-height: 35px;
  align-items: center;
  justify-content: center;
  white-space: initial;

  img {
    height: 50px;
    float: left;

  }

  span {
    max-width: 100%;
    @include force-word-break();
  }

  @media screen and (max-width: 400px) {
    width: 100px;
  }
  @media screen and (max-width: 170px) {
    width: inherit;
  }

}

.notification-follow {
  border: 2px solid $primary;
  align-items: center;
  justify-content: center;
  white-space: initial;
  vertical-align: middle;
  color: $primary;
  width: 120px;
  max-height: 35px;
  @media screen and (max-width: 400px) {
    width: 100px;
  }
  @media screen and (max-width: 170px) {
    width: inherit;
  }

}

.notification-mark-read {
  float: right;
  position: relative;
  right: -120px;
  bottom: -30px;
  width: 120px;
  height: 35px;
  @media screen and (max-width: 400px) {

    width: auto;
    height: auto;
    right: 10px;
    top: 30px;

  }
  @media screen and (max-width: 298px) {

    bottom: auto;
    width: auto;
    height: auto;
    right: 30px;
    top: -15px;

  }
  @media screen and (max-width: 200px) {

    right: 0px;

  }

}

.notification-body {
  width: auto;
  align-items: center;
  justify-content: center;
  white-space: initial;
  vertical-align: middle;
  @include force-word-break();

  @media screen and (min-width: 1600px) {
    max-width: 90%;
  }
  @media screen and (min-width: 1400px) {
    max-width: 85%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 81%;
  }
  @media screen and (max-width: 1200px) {
    max-width: 77%;
  }
  @media screen and (max-width: 990px) {
    max-width: 40%;
  }
  @media screen and (max-width: 500px) {
    max-width: 60%;
  }
  @media screen and (max-width: 400px) {
    max-width: 50%;
  }
  @media screen and (max-width: 300px) {
    max-width: 40%;
  }
  @media screen and (max-width: 216px) {
    margin-left: 25%;
  }
  @media screen and (max-width: 180px) {
    margin-left: 2%;
  }
}

.notification-summary-left {
  float: left;

  @media screen and (max-width: 576px) {
    float: none;
    text-align: center;
  }
}

.mark-all {
  @media screen and (max-width: 992px) {

    float: right;
    margin-top: 12px;
    margin-right: 16px;
    margin-left: 250px;
  }


}

.notification-summary-right {
  float: right;
  margin-right: 16px;

  @media screen and (max-width: 576px) {

    display: block;
    margin: 1em auto auto auto;
    float: none;
  }
}

.notification-summary-right.btn.btn-danger {
  width: 125px;

}

.notification-round {
  border-radius: 50%;
  border: 1px $primary;
}