@import '../../../public/bootstrap/scss/functions';
@import '../base/variables';
@import '../base/mixins';
@import '../../../public/bootstrap/scss/variables';
@import '../../../public/bootstrap/scss/mixins';
@import 'theme_settings';

/* profile */

#follow-icon {
  font-size: 3em;
  color: $primary;
}

.visited-program {
  opacity: 0.6;

  a {
    color: $primary;
  }
}

/* my Profile Data, Edit */

.avatar-container {
  text-align: center;

  img {
    @media screen and (max-width: 576px) {
      width: 90%;
      max-width: 15rem !important;
    }
  }
}

.edit-container {
  display: none;
}

.edit-subtitle {
  font-weight: 600;
}

.profile-data {
  padding: 0.5em;
  word-break: break-word;
}

.edit-category-button {
  float: right;
  color: $primary;
}

#select-country select {
  width: 100%;
  height: 45px;
  margin-bottom: 0;
}

.save-button {
  margin-top: 11px;
  height: auto;
  width: 100%;
  font-size: medium;
  font-weight: normal;
}

.header {
  width: 100%;
}

/* My Programs */

.program {
  height: 160px !important;
}

.img-delete {
  text-align: center;
  position: relative;
  cursor: pointer;
  left: 35px;
  top: -10px;
  margin-top: -25px;
  width: 30px !important;
  height: 0 !important; // else the layout gets destroyed

  & i {
    background-color: rgba($white, 0.9);
    font-size: 2.0em;
    border-radius: 50%;
    margin: 0;
    padding: 0;
  }
}

.follow-button-container {
  align-self: flex-end;
  text-align: right;
}

.img-lock,
.img-lock-open {
  text-align: center;
  position: relative;
  cursor: pointer;
  left: 25px;
  top: 30px;
  width: 22px !important;
  height: 0 !important; // else the layout gets destroyed

  & i {
    background-color: $primary;
    color: rgba($white, 0.9) !important;
    font-size: 1em;
    border-radius: 50%;
    margin: 0;
    padding: 0.5em;

    &:hover {
      background-color: darken($primary, 10);
      color: $primary !important;
    }
  }
}

/* follower section */
.follower-item {
  a {
    &:hover {
      text-decoration: none;
    }
  }

  &__info {
    font-size: .7em;
    white-space: normal;
  }

  .follow-btn {
    .btn {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

/* should be general */
.round {
  border-radius: 100%;
}

.profile {
    .follow-button-container button {
      min-width: 150px;

      @include media-breakpoint-down(xs) {
        width: 100%;
        display: block;
    }
  }
}

.follower-tabs {
  margin-top: -1rem;
}
