@import "../../../public/bootstrap/scss/functions";
@import "../base/variables";
@import "../base/mixins";
@import "../../../public/bootstrap/scss/variables";
@import "../../../public/bootstrap/scss/mixins";
@import "theme_settings";


.visited-program {
  opacity: 0.6;

  a {
    color: $primary;
  }
}

/* my Profile Data, Edit */

.avatar-container {
  text-align: center;

  img {
    @media screen and (max-width: 576px) {
      width: 90%;
      max-width: 15rem !important;
    }
  }
}

.edit-container {
  display: none;
}

.profile-data {
  word-break: break-word;
}

#select-country select {
  width: 100%;
  height: 45px;
  margin-bottom: 0;
}

.save-button {
  width: 100%;
  height: auto;
  margin-top: 11px;
  font-size: medium;
  font-weight: normal;
}

.header {
  width: 100%;
}

/* My Programs */

.program {
  height: 160px !important;
}

.img-delete {
  position: relative;
  top: -23px;
  left: 30px;
  width: 30px !important;
  height: 0 !important; // else the layout gets destroyed
  margin-top: -25px;
  text-align: center;
  cursor: pointer;

  & i {
    padding: 0;
    margin: 0;
    font-size: 2em;
    background-color: rgba($white, 0.9);
    border-radius: 50%;
  }
}

.button-container {
  align-self: flex-end;
  text-align: right;
  button {
    margin-bottom: 0.2em;
  }
}

.img-lock,
.img-lock-open {
  position: relative;
  top: 30px;
  left: 25px;
  width: 22px !important;
  height: 0 !important; // else the layout gets destroyed
  text-align: center;
  cursor: pointer;

  & i {
    padding: 0.5em;
    margin: 0;
    font-size: 1em;
    color: rgba($white, 0.9) !important;
    background-color: $primary;
    border-radius: 50%;

    &:hover {
      color: $primary !important;
      background-color: darken($primary, 10);
    }
  }
}

/* follower section */
.follower-item {
  a {
    &:hover {
      text-decoration: none;
    }
  }

  &__info {
    font-size: 0.7em;
    white-space: normal;
  }

  .follow-btn {
    .btn {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

/* should be general */
.round {
  border-radius: 100%;
}

.profile {
  .button-container button {
    min-width: 150px;

    @include media-breakpoint-down(xs) {
      display: block;
      width: 100%;
    }
  }
}

.follower-tabs {
  margin-top: -1rem;
}
