@import "../../../public/bootstrap/scss/functions";
@import "../base/variables";
@import "../base/mixins";
@import "../../../public/bootstrap/scss/variables";
@import "../../../public/bootstrap/scss/mixins";
@import "theme_settings";
@import "@material/circular-progress";


#project-thumbnail-big {
  border-radius: 10%;
}

.text-area-empty {
  border-color: #f00 !important;
  border-width: medium;
}

.show {
  display: block;
}

@media screen and (min-width: 992px){
  #project-like,
  #project-like-small {
    .btn-round {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}

@media screen and (max-width: 991px) {
  #project-like,
  #project-like-small{
    .btn-round{
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

#project-like,
#project-like-small {

  position: relative;

  .btn-round {
    border-radius: 50%;
  }

  $like-button-size: 3rem;

  #project-like-buttons,
  #project-like-buttons-small {
    .btn {
      border: 2px solid #fff;
      border-radius: 50%;

      &:not(:first-child) {
        margin-left: -1.2rem;
      }

    }

    &:hover {
      .btn-primary{
        background-color: darken($primary, 7.5%);
      }
    }

    &:active {
      .btn-primary {
        background-color: darken($primary, 10%);
      }

    }
  }

  #project-like-counter {
    font-size: 1.4rem;
    color: $primary;
    cursor: pointer;
    &:hover{
      color: darken($primary, 7.5%);
    }
  }
  #project-like-counter-small {
    font-size: 1.2rem;
    color: $primary;
    cursor: pointer;
    &:hover{
      color: darken($primary, 7.5%);
    }
  }
  #project-like-detail,
  #project-like-detail-small {
    $like-detail-border-color: #b2b2b2; //edit in svg too; rgb(178,178,178)
    $like-detail-left: 0.5rem;
    $like-detail-padding: 0.5rem;
    $like-detail-button-size: 2.4rem;
    $like-detail-triangle-width: 2rem;
    $like-detail-triangle-height: $like-detail-triangle-width/1.38;
    $like-detail-triangle-left: $like-button-size/2 - $like-detail-left;
    position: absolute;
    top: -$like-detail-button-size - 2 * $like-detail-padding - $like-detail-triangle-height;
    left: $like-detail-left;
    //display: flex;
    display: none;
    padding: $like-detail-padding;

    background-color: #fff;
    border: 2px solid $like-detail-border-color;

    .btn {
      margin: 0 0.5rem;
      border: none;
    }

    .btn-round {
      width: $like-detail-button-size;
      height: $like-detail-button-size;
      padding: 0;

    }

    &::after {
      position: absolute;
      bottom: -$like-detail-triangle-height + 0.07rem;
      left: $like-detail-triangle-left;
      width: $like-detail-triangle-width;
      height: $like-detail-triangle-height;
      content: "";
      // stylelint-disable-next-line scss/operator-no-unspaced
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.17 23.98"><defs><style>.a{fill:white}.b{fill:none;stroke:rgb(178,178,178);stroke-linecap:square;stroke-linejoin:round;stroke-width:2px;}</style></defs><polygon class="a" points="10.19 0 1 22.98 33.17 0 10.19 0"/><polyline class="b" points="9.28 2.27 1 22.98 30 2.27"/></svg>');
      background-repeat: no-repeat;
    }

  }
}

#project-like-modal {
  .modal-body {
    .nav-tabs .nav-link {
      padding: 0.2rem 0.58rem;
      background-color: transparent;
      border: none;

      @media (min-width: 400px) {
        padding-right: 1rem;
        padding-left: 1rem;
      }

      &.active {
        border-bottom: 2px solid $primary;
        outline: none; //remove unwanted dotted line border in firefox
      }

      span {
        padding-left: 0.5rem;
      }
    }

    .tab-content {
      .reaction {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 0.4rem 0.75rem;
        border-bottom: 1px solid #dee2e6;

        a {
          flex-grow: 1;
          max-width: calc(100% - 4rem);
          overflow: hidden;
          text-align: left;
          text-overflow: ellipsis;
        }

      }
    }
  }
}

table td:nth-child(1) {
  width: 45px;
}

.popup-div {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  width: 320px;
  height: 200px;
  padding: 20px 5px;
  margin: -125px 0 0 -160px;
  font-size: 15px;
  text-align: center;
  background-color: floralwhite;
  border: none;
}

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.btn-close-popup {
  min-width: 50%;
  min-height: 10px !important;
  margin-top: 10px;
}

#program-comments {
  #user-comment-wrapper {
    padding-bottom: 15px;
  }
}

#comments-wrapper {
  display: block;
  clear: both;
}

.name-date-wrapper {
  display: block;
}

.comment-payload-wrapper {
  display: table-row;
  float: inherit;
}

.date {
  display: inline-block;
  float: left;
}

.usr-name {
  display: inline-block;
  float: left;
}

.comment-text {
  display: block;
  padding-top: 0.4em;
  clear: both;
  @include force-word-break();
}

.single-comment {
  min-height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;

  &.hidden {
    display: none;
  }
}

.usr-name {
  display: block;
  padding-right: 1em;
  font-weight: bold;
}


input[type="number"] {
  box-sizing: border-box;
  -moz-appearance: textfield;
}
.pc-startButton,
.pc-startButton:active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;
  color: #a9dcf1;
  cursor: pointer;
  background: none;
  border: medium none;
  outline: medium none;
  fill: #a9dcf1;
}

.pc-startButton svg {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 0;
  margin: 0;
}

.pc-startButton:hover {
  fill: #fff;
}

.pc-startButton:active {
  padding: 0;
  margin: 0;
  fill: #17a5b8;
}

.pc-startButton:disabled {
  cursor: default;
  fill: #a5a5a5;
}

#tag-extension-container {

  > #tags:nth-child(2) {
    margin-top: 0.5rem;
  }

  #tags,
  #extensions {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: -0.15rem;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    p {
      margin-right: 1rem;
    }

    .list {
      .badge {
        margin: 0.15rem;
        font-size: 100%;
      }
    }
  }
}

.comment-avatar {
  display: table-row;
  float: left;
  width: 4.5rem;
  margin-right: 2%;
  text-align: center;
  border: solid 1px $primary;
  border-radius: 50%;

  @media screen and (max-width: 500px) {
    margin-right: 4%;
  }
}

.comment-avatar-img {
  border-radius: 50%;
}

.add-comment-button {
  float: right;
  font-size: 2em;
}
.sonata-admin-thumbnail-image
{
  width: 96px;
  height: 96px;
}

.user-profile-icon
{
  font-size: 1.6em;
  color: $primary;
}
#wow-reaction-img{
  width: 30px;
  height: 30px;
}
#wow-reaction-img-small{
  width: 26px;
  height: 26px;
}
#wow-reaction-modal{
  width: 20px;
  height: 20px;
  fill: $primary;
}
#wow-reaction{
  padding: 0;
}
.nav-tabs *
{
  color: #000;
}
