@import "../base/elements";


#remix-graph-modal {
  z-index: 300;
  margin: 0;
}

#remix-graph-layer {
  width: 100%;
  height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.01);
}

.context-menu-item {
  padding: 0 0.8rem;

  &.context-menu-icon-material {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem;
    font-size: 1.25rem;

    .material-icons {
      padding-right: 1rem;
    }
  }

  &.context-menu-item-title,
  &.context-menu-item-subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.context-menu-item-title {
    font-size: 1.6rem;
  }

  &.context-menu-item-subtitle {
    font-size: 1rem;
  }

  &.context-menu-separator {
    padding: 0.6rem 0 0;
    margin: 0;
  }
}
