{% extends 'Components/FullscreenModal.html.twig' %}
{% set modal =
  {
    id: 'security-settings-modal',
    title: '' ~ 'myprofile.securitySettings'|trans({}, 'catroweb'),
    left_action:
    {
      id: 'security_settings-cancel_action',
      icon: 'close',
      label: '' ~ 'cancel'|trans({}, 'catroweb'),
      dismiss: true,
    },
    right_action:
    {
      id: 'security_settings-save_action',
      icon: 'done',
      label: '' ~ 'myprofile.done'|trans({}, 'catroweb'),
      dismiss: false,
    },
  }
%}
{% block content %}
  <form id="security-settings-form" class="form-horizontal" role="form">
    {{ include('Components/TextField.html.twig', {
      text_field:
      {
        id: 'profile-current-password',
        label: '' ~ 'profile.oldPass'|trans({}, 'catroweb'),
        name: 'current-password',
        trailing_icon: 'visibility',
        type: 'password',
        tabindex: 1,
      },
    }) }}

    {{ include('Components/TextField.html.twig', {
      text_field:
      {
        id: 'profile-password',
        label: '' ~ 'profile.newPass'|trans({}, 'catroweb'),
        name: 'password',
        trailing_icon: 'visibility',
        type: 'password',
        tabindex: 2,
      },
    }) }}

    {{ include('Components/TextField.html.twig', {
      text_field:
      {
        id: 'profile-repeat-password',
        label: '' ~ 'profile.repeatPass'|trans({}, 'catroweb'),
        name: 'repeat-password',
        trailing_icon: 'visibility',
        type: 'password',
        tabindex: 3,
      },
    }) }}

  </form>
{% endblock %}
