{% extends 'Components/FullscreenModal.html.twig' %}
{% set modal =
  {
    id: 'user-settings-modal',
    title: '' ~ 'myprofile.userSettings'|trans({}, 'catroweb'),
    left_action:
    {
      id: 'profile_settings-back_action',
      icon: 'arrow_back',
      label: '' ~ 'cancel'|trans({}, 'catroweb'),
      dismiss: true
    }
  } %}
{% block content %}
  <div class="profile__user-settings">
  <ul class="list-unstyled">
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="modal" data-bs-target="#profile-settings-modal">
        <span class="link-icon material-icons">person</span>
        <span class="link-text">{{ 'myprofile.profileSettings'|trans({}, 'catroweb') }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="modal" data-bs-target="#security-settings-modal">
        <span class="link-icon material-icons">lock</span>
        <span class="link-text">{{ 'myprofile.securitySettings'|trans({}, 'catroweb') }}</span>
      </a>
    </li>
    {% if not profile.verified %}
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="modal" data-bs-target="#verify-settings-modal">
        <span class="link-icon material-icons">check_circle</span>
        <span class="link-text">{{ 'myprofile.accountVerification'|trans({}, 'catroweb') }}</span>
      </a>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="modal" data-bs-target="#account-settings-modal">
        <span class="link-icon material-icons">settings</span>
        <span class="link-text">{{ 'myprofile.accountSettings'|trans({}, 'catroweb') }}</span>
      </a>
    </li>
  </ul>
  </div>
{% endblock %}
