{% extends 'Components/FullscreenModal.html.twig' %}
{% set modal =
  {
    id: 'verify-settings-modal',
    title: '' ~ 'myprofile.accountVerification'|trans({}, 'catroweb'),
    left_action:
    {
      id: 'account_settings-cancel_action',
      icon: 'close',
      label: '' ~ 'cancel'|trans({}, 'catroweb'),
      dismiss: true
    }
  } %}
{% block content %}
  <div>
    {{ 'myprofile.verifyAccountText'|trans({}, 'catroweb') }}<br><br>
  </div>
  <button
      id="btn-verify-account"
      class="btn btn-primary w-100"
      data-success="{{ 'myprofile.verifyAccountMailSent'|trans({}, 'catroweb') }}"
      data-failed=" {{ 'myprofile.verifyAccountMailFailed'|trans({}, 'catroweb') }}"
  >
    {{ 'myprofile.verifyAccountButton'|trans({}, 'catroweb') }}
  </button>
{% endblock %}
