// Colors

$primary:                               #442a66;

// Login Logo

$theme-logo-color-primary:              #8A78A8;
$theme-logo-color-secondary:            #8A78A8;

//
$default-input-background-color:           #FFF;
$help-link-color:                       #380A46;
$content-default-link-color:            #380A46;

// Footer

$footer-background-color:               #8a78a8;


