@import '../../base/elements';

$primary:          #442a66;

$default-font-size: 13px;
$default-background-color: #FFFCF4;
$default-input-background-color: #FFF;
$default-input-padding: 5px;
$default-input-size: 18px;
$default-button-size: 26px;
$default-button-padding: 10px;
$default-text-color: $primary;
$default-sprite-url: url('../../../images/symbols/sprite_icons_web.png');
$default-copy-link-image: url('../../../images/symbols/link.svg');
$default-border-color: #17a5b8;

$help-link-color: #380A46;
$content-default-link-color: #380A46;

$footer-background-color: #8a78a8;

//TODO: vorerst diese werte, MUESSEN GEAENDERT WERDEN!!!!
$footer-height-desktop: 142px;
$footer-height-bottom: 35px;
$footer-height-padding: 50px;
$footer-border: 1px;
$footer-height-mobile: 196px;

$program-img-color: #FFF;

$nav-dropdown-color: #380A46;

$responsive-width-content: 1054px;
$responsive-width-tablet: 767px;

$font-size-h1: 30px;
$font-size-h2: 20px;

$avatar-img-size: 31px;

$special-font-color: $primary;

$button-gradient-1: $primary;
$button-gradient-2: $primary;
$button-gradient-3: $primary;
