.language-body{
  display: none;
  background: white;
  width: 50%;
  height: 80%;
  max-height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  z-index: 11001;
}

.language-header{
  padding-left: 0.75rem;
  padding-top: 0.75rem;
  color: var(--primary);
  font-size: 1.5rem;
  border-bottom: 2px solid rgb(196 196 196 / 25500%);
}
.language-option-container{
  overflow-y: auto;
  height: calc(100% - 6rem);
}
.language-option{
  margin: 0.5rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;

  & .radio{
    margin-right: 0.75rem;
  }
}
.language-button-container{
  background: white;
  padding: 0.75rem;
  display: flex;
  justify-content: flex-end;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 2px solid rgb(196 196 196 / 25500%);
}

.language-button-ok {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px; /* Increase padding to make buttons bigger */
  font-size: 1rem; /* Increase font size */
  margin-left: 10px; /* Add some margin between the buttons */
  border: 1px solid var(--primary); /* Add border */
  border-radius: 5px; /* Add border radius */
}

.language-button-cancel {
  background-color: white;
  color: var(--primary);
  padding: 10px 20px; /* Increase padding to make buttons bigger */
  font-size: 1rem; /* Increase font size */
  margin-left: 10px; /* Add some margin between the buttons */
  border: 1px solid var(--primary); /* Add border */
  border-radius: 5px; /* Add border radius */
}

.language-body-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 50%);
  z-index: 11000;
}

@media (width <= 768px) {
  .language-body{
    width: 80%;
  }
}