@import "../base/variables";

.login {
  width: 318px;
}

.theme-logo-title {
  font-size: $theme-logo-font-size;
  font-weight: $theme-logo-font-weight;
}

.title-color-left {
  color: $theme-logo-color-primary;
}

.title-color-right {
  color: $theme-logo-color-secondary;
}

// Prevent chrome autofill background color
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

// overwrite material
.mdc-text-field{
  width: 100%;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary) !important;
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--mdc-theme-primary) !important;
}

/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar::before,
.bar::after {
  position: absolute;
  bottom: 1px;
  width: 0;
  height: 2px;
  content: "";
  background: rgba(var(--primary), 0.7);
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.bar::before {
  left: 50%;
}

.bar::after {
  right: 50%;
}

.span-input {
  position: relative;
  top: -5px;
  margin-left: 10px;
}

#_submit {
  width: 100%;
}

.form-group {
  min-height: 39px;
}

#seperator-text {
  position: relative;
  top: 10px;
  text-align: left;
}

hr {
  width: 100%;
  border-color: var(--primary);
}

.log-in-text {
  font-size: 18px;
  vertical-align: middle;
}
.google-logo,
.fb-logo{
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);
}
.apple-logo{
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
