@import "../base/variables";

.login {
  width: 318px;
}

.theme-logo-title {
  font-size: $theme-logo-font-size;
  font-weight: $theme-logo-font-weight;
}

.title-color-left {
  color: $theme-logo-color-primary;
}

.title-color-right {
  color: $theme-logo-color-secondary;
}


/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar::before,
.bar::after {
  position: absolute;
  bottom: 1px;
  width: 0;
  height: 2px;
  content: "";
  background: rgba(var(--primary), 0.7);
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.bar::before {
  left: 50%;
}

.bar::after {
  right: 50%;
}

/* form animasyon ================ */

/* @-webkit-keyframes inputHighlighter {
  from {
    background: rgba(var(--primary), 0.7);
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: rgba(var(--primary), 0.7);
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: rgba(var(--primary), 0.7);
  }
  to {
    width: 0;
    background: transparent;
  }
} */

.span-input {
  position: relative;
  top: -5px;
  margin-left: 10px;
}

/* .social-button-effects {
  opacity: 0.9;
}

.social-button-effects:hover {
  opacity: 1.1;
} */

.mdc-text-field{
  width: 100%;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

#_submit {
  width: 100%;
}

.form-group {
  min-height: 39px;
}

/* #login_links {
  font-size: 16px;
  width: 318px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 12px;
} */

#seperator-text {
  position: relative;
  top: 10px;
  text-align: left;
}

hr {
  width: 100%;
  border-color: var(--primary);
}

/* .hidden {
  width: 0;
  height: 0;
  background: transparent;
  border: none !important;
}

.ui-widget-header, .ui-state-default {
  background: $default-border-color;
  border: 3px solid $default-border-color;
  color: #FFFFFF;
  font-weight: $font-weight-bold;
}

.align_start {
  text-align: start;
} */

.show-hide-password {
  display: flex;
}

.log-in-text {
  font-size: 18px;
  vertical-align: middle;
}
.google-logo,
.fb-logo{
  -ms-transform: scale(0.6, 0.6);
  -webkit-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);
}
.apple-logo{
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
