.horizontal-list-container {
  width: 100%;
  overflow-x: auto;
}
.horizontal-list {
  list-style: none;
  padding: 0;
  white-space: nowrap;
  li {
    display: inline-block;
    margin: 25px;
    text-align: center;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.6);
    }
  }
}
.material-icons {
  cursor: pointer;
  font-size: 35px;
  transition: transform 0.2s;
  &:hover {
    cursor: pointer;
  }
}