@use "sass:math";
@import "../base/variables";
@import "../base/mixins";

#thumbsize-control {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  span {
    margin-right: 0.5rem;
  }
}

$tile-size: 80px;
$tile-size-md-smup: 100px;
$tile-size-sm: 54px;
$tile-size-lg: 191px;
$border-spacing: 8px;

.category {
  margin-top: 1rem;

  &:first-child {
    margin-top: 0;
  }

  > .files {
    display: flex;
    flex-flow: row wrap;

    .mediafile {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: $tile-size;
      margin: 0.5rem;
      text-decoration: none;
      border: 2px solid transparent;
      border-radius: 5px;
      transition: border 0.5s;

      &:hover {
        background: rgba(200 200 200 10%);
        box-shadow: 0 0 0 0.2rem custom-alpha(--color-primary, 0.1) !important;
      }

      .checkbox {
        position: absolute;
        top: 0;
        right: 0;
        color: $white;
        visibility: hidden;
      }

      &.selected {
        text-decoration: none;
        background-color: #e5e5e5;

        .checkbox {
          font-size: 20px;
          color: $white;
          visibility: visible;
        }
      }

      > .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: $tile-size - 2px !important;
        height: $tile-size - 2px !important;
        border: 2px solid var(--primary);

        img {
          max-width: $tile-size - $border-spacing !important;
          max-height: $tile-size - $border-spacing;
        }
      }

      .media-file-icon {
        max-width: 90% !important;
        max-height: 90%;
        font-size: 4rem;
      }

      &.flavored {
        order: -1;
      }

      > .text-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
        height: $tile-size - 2px !important;
        margin-left: 0.75rem;
      }

      .name {
        max-width: fit-content;
        max-height: 33%;
        padding: 1px 4px;
        overflow: hidden;
        line-height: calc(#{$tile-size} / 3);
        color: #000;
        text-overflow: ellipsis;
      }

      .name--link {
        color: var(--primary) !important;
      }

      .description {
        max-width: 100%;
        max-height: 50%;
        padding: 1px 4px;
        overflow: hidden;
        font-size: 0.85rem;
        font-weight: lighter;
        color: #000;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;

        @include force-word-break;
      }

      > .button-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: $tile-size - 2px !important;
        height: $tile-size - 2px !important;
        margin-left: auto;

        i {
          font-size: 2.5rem;
        }
      }

      &[data-filetype="audio"] .name {
        max-height: calc(100% - 1.5rem);
        margin-bottom: 1.5rem;
      }

      .audio-control {
        position: absolute;
        z-index: 2;
        font-size: 3rem;
        cursor: pointer;
        transition: font-size;

        &:hover {
          font-size: 3.2rem;
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .category > .files .mediafile {
    height: $tile-size-md-smup;

    img {
      max-width: $tile-size-md-smup - $border-spacing !important;
      max-height: $tile-size-md-smup - $border-spacing;
    }
  }
}

#content[size="sm"] .category {
  > .files .mediafile {
    height: $tile-size-sm;

    img {
      max-width: $tile-size-sm - $border-spacing !important;
      max-height: $tile-size-sm - $border-spacing;
    }
  }
}

#content[size="lg"] .category {
  > .files .mediafile {
    height: $tile-size-lg;

    img {
      max-width: $tile-size-lg - $border-spacing !important;
      max-height: $tile-size-lg - $border-spacing;
    }
  }
}
