@import "../base/variables";
@import "../base/mixins";
@import "~bootstrap/scss/mixins";

.upload-image {
  position: relative;
  top: -45px;
  margin: 0 auto;
  font-size: 1.2em;
  text-align: center;

  span {
    font-size: $default-font-size + 0.125;
    cursor: pointer;
  }

  .button-show-ajax {
    margin: 0 auto;
  }

  > div {
    position: relative;
    display: inline-block;
    max-width: 100%;
    padding: 4px 15px;
    overflow: hidden;
    font-weight: $font-weight-bold;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px rgba(var(--primary), 0.8);
    border-radius: 5px;
    @include transition(width 250ms);
    @include force-word-break();

    &:hover {
      top: -2px;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-bottom: -4px;
      background-color: rgba(255, 255, 255, 0.95);
      border: 1px rgba(var(--primary), 0.95);
    }

    input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
      opacity: 0.001;
    }
  }
}
.upload-project-image {
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  .button-show-ajax {
    margin: 0 auto;
  }
  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    opacity: 0.001;
  }
}

.visited-program {
  opacity: 0.6;

  a {
    color: var(--primary);
  }
}

/* my Profile Data, Edit */

.avatar-container {
  text-align: center;

  img {
    @media screen and (max-width: 576px) {
      width: 90%;
      max-width: 15rem !important;
    }
  }
}

.edit-container {
  display: none;
}

.profile-data {
  word-break: break-word;
}

#select-country select {
  width: 100%;
  height: 45px;
  margin-bottom: 0;
}

.save-button {
  width: 100%;
  height: auto;
  margin-top: 11px;
  font-size: medium;
  font-weight: $font-weight-normal;
}

.header {
  width: 100%;
}

/* My Programs */

.program {
  height: 160px !important;
}

.img-delete {
  position: relative;
  top: -23px;
  left: 30px;
  width: 30px !important;
  height: 0 !important; // else the layout gets destroyed
  margin-top: -25px;
  text-align: center;
  cursor: pointer;

  i {
    padding: 0;
    margin: 0;
    font-size: 2em;
    background-color: rgba($white, 0.9);
    border-radius: 50%;
  }
}

.button-container {
  align-self: flex-end;
  text-align: right;
  button {
    margin-bottom: 0.2em;
  }
}

.img-lock,
.img-lock-open {
  position: relative;
  top: 30px;
  left: 25px;
  width: 22px !important;
  height: 0 !important; // else the layout gets destroyed
  text-align: center;
  cursor: pointer;

  i {
    padding: 0.5em;
    margin: 0;
    font-size: 1em;
    color: rgba($white, 0.9) !important;
    background-color: var(--primary);
    border-radius: 50%;

    &:hover {
      color: var(--primary) !important;
      background-color: custom-darken(--color-primary, 10);
    }
  }
}

/* follower section */
.follower-item {
  a {
    &:hover {
      text-decoration: none;
    }
  }

  &__info {
    font-size: 0.7em;
    white-space: normal;

    .info-icon {
      font-size: 1.2em;
    }
  }

  .follow-btn {
    .btn {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

/* should be general */
.round {
  border-radius: 100%;
}

.profile {
  .button-container button {
    min-width: 150px;

    @include media-breakpoint-down(sm) {
      display: block;
      width: 100%;
    }
  }
}

.tab-bar-container {
  #scroll-area {
    overflow: auto;
  }
}

.follower-tabs {
  margin-top: -1rem;
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--mdc-theme-primary);
}


// Achievements tab:
.horizontal-scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  > div {
    flex: 0 0 auto;
  }

  > div + div {
    margin-left: 1rem;
  }
}
