form {
  margin: 20px auto;
}

#reset_pw {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#error_user_oauth {
  display: none;
}

.hidden {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
  border: none !important;
}
