@use 'sass:math';
@use '@material/list/mdc-list';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/menu/mdc-menu';
@import '../base/variables';

$list-item-padding-overflow-x: 1.5rem;

.studios-list {
  padding: 0;
  margin: 0 0 2rem;
}

.studios-list-item {
  width: calc(
    100% + (2 * #{$list-item-padding-overflow-x})
  ); // sass interpolation
  margin: 0 (-$list-item-padding-overflow-x);
  padding: 0.75rem $list-item-padding-overflow-x;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: var(--bs-body-color);
}

.studios-list-item:hover,
.studios-list-item:focus,
.studios-list-item:active {
  background: custom-alpha(--color-primary, 0.12);
}

.studios-list-item--image {
  height: 5rem;
  width: 5rem;
  margin: 0 1rem 0 0;
  border-radius: 0.5rem;
  flex: 0 0 auto;
  object-fit: cover;
}

.studios-list-item--content {
  flex: 1 1 auto;
}

.studios-list-item--buttons {
  flex: 0 0 auto;
}

.studios-list-item--heading {
  padding: 0 0 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  h3 {
    margin: 0;
    padding: 0;
    display: block;
    flex: 0 0 auto;
  }

  .studios-list-item--text {
    margin: 0 0 0 0.5rem;
    color: var(--bs-gray-600);
    flex: 0 0 auto;
    align-self: baseline;
  }

  .studios-list-item--badge {
    margin: 0 0 0 0.5rem;
    color: var(--bs-gray-600);
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}

.studios-list-item--icons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: var(--bs-gray-600);
}

.studios-list-item--icon-wrapper {
  margin: 0 1rem;
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &:first-of-type {
    margin-left: 0.25rem;
  }

  &:last-of-type {
    margin-right: 0.25rem;
  }
}

/**
 * STUDIO DETAIL
 */
.studio-detail__header {
  padding-top: 2.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: -2rem;
  margin-right: calc(#{var(--bs-gutter-x, 0.75rem)} * -1);
  margin-left: calc(#{var(--bs-gutter-x, 0.75rem)} * -1);
  background-color: $gray-200;
}

.studio-detail__header__name {
  flex: 0 0 100%;
  margin-bottom: 0.5em;
}

.studio-detail__header__details,
.studio-detail__header__details__button,
.studio-detail__header__details__info {
  display: flex;
  align-items: center;
}

.studio-detail__header__details__info {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.mdc-tab-bar {
  width: 100%;
  background-color: $gray-200;

  .nav-tabs {
    width: 100%;
  }
}

.studio-detail__header__details__button--upload-image {
  position: absolute;
  right: -20px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgba(0 0 0 / 40%);
  border-radius: 50%;

  .button-show-ajax {
    margin: 0 auto;
  }

  input {
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0.001;
  }
}

#studio-img-container {
  justify-content: center;
  width: auto;
  max-height: 9rem;
  overflow: hidden;
}

#studio-detail__header__details__button--upload-image {
  position: absolute;
  bottom: 0;
  left: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  background-color: #fff;
}

.tab-text {
  font-size: 0.95em;
  letter-spacing: 0.02em;
}

.desc-show-less {
  max-height: 3rem;
  overflow: hidden;
}

#projects-list {
  margin: 0 0 0 3%;
}

.studio-project-thumbnail {
  width: 45px;
  margin-right: 3%;
  border-radius: 13%;
}

.studio-projects-container {
  position: static !important;
  width: 100% !important;
  height: auto !important;
  padding: 0 !important;
}

.studio-project-list-admin {
  grid-template-areas: 'image name remove' 'image property remove' !important;
}

.project-delete-button {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.studio-comment {
  display: flex;
  align-items: flex-start;
  padding: 2% 5% 0;
}

.comment-content {
  width: 100%;
  padding-left: 4%;
}

.comment-content > p {
  margin-bottom: 0.5rem !important;
}

.comment-avatar {
  width: 2.7rem;
  border: solid 1px var(--primary);
  border-radius: 50%;
}

#tab-content {
  width: 100%;
}

.comment-info {
  display: flex;
  margin-bottom: 2%;
  font-size: 0.8rem !important;
}

.comment-time {
  display: flex;
  align-items: center;
  padding: 0;
}

.comment-replies {
  display: flex;
  align-items: center;
  padding: 0;
  color: $black;
}

.comment-replies:hover {
  text-decoration: none;
  cursor: pointer;
}

.comment-hr {
  margin: 0;
}

.comment-info-icons {
  margin-right: 6px;
  font-size: 1.2rem !important;
}

#add-comment {
  position: sticky;
}

#add-reply {
  position: fixed;
  width: calc(100% - 250px);
}

.add-comment-section {
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2% 0;
  background-color: #eee;
}

#add-comment > input,
#add-reply > input {
  width: 77%;
  padding: 2% 0;
  margin-left: 3%;
  background-color: inherit;
  border-color: #adb5bd;
  border-width: 0 0 1px;
}

#add-comment > a,
#add-reply > a {
  width: 20%;
  font-size: x-large;
  font-variant: petite-caps;
  text-align: center;
}

#add-comment > a:hover,
#add-reply > a:hover {
  text-decoration: none;
}

.comment-delete-button {
  position: relative;
  float: right;
  cursor: pointer;
}

#comment-replies-body {
  padding-bottom: 20%;
}

@media screen and (width >= 768px) {
  #add-reply {
    width: calc(100% - 250px);
  }
}
.add-button {
  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}


$color_1: red;
$font-family_1: sans-serif;
$background-color_1: #ffe6e6;
$border-color_1: #dc3545;
$border-color_2: #28a745;

/* Styles for radio buttons with warning class */
.form-control.is-invalid {
  border-color: $border-color_1;
  padding-right: calc(1.5em + 0.75rem);
  background-repeat: no-repeat;
  background-color: $background-color_1;
}
.form-control.is-valid {
  border-color: $border-color_2;
  padding-right: calc(1.5em + 0.75rem);
}
input[type="radio"].check_studios.warning {
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: $background-color_1;
  border: 0.35em solid #FFF;
  box-shadow: 0 0 0 0.15em #FF5722;
}
input[type="radio"].check_studios_comments.warning {
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: $background-color_1;
  border: 0.35em solid #FFF;
  box-shadow: 0 0 0 0.15em #FF5722;
}
input[type="radio"].check_studios_public.warning {
  background-repeat: no-repeat;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: $background-color_1;
  border: 0.35em solid #FFF;
  box-shadow: 0 0 0 0.15em #FF5722;
}
#name-warning {
  font-size: smaller;
  color: $color_1;
  font-family: $font-family_1;
  padding-top: calc(0.5rem);
}
#enable_studio_name-warning {
  font-size: smaller;
  color: $color_1;
  font-family: $font-family_1;
  padding-top: calc(0.5rem);
}
#allow_comments-warning {
  font-size: smaller;
  color: $color_1;
  font-family: $font-family_1;
  padding-top: calc(0.5rem);
}
#is_public-warning {
  font-size: smaller;
  color: $color_1;
  font-family: $font-family_1;
  padding-top: calc(0.5rem);
}


