@import "../base/variables";

#studio-img-container {
  justify-content: center;
  width: auto;
  max-height: 9rem;
  margin-top: calc(56px - 6em);
  overflow: hidden;
}

#studio-info-container {
  display: flex;
  width: 100%;
  background-color: $gray-200;

  div {
    padding: 0;
  }

  :nth-child(1) > div {
    padding: 0 0 0 1rem;
  }

}

#studio-name > h2 {
  margin-bottom: 0;
}

#studio-info {
  display: flex;

  div {
    display: flex;
    padding: 0;
  }
}

#studio-join-leave-btn {
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 60%;
  padding: 0.375rem 0 !important;
  background-color: $white;
}

#studio-upload-cover-btn {
  position: absolute;
  bottom: 0;
  left: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  background-color: #fff;
}

#studio-join-leave-btn:hover,
#studio-upload-cover-btn:hover {
  color: #fff;
  background-color: #00acc1;
  border-color: #00acc1;
}

#studio-tabs {
  width: 100%;
  background-color: $gray-200;
}

#studio-tabs > li {
  padding: 0;
}

#studio-tabs > li > button {
  width: 100%;
  padding: 0;
}

#activities-pane,
#projects-pane,
#members-pane {
  padding: 5%;
}

.tab-text {
  font-size: 0.95em;
  letter-spacing: 0.02em;
}

#activity-list,
#projects-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#activity-list li {
  margin-bottom: 1rem;
}

.desc-show-less {
  max-height: 3rem;
  overflow: hidden;
}

#studio-desc ~ a:hover {
  text-decoration: none !important;
}

#projects-list {
  margin: 0 0 0 3%;
}

.activity-user {
  color: $blue;
}

.activity-object {
  color: $blue;
}

.activity-time {
  font-size: 0.9em;
  opacity: 0.8;
}

.studio-project-thumbnail {
  width: 45px;
  margin-right: 3%;
  border-radius: 13%;
}

.studio-projects-container {
  position: static !important;
  width: 100% !important;
  height: auto !important;
  padding: 0 !important;
}

.studio-project-list-admin {
  grid-template-areas: "image name remove" "image property remove" !important;
}

.project-delete-button {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.studio-comment {
  display: flex;
  align-items: flex-start;
  padding: 2% 5% 0;
}

.comment-content {
  width: 100%;
  padding-left: 4%;
}

.comment-content > p {
  margin-bottom: 0.5rem !important;
}

.comment-avatar {
  width: 2.7rem;
  border: solid 1px var(--primary);
  border-radius: 50%;
}

#tabContent {
  width: 100%;
}

.comment-info {
  display: flex;
  margin-bottom: 2%;
  font-size: 0.8rem !important;
}

.comment-time {
  display: flex;
  align-items: center;
  padding: 0;
}

.comment-replies {
  display: flex;
  align-items: center;
  padding: 0;
  color: $black;
}

.comment-replies:hover {
  text-decoration: none;
  cursor: pointer;
}

.comment-hr {
  margin: 0;
}

.comment-info-icons {
  margin-right: 6px;
  font-size: 1.2rem !important;
}

#add-comment {
  position: sticky;
}

#add-reply {
  position: fixed;
  width: calc(100% - 250px);
}

.add-comment-section {
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2% 0;
  background-color: #eee;
}

#add-comment > input,
#add-reply > input {
  width: 77%;
  padding: 2% 0;
  margin-left: 3%;
  background-color: inherit;
  border-color: #adb5bd;
  border-width: 0 0 1px;
}

#add-comment > a,
#add-reply > a {
  width: 20%;
  font-size: x-large;
  font-variant: petite-caps;
  text-align: center;
}

#add-comment > a:hover,
#add-reply > a:hover {
  text-decoration: none;
}

.comment-delete-button {
  position: relative;
  float: right;
  cursor: pointer;
}

#comment-replies-body {
  padding-bottom: 20%;
}

#count-container {
  display: flex;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  #add-reply {
    width: calc(100% - 250px);
  }
}

#studio-settings {
  margin-top: 5%;
  color: $black;
}

.settings-line {
  display: flex;
  align-items: flex-start;
  padding-left: 3rem;
}

.settings-line input[type="text"],
.settings-line textarea {
  padding: 0;
  margin-top: 0.5rem;
  border: none;
  border-bottom: 2px solid $gray-500;
  border-radius: 0;
}

.settings-line textarea {
  margin-top: 1.5rem;
  line-height: 1.5rem;
}

.settings-line span {
  margin-top: 1rem;
}

.input-container {
  width: 90%;
  padding-left: 1rem;
}

.input-container label {
  position: absolute;
  top: 0;
  font-size: 75%;
  opacity: 0.7;
}

.input-container input:focus,
.input-container textarea:focus {
  border-color: var(--primary);
  box-shadow: none;
}

.input-container input:focus ~ label,
.input-container textarea:focus ~ label {
  color: var(--primary);
}

.studio-options {
  margin: 10% 0;
}

.studio-options-line {
  margin-bottom: 2rem;
}

.studio-options-name {
  position: relative;
  top: -4px;
  left: 3rem;
}

.toggle-container {
  position: absolute;
  left: 40%;
}
