{# Skeleton placeholder matching studios-list-item layout (60px image + text) #}
<div class="studios-list-item-wrapper js-skeleton">
  <div class="studios-list-item-link">
    <div class="studios-list-item">
      <span class="skeleton studios-list-item--image" style="display: block;"></span>
      <div class="studios-list-item--content">
        <div class="studios-list-item--heading">
          <span class="skeleton" style="width: 60%; height: 1rem; display: inline-block;"></span>
        </div>
        <div class="studios-list-item--icons" style="margin-top: 0.35rem;">
          <span class="skeleton" style="width: 3rem; height: 0.85rem; display: inline-block;"></span>
          <span class="skeleton" style="width: 3rem; height: 0.85rem; display: inline-block; margin-left: 0.75rem;"></span>
        </div>
      </div>
    </div>
  </div>
</div>
