<div class="modal fade modal-full" id="studio-admin-settings-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog full-modal-dialog" role="document">
    <div class="modal-content full-modal-content">

      <div class="modal-header modal-header-full mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <button id="studio-settings__close-button" data-bs-dismiss="modal"
                  class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
                  aria-label="Back to top bar">
            close
          </button>
          <span class="mdc-top-app-bar__title">{{ 'studio.details.admin_settings.title'|trans({}, 'catroweb') }}</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
          <button id="studio-settings__submit-button" class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
                  type="submit" form="studio-settings">
            done
          </button>
        </section>
      </div>

      <form id="studio-settings" class="container-fluid justify-content-center" action="{{ path('update_studio_details') }}" method="post">

        <input type="hidden" name="studio_id" value="{{ studio.id }}">

        {% include 'components/text_field.html.twig' with {
          'text_field':
          {
            'id': 'studio-settings__studio-name',
            'label': '' ~ 'studio.details.admin_settings.studio_name'|trans({}, 'catroweb'),
            'value': studio.name,
            'name': 'studio_name',
            'leading_icon': 'blur_circular'
          }
        }%}

        {% include 'components/text_area.html.twig' with {
          'text_area':
          {
            'id': 'studio-settings__studio-description',
            'label': '' ~ 'studio.details.admin_settings.studio_description'|trans({}, 'catroweb'),
            'value': studio.description,
            'name': 'studio_description',
            'max_length': '1000',
            'rows': '4'
          }
        }%}

        {% include 'components/switch.html.twig' with {
          'switch':
          {
            'id': 'studio-setting__switch-enable-comments',
            'label': '' ~ 'studio.details.admin_settings.toggle_allow_comments'|trans({}, 'catroweb'),
            'selected': studio.isAllowComments,
            'name': 'allow_comments'
          }
        } %}

        {% include 'components/switch.html.twig' with {
          'switch':
          {
            'id': 'studio-setting__switch-studio-privacy',
            'label': '' ~ 'studio.details.admin_settings.toggle_privacy'|trans({}, 'catroweb'),
            'selected': studio.isPublic,
            'name': 'is_public'
          }
        } %}
        <h3>Pending Join Requests</h3>
        <ul id="pending-join-requests">
          {% for request in pending_join_requests %}
            <li class="mb-3" style="list-style: none;">
            {% include 'components/switch.html.twig' with {
              'switch':
              {
                'id': 'studio-setting__switch-studio-pending-join-' ~ request.id,
                'label':  request.user,
                'selected': 1,
                'name': 'switches[' ~ request.id ~ ']'
              }
            } %}
            </li>
          {% endfor %}
        </ul>
        <h3>Approved Join Requests</h3>
        <ul>
          {% for request in approved_join_requests %}
            <li  class="mb-3 " style="list-style: none;">{{ request.user }}</li>
          {% endfor %}
        </ul>
        <h3>Declined Join Requests</h3>
        <ul id="declined-join-requests">
          {% for request in declined_join_requests %}
            <li class="mb-3 " style="list-style: none;">
              {% include 'components/switch.html.twig' with {
                'switch':
                {
                  'id': 'studio-setting__switch-studio-declined-join-' ~ request.id,
                  'label':  request.user,
                  'selected': 0,
                  'name': 'approved_switches[' ~ request.id ~ ']'
                }
              } %}

            </li>
          {% endfor %}
        </ul>
      </form>
    </div>
  </div>
</div>


