<div class="modal fade modal-full" id="members-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog full-modal-dialog" role="document">
        <div class="modal-content full-modal-content">
            <div class="modal-header modal-header-full mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button data-bs-dismiss="modal"
                            class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
                            aria-label="Back to top bar">
                        arrow_back
                    </button>
                    <span class="mdc-top-app-bar__title">{{ 'community'|trans({}, 'catroweb') }}</span>
                </section>
            </div>
            <div id="members-pane" class="tab-pane fade-in show active" role="tabpanel"
                 aria-labelledby="activity-tab">
                <h3>{{ 'studio.details.members'|trans({}, 'catroweb') }}</h3>
                <ul id="members-list" class="list-unstyled">

                </ul>
            </div>
        </div>
    </div>
</div>
