@import "elements";
@import "variables";
@import "theme_settings";

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: local('Roboto Regular'), local('Roboto-Regular'), url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic-webfont.eot');
  src: local('Roboto Italic'), local('Roboto-Italic'), url('../fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Italic-webfont.woff') format('woff'), url('../fonts/Roboto-Italic-webfont.ttf') format('truetype'), url('../fonts/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold-webfont.woff') format('woff'), url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('../fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

}

html,
button,
select,
textarea,
a {
  color: $default-text-color;
}

input {
  color: #000;
}

::-webkit-input-placeholder {
  color: $default-background-color !important;
}

:-moz-placeholder {
  color: $default-background-color !important;
}

::-moz-placeholder {
  color: $default-background-color !important;
}


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

html {
  min-height: 100%;
  font-size: $default-font-size;
}

body {
  background: $default-background-color!important;
  font-family: 'Roboto', Arial, sans-serif;
  height: 100%;
}

img {
  page-break-inside: avoid;
  max-width: 100% !important;
  vertical-align: middle;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  color: $primary!important;
  page-break-after: avoid;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}

h1, .h1 {
  font-size: $font-size-h1;
  padding: 1px 1px;
  border-bottom: 1px solid $default-text-color;
}

h2, .h2 {
  font-size: $font-size-h2;
}

.size-small {
  font-size: $default-font-size - 0.25;
}

li {
  word-wrap: break-word;
}

.size-medium {
  font-size: $default-font-size;
}

.size-large {
  font-size: $default-font-size + 0.25;
}

.size-xlarge {
  font-size: $default-font-size + 0.5;
}

.size-xxlarge {
  font-size: $default-font-size + 0.75;
}

.content-container {
  margin: 25px auto;
}

.standard-col-text {
@include box-columns(2, 25px);
  text-align: justify;
  padding: 25px 0;
}

.standard-article-link {
  font-weight: bold;
}

.clear {
  clear: both;
}

input:focus {
  border: 0;
  outline: none;
}

label {
  display: block;
}

.link {
  font-weight: bold;
  font-size: 16px;
}

.error-text {
  color: #f78181;
  font-size: 22px;
  padding: 16px 0;
  text-align: center;
}

.notification-text {
  font-size: 22px;
  padding: 16px 0;
  text-align: center;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

button, .button {
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: $default-button-size;
  font-weight: bold;
  padding: $default-button-padding;
  text-shadow: #333 1px 1px 1px;
  text-align: center;
  text-transform: uppercase;

  img {
    margin-right: 6px;
  }
}

form {
  text-align: center;

  .input-field {
    margin: 10px auto;
    width: 320px;
    background: #fff;
    border: .2em solid #05222a;
  @include box-shadow(inset 2px 2px 5px #999);
    overflow: auto;
    padding: $default-input-padding;

    input {
      border: none;
      color: #05222a;
      float: left;
      font-size: $default-input-size;
      height: 33px;
      padding-left: 5px;
      padding-top: 4px;
      outline: none;
      width: 80%;
    }

    div {
      float: right;
      text-align: center;
    }
  }
}

.no-programs {
  text-align: center;
  font-size: 16px; //todo: change to variable...
  margin-bottom: 25px;
}

.programs {
  overflow: hidden;
  width: 98.5%;
  margin: 25px auto 0 auto;

  img {
    height: 84px;
    width: 84px;
  }

  > .program {
    float: left;
    /* 9 in a row ... number of programs in each row, have a look at 'self.column_min and self.column_max' in
    'ProgramLoader.js' before changing the width! */
    width: percentage((100 / 9) / 100);
    padding-top: 10px;
    padding-bottom: 10px;

    > div, a {
      margin: auto;
      width: 96px;
      cursor: pointer;
      text-decoration: none;
      display: block;

      > div {
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }

      > div:nth-child(2) {
        padding: 2px 0;
      }

      > div:nth-child(3) {
        font-size: $default-font-size - 0.125;
      }

      audio {
        width: 100%;
      }
    }


    @media screen and (max-width: 1200px) {
      width: percentage((100 / 8) / 100); /* 8 in a row */
    }
    @media screen and (max-width: 992px) {
      width: percentage((100 / 7) / 100); /* 7 in a row */
    }
    @media screen and (max-width: 800px) {
      width: percentage((100 / 6) / 100); /* 6 in a row */
    }
    @media screen and (max-width: 768px) {
      width: percentage((100 / 5) / 100); /* 5 in a row */
    }
    @media screen and (max-width: 576px) {
      width: percentage((100 / 4) / 100); /* 4 in a row */
    }
    @media screen and (max-width: 425px) {
      width: percentage((100 / 3) / 100); /* 3 in a row */
    }
  }

  > .mediafile {
    height: 116px;
    padding-bottom: 0;
  }
}

.button-show-placeholder {
  margin: 0 auto 30px auto;
  min-height: 35px;
  display: flex;
  justify-content: center;
}

.button-show-more, .button-show-ajax, .button-show-less {
  text-align: center;
  margin: 0 15px;
  color: $primary;
}

.button-show-more {
  cursor: pointer;
  font-size: 3em;
}

.button-show-ajax {
  display: none;
}

.button-show-less {
  display: none;
  cursor: pointer;
  font-size: 3em;
}

.btn {
  cursor: pointer;
}

.btn-white {
  background: #EAEAEA;
  color: #000;
}

.btn-green {
@include gradient(top, #6F992F, #5EC03F);
  color: #FFF;
}

#error {
  text-align: center;
  margin-top: 50px;

  p {
    font-size: $default-font-size + 1.25;
  }
}

.blink {
  opacity: 0;
  -webkit-animation: dot 0.7s infinite;
  -webkit-animation-delay: 0s;
  animation: dot 0.7s infinite;
  animation-delay: 0s;
}

.blink-one {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.1s;
  animation: dot 1.3s infinite;
  animation-delay: 0.1s;
}

.blink-two {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.2s;
  animation: dot 1.3s infinite;
  animation-delay: 0.2s;
}

.blink-three {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.3s;
  animation: dot 1.3s infinite;
  animation-delay: 0.3s;
}

@-webkit-keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: $responsive-width-content) {
  article {
    margin: 0 10px;
  }
}

@media screen and (max-width: $responsive-width-tablet) {

  .standard-col-text {
  @include box-columns(1, 25px);
    padding: 25px 0;
  }

}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 0 0 20px;
  margin: 0 0 0 0;
  width: 100%;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid $primary;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 24px;
  content: "";
  display: block;
  background: $primary;
}
