@import "variables";
@import 'theme_settings';

.navbar
{

  .dropdown-item,
  .nav-link
  {
    font-size: 1.5em;
  }

  .search-icon
  {
    font-size: 1em;
  }
}

.nav-logo
{
  display: inline-block;
  width: $nav-logo-width;
  max-width: $nav-logo-width;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.nav-catrobat
{
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
}

// stops navbar from being on top of body content
#wrapper.fixed-nav
{
  padding-top: $wrapper-padding-top;
}

@media (min-width: 768px)
{
  .d-md-list-item
  {
    display: list-item !important;
  }
}

@media (max-width: 767px)
{
  .w-sm-100
  {
    width: 100% !important;
  }
}