{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}
{% block field %}
  <div class="btn-group">
    <a class="btn btn-sm btn-success" title="Approve" href="{{ admin.generateObjectUrl('approve', object) }}">
      <i class="fa fa-check"></i>
      Approve
    </a>
  </div>
  <div class="btn-group">
    <a class="btn btn-sm btn-warning" title="Skip" href="{{ admin.generateObjectUrl('skip', object) }}">
      <i class="fa fa-question"></i>
      Skip
    </a>
  </div>
  <div class="btn-group">
    <a class="btn btn-sm btn-danger" title="Disapprove" href="{{ admin.generateObjectUrl('invisible', object) }}">
      <i class="fa fa-ban"></i>
      Set invisible
    </a>
  </div>
{% endblock %}
