{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}
{% block field %}
  <div>
    <img src="{{ admin.getThumbnailImageUrl(object) }}" style="width: 96px; height: 96px;" alt="Thumbnail">
  </div>
{% endblock %}
