<div class="mdc-tab-bar container" role="tablist">
  <div class="mdc-tab-scroller">
    <div class="mdc-tab-scroller__scroll-area" id="scroll-area">
      <div class="mdc-tab-scroller__scroll-content">
        <ul class="nav nav-tabs">
          <li class="col-6 active">
            <button id="projects-tab" class="mdc-tab mdc-tab--active" data-bs-toggle="tab"
                    href="#projects-pane" role="tab" aria-selected="true" tabindex="0">
                                                <span class="mdc-tab__content"><span
                                                      class="tab-text">{{ "studio.details.projects.title" |trans({}, 'catroweb') }}&nbsp;</span><span
                                                      id="projects-count">({{ projects_count }})</span></span>
              <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
            </button>
          </li>
          <li class="col-6">
            <button id="comments-tab" class="mdc-tab mdc-tab--active" data-bs-toggle="tab"
                    href="#comments-pane" role="tab" aria-selected="false" tabindex="0">
                                                <span class="mdc-tab__content">
                                                  <span class="tab-text">{{ "studio.details.comments.title" |trans({}, 'catroweb') }}&nbsp;</span>
                                                  (<span id="comments-count">{{ comments_count }}</span>)
                                                </span>
              <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
