{% extends 'Notifications/NotificationTypes/notification_items.html.twig' %}

{% block notification_leftAvatar %}
  <div class="col-2 col-sm-1 my-auto">
    {% if notification.getImagePath() is not empty %}
      <img class="img-fluid notification-avatar-round"
           src="{{ notification.getImagePath() }}"
           alt="">
    {% else %}
      <span class="material-icons broadcast-icon">
        notifications_active
      </span>
    {% endif %}
  </div>
{% endblock %}

{% block notification_body %}
  <div class="col-8 col-sm-8 pl-3 my-auto">
    {{ notification.message }}
  </div>
{% endblock %}

