{% extends 'Notifications/NotificationTypes/baseNotification.html.twig' %}

{% block notification_title%}
  {{ notification.title }}
{% endblock %}

{% block notification_leftAvatar %}
   <div class="notification-avatar text-primary">
     <i class="fa fa-5x fa-bullhorn"></i>
   </div>
{% endblock %}

{% block notification_body%}
  {{ notification.message | raw }}
{% endblock %}