{% extends 'Notifications/NotificationTypes/baseNotification.html.twig' %}

{% block notification_title%}
  {{ 'catro-notifications.comment.title'|trans({'%program_name%' : notification.comment.program.name}, 'catroweb') }}
{% endblock %}

{% block notification_leftAvatar %}
  {{ include('Notifications/NotificationTypes/userAvatar.html.twig') }}
{% endblock %}

{% block notification_body%}
  {{ 'catro-notifications.comment.message' | trans
    (
      {
        '%user_link%': '<a href="'~path('profile', {'id': notification.comment.userId})~'">'~notification.comment.username~'</a>',
        '%program_link%': '<a href="'~path('program', {'id': notification.comment.program.id})~'">'~notification.comment.program.name~'</a>'
      },
      'catroweb'
    )
    |raw
  }}
{% endblock %}