{% extends 'Notifications/NotificationTypes/baseNotification.html.twig' %}

{% block notification_title%}
  {{ 'catro-notifications.follow.title'|trans({}, 'catroweb') }}
{% endblock %}

{% block notification_leftAvatar %}
  {{ include('Notifications/NotificationTypes/userAvatar.html.twig') }}
{% endblock %}

{% block notification_body%}
  {{ 'catro-notifications.follow.message' | trans
    (
      {
        '%user_link%': '<a href="'~path('profile', {'id': notification.follower.id})~'">'~notification.follower.username~'</a>',
      },
      'catroweb'
    )
    |raw
  }}
{% endblock %}