{% extends 'Notifications/NotificationTypes/baseNotification.html.twig' %}

{% block notification_title%}
  {{ 'catro-notifications.like.title'|trans({'%program_name%' : notification.program.name}, 'catroweb') }}
{% endblock %}

{% block notification_leftAvatar %}
  {{ include('Notifications/NotificationTypes/userAvatar.html.twig') }}
{% endblock %}

{% block notification_body%}
  {{ 'catro-notifications.like.message' | trans
    (
      {
        '%user_link%': '<a href="'~path('profile', {'id': notification.getLikeFrom.id})~'">'~notification.getLikeFrom.getUserName~'</a>',
        '%program_link%': '<a href="'~path('program', {'id': notification.program.id})~'">'~notification.program.name~'</a>'
      },
      'catroweb'
    )
    |raw
  }}
{% endblock %}