{% extends 'Notifications/NotificationTypes/baseNotification.html.twig' %}

{% block notification_title%}
  {{ 'catro-notifications.program-upload.title'|trans({}, 'catroweb') }}
{% endblock %}

{% block notification_leftAvatar %}
  {{ include('Notifications/NotificationTypes/userAvatar.html.twig') }}
{% endblock %}

{% block notification_body%}
  {{ 'catro-notifications.program-upload.message' | trans
    (
      {
        '%user_link%': '<a href="'~path('profile', {'id': notification.program.user.id})~'">'~notification.program.user.username~'</a>',
        '%program_link%': '<a href="'~path('program', {'id': notification.program.id})~'">'~notification.program.name~'</a>'
      },
      'catroweb'
    )
    |raw
  }}
{% endblock %}