{% extends 'Notifications/NotificationTypes/notification_items.html.twig' %}

{% block notification_leftAvatar %}
  <div class="col-2 col-sm-1 my-auto">
    <a href="{{ path('profile', { "id" : notification.program.user.id }) }}">
      <img class="img-fluid notification-avatar-round"
           src="{% if notification.program.user.avatar is not empty %}{{ notification.program.user.avatar }}
                          {% else %}{{ asset('images/default/avatar_default.png') }}{% endif %}"
           alt="">
    </a>
  </div>
{% endblock %}

{% block notification_body %}
  <div class="col-8 col-sm-8 pl-3 my-auto">
    {{ 'catro-notifications.program-upload.message' | trans
      (
      {
        '%user_link%': '<a href="'~path('profile', {'id': notification.program.user.id})~'">'~notification.program.user.username~'</a>',
        '%program_link%': '<a href="'~path('program', {'id': notification.program.id})~'">'~notification.program.name~'</a>'
      },
      'catroweb'
    )
    |raw }}
  </div>
{% endblock %}