@import "../../base/variables";
// Colors

$primary:                               #0B3E97;
$default-background-color:              #edf0ff;

// Footer
$footer-background-color:              $primary;
$footer-color:                         $white;