{#

  Wrapper template for a simple usage of material tabs.

  ===== Dependencies =====

    - Components/TabBar.js

  ===== Example usage =====

    {% include 'Components/TabBar.html.twig' with {
    'tabs': [
      {
        'id': 'id-1',
        'title': 'Tab A',
        'controls': 'section-a'
      },
      {
        'id': 'id-2',
        'title': 'Tab B',
        'controls': 'section-b'
      }
    ]
  }%}
#}

<div class="mdc-tab-bar" role="tablist">
  <div class="mdc-tab-scroller">
    <div class="mdc-tab-scroller__scroll-area">
      <div class="mdc-tab-scroller__scroll-content">

        {% for tab in tabs %}
          <button id="{{ tab.id }}" class="mdc-tab mdc-tab--active mdc-tab--stacked"
                  role="tab" aria-controls="{{ tab.controls }}" aria-selected="{{ loop.first }}">

            <span class="mdc-tab__content">
              <span class="mdc-tab__icon-text">{{ tab.title }}</span>
            </span>
              <span class="mdc-tab-indicator {% if loop.first %} mdc-tab-indicator--active {% endif %}">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>

          </button>
        {% endfor %}

      </div>
    </div>
  </div>
</div>