@import '../Components/MdcMenu';

ul {
  padding: 0;
}

.member__list-entry {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.member__list-entry__image {
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  height: 3rem;
  min-height: 3rem;
  max-height: 3rem;
  border-radius: 100%;
}

.member__list-entry__admin-buttons {
  display: flex;
  margin-left: auto;

  .mdc-list-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.member__list-entry__admin-buttons__text {
  text-transform: none;
}
