@use 'sass:math';
@import '../Layout/Variables';

.studio-detail__header {
  margin-top: -1.5rem;
  background-color: $gray-200;
}

.studio-detail__header__name {
  flex: 0 0 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.studio-detail__header__details,
.studio-detail__header__details__button,
.studio-detail__header__details__info {
  display: flex;
  align-items: center;
}

.studio-detail__header__details__info {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.mdc-tab-bar {
  width: 100%;
  background-color: $gray-200;

  .nav-tabs {
    width: 100%;
  }
}

.studio-detail__header__details__button--upload-image {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  background-color: rgb(255 255 255 / 75%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  z-index: 10;
}

.studio-detail__header__details__button--upload-image .material-icons {
  font-size: 24px;
  color: var(--primary);
}

.studio-detail__header__details__button--upload-image input[type='file'] {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
}

#studio-img-container {
  position: relative;
  width: 100%;
  max-height: 17rem;
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

#studio-img-container img {
  max-width: 100%;
  min-width: -webkit-fill-available;
  min-height: 10rem;
  height: auto;
  object-fit: cover;
}

.tab-text {
  font-size: 0.95em;
  letter-spacing: 0.02em;
}

.desc-show-less {
  max-height: 3rem;
  overflow: hidden;
}

#projects-list {
  margin: 0 0 0 3%;
}

.studio-project-thumbnail {
  width: 45px;
  margin-right: 3%;
  border-radius: 13%;
}

.studio-projects-container {
  position: static !important;
  width: 100% !important;
  height: auto !important;
  padding: 0 !important;
}

.studio-project-list-admin {
  grid-template-areas: 'image name remove' 'image property remove' !important;
}

.project-delete-button {
  float: right;
  cursor: pointer;
}

.studio-comment {
  display: flex;
  align-items: flex-start;
  padding: 2% 5% 0;
}

.comment-content {
  width: 100%;
  padding-left: 4%;
}

.comment-content > p {
  margin-bottom: 0.5rem !important;
}

.comment-avatar {
  width: 2.7rem;
  border: solid 1px var(--primary);
  border-radius: 50%;
}

#tab-content {
  width: 100%;
}

.comment-info {
  display: flex;
  margin-bottom: 2%;
  font-size: 0.8rem !important;
}

.comment-time {
  display: flex;
  align-items: center;
  padding: 0;
}

.comment-replies {
  display: flex;
  align-items: center;
  padding: 0;
  color: $black;
}

.comment-replies:hover {
  text-decoration: none;
  cursor: pointer;
}

.comment-hr {
  margin: 0;
}

.comment-info-icons {
  margin-right: 6px;
  font-size: 1.2rem !important;
}

#add-comment {
  position: sticky;
}

#add-reply {
  position: fixed;
  width: calc(100% - 250px);
}

.add-comment-section {
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2% 0;
  background-color: #eee;
}

#add-comment > input,
#add-reply > input {
  width: 77%;
  padding: 2% 0;
  margin-left: 3%;
  background-color: inherit;
  border-color: #adb5bd;
  border-width: 0 0 1px;
}

#add-comment > a,
#add-reply > a {
  width: 20%;
  font-size: x-large;
  font-variant: petite-caps;
  text-align: center;
}

#add-comment > a:hover,
#add-reply > a:hover {
  text-decoration: none;
}

.comment-delete-button {
  position: relative;
  float: right;
  cursor: pointer;
}

#comment-replies-body {
  padding-bottom: 20%;
}

.green-background {
  transition: transform 0.3s ease;
  box-shadow: 6px 6px 20px rgba(#c8c50a, 0.8);
  border-color: rgba(#0f0, 0.5);
  transform: scale(0.8);
}

.red-background {
  transition: transform 0.3s ease;
  box-shadow: 6px 6px 20px rgba(#e13e3e, 0.8);
  border-color: rgba(#f00, 0.5);
  transform: scale(0.8);
}

@media screen and (width >= 768px) {
  #add-reply {
    width: calc(100% - 250px);
  }
}
