@import '../../base/colors';
@import '../../base/elements';
@import '../../base/brain';
@import '../../base/footer';
@import '../../base/header';
@import '../../base/images';
@import '../../base/navbar';

@import 'theme_settings';

@import "../../base/variables";

// your color/variable changes here
//$primary:                               #442a66;
$theme-logo-create-at-school-color-primary:         #ee225a;
$theme-logo-create-at-school-color-secondary:       #aa154b;

@import "../../base/catro_bootstrap";

.title-color-left {
  color: $theme-logo-create-at-school-color-primary;
}

.title-color-right {
  color: $theme-logo-create-at-school-color-secondary;
}

#wrapper {
  padding-top: 9rem; // bigger navbar
}
