@import '../../base/colors';
@import '../../base/elements';
@import '../../base/brain';
@import '../../base/footer';
@import '../../base/header';
@import '../../base/images';
@import '../../base/navbar';

@import 'theme_settings';

@import "../../base/variables";

// your color/variable changes here
//$primary:                               #442a66;
$theme-logo-create-at-school-color-primary:         #ee225a;
$theme-logo-create-at-school-color-secondary:       #aa154b;

@import "../../base/catro_bootstrap";

#gamejam-submission {
  @include gradient($galaxy-button-background-color, $galaxy-button-background-color, $galaxy-button-background-color);
}

.bg-catrobat {
  background-color: custom-color(catrobat);
}
.text-catrobat {
  color: custom-color(catrobat);
}

.theme-logo-title {
  font-size: $theme-logo-font-size;
  font-weight: $theme-logo-font-weight;
}

.title-color-left {
  color: $theme-logo-create-at-school-color-primary;
}

.title-color-right {
  color: $theme-logo-create-at-school-color-secondary;
}
