{% extends 'CatrobatWebBundle::base.html.twig' %}

{% block body -%}
    <h1>FeaturedProgram creation</h1>

    <form action="{{ path('_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('programs_featured') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
