<!---  Logo --->
<a href="{{ path('index') }}">
    <div class="row justify-content-center">
        <div class="col-sm-12 mt-4" align="center">
            <img class="center-block img-responsive" id="logo"  src="{{ asset('images/logo/logo_icon.png') }}" alt="Pocket Code Logo"/>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-12" align="center">
            <p>
                {% if theme() == 'luna' %}
                    <span style="color:#8A78A8; font-size:40px; font-weight: 800;">POCKET</span>
                {% else %}
                    <span style="color:#17A6B7; font-size:40px; font-weight: 800;">POCKET</span>
                {% endif %}
                <span style="color:	#FF7701;font-size:40px; font-weight: 800;">CODE</span>
            </p>
        </div>
    </div>
</a>