<div class="col-xs-5">
  <hr/>
</div>
<div class="col-xs-2">
  <div class="pull-left" id="seperator-text">
    {{ 'login.or'|trans({}, 'catroweb') }}
  </div>
</div>
<div class="col-xs-5">
  <hr/>
</div>