<div class="modal fade" id="project-like-modal" tabindex="-1" role="dialog"
     aria-labelledby="project-like-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="project-like-modal-label">{{ "project.likes.likersTitle"|trans({}, 'catroweb') }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <ul class="nav nav-tabs" id="reaction-modal-tab" role="tablist">
          <li class="nav-item">
            <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-tab-content" href="#all-tab-content" role="tab"
               aria-controls="all-tab-content"
               aria-selected="true">{{ 'project.likes.all' | trans({}, 'catroweb') }}<span></span>
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="thumbs-up-tab" data-bs-toggle="tab" data-bs-target="#thumbs-up-tab-content" href="#thumbs-up-tab-content" role="tab"
               aria-controls="thumbs-up-tab-content" aria-selected="false">
              <i class="material-icons md-18 thumbs-up">thumb_up</i><span></span>
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="smile-tab" data-bs-toggle="tab" data-bs-target="#smile-tab-content" href="#smile-tab-content" role="tab"
               aria-controls="smile-tab-content" aria-selected="false">
              <i class="material-icons md-18 smile">sentiment_very_satisfied</i><span></span>
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="love-tab" data-bs-toggle="tab" data-bs-target="#love-tab-content" href="#love-tab-content" role="tab"
               aria-controls="love-tab-content" aria-selected="false"><i class="material-icons md-18 love">favorite</i><span></span>
            </button>
          </li>
          <li class="nav-item">
            <button class="nav-link" id="wow-tab" data-bs-toggle="tab" data-bs-target="#wow-tab-content" href="#wow-tab-content" role="tab"
               aria-controls="wow-tab-content" aria-selected="false"><img alt="Wow reaction" id="wow-reaction-modal" class="wow" src="{{ asset('images/default/wow_black.svg') }}">
              <span></span>
            </button>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="all-tab-content" role="tabpanel" aria-labelledby="all-tab"></div>
          <div class="tab-pane fade" id="thumbs-up-tab-content" role="tabpanel" aria-labelledby="thumbs-up-tab"></div>
          <div class="tab-pane fade" id="smile-tab-content" role="tabpanel" aria-labelledby="smile-tab"></div>
          <div class="tab-pane fade" id="love-tab-content" role="tabpanel" aria-labelledby="love-tab"></div>
          <div class="tab-pane fade" id="wow-tab-content" role="tabpanel" aria-labelledby="wow-tab"></div>
        </div>
      </div>
    </div>
  </div>
</div>