<div class="row">
  <div class="col">
    {% if app.user and my_project %}
      <div id="edit-text-navigation" class="d-none mb-5 full-screen">
        <ul id="navigation-language-list" class="translation-list">
        </ul>
        <i id="add-translation-button" class="add-translation-button material-icons catro-round-icon-button"
          data-bs-toggle="tooltip" title="{{ 'project.createTranslation'|trans({}, 'catroweb') }}">add</i>
      </div>
    {% endif %}
  </div>
</div>
