<div>
    <button id="app-sign" class="btn btn-outline-primary btn-block" style="display: none!important;" data-bs-toggle="modal" data-bs-target="#sign-app-modal">SIGN APP FOR APP STORE</button>
</div>
