<!-- Modal -->
<div class="modal fade modal-full" id="sign-app-modal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog full-modal-dialog" role="document">

        <div class="modal-content full-modal-content">

            <div class="modal-header modal-header-full mdc-top-app-bar__row">

                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button data-bs-dismiss="modal"
                            class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
                            aria-label="Back to top bar">
                        arrow_back
                    </button>
                    <span class="mdc-top-app-bar__title">Signed download</span>
                </section>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                    <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button">
                        done
                    </button>
                    <button id="sign-app-ellipsis"
                            class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
                            aria-label="Options"
                            onclick="showHelpButton()">
                        more_vert
                    </button>
                </section>
                <div id="sign-app-ellipsis-container"
                     class="mdc-menu mdc-menu-surface mdc-menu-surface--open sign-project-help"
                     tabindex="0">
                    <ul class="mdc-list list-unstyled"
                        role="menu"
                        aria-hidden="true">
                        <li class="btn top-app-bar-btn-options">
                            <a class="ellipsis-modal-btn" data-bs-toggle="modal" data-bs-target="#new-key-store-modal">
                                <span class="material-icons me-2">vpn_key</span>
                                <span class="top-app-bar__btn-options-text">{{ 'program.signApp.generate_key'|trans({}, "catroweb") }}</span>
                            </a>
                        </li>
                        <li id="sign-app-help-link"
                            class="btn top-app-bar-btn-options">
                            <a class="ellipsis-modal-btn" href="{{url('help')}}">
                                <span class="material-icons me-2">help</span>
                                <span class="top-app-bar__btn-options-text">{{ 'program.signApp.help'|trans({}, "catroweb") }}</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="modal-body">
                <form action="" method="post" class="form-horizontal sign-app-form">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input id="package_name" type="text" name="package_name"
                                   class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <label for="package_name">Package name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input id="app_name" type="text" name="app_name" class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <label for="app_name">App name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input id="version_code" type="text" name="version_code"
                                   class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <label for="version_code">Version code</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input id="version_name" type="text" name="version_name"
                                   class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <label for="version_name">Version name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input id="key_store_file_text" readonly type="text" name="key_store_file_text"
                                   class="form-control form-control-lg key-store-file-text"
                                   placeholder="" required="required">
                            <input id="key_store_file" type="file" name="key_store_file"
                                   class="form-control form-control-lg key-store-file"
                                   placeholder="" required="required">
                            <span id="key_store_icon"
                                  class="material-icons sign-form-icon mdc-icon-button">folder</span>
                            <label for="key_store_file" class="key-store-file-upload">Key store file</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input id="key_store_password" type="password" name="key_store_password"
                                   class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <span class="material-icons sign-form-icon mdc-icon-button mdc-icon-button"
                                  onclick="togglePwVisibility($(this))">visibility</span>
                            <label for="key_store_password">Key store password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input id="key_alias" type="text" name="key_alias" class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <label for="key_alias">Key alias</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <input id="key_password" type="password" name="key_password"
                                   class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <span class="material-icons sign-form-icon mdc-icon-button"
                                  onclick="togglePwVisibility($(this))">visibility</span>
                            <label for="key_password">Key password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <button id="btn-signing-key" class="btn btn-primary"><span id="submit-sign-app-form"
                                                                                       class="material-icons me-2">cloud_download</span>signingkey
                                (download)
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group show-ads-form col-lg-12">
                            <label id="show-add-label">Show advertisement in my app</label>
                            <div class="ads-toggle-container">
                                <label id="toggle_ads" class="toggle-control">
                                    <input id="show_ads_chk" name="show_ads" type="checkbox" checked="checked">
                                    <span class="control"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="ads_info" class="row">
                        <div class="form-group col-lg-12">
                            <input id="ad_app_id_" type="text" name="ad_app_id_" class="form-control form-control-lg"
                                   placeholder="" autocomplete="off" required="required">
                            <label for="ad_app_id_">AdMob app ID</label>
                        </div>
                        <div class="form-group col-lg-12">
                            <input id="ad_unit_id" type="text" name="ad_unit_id" class="form-control form-control-lg"
                                   placeholder="" required="required">
                            <label for="ad_unit_id">AdMob unit ID</label>
                        </div>
                    </div>
                     <input type="submit" name="submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'Project/new_key_store.html.twig' %}
