{% if isWebview() %}
  <a href="{{ project_details.downloadUrl }}">
{% endif %}

    <img alt="project thumbnail" id="project-thumbnail-big" src="{{ asset(project_details.screenshotBig) }}" {% if project.notForKids() %} class="blurred" {% endif %}/>

    {% if my_project %}
      <div class="position-relative">
        <div id="change-project-thumbnail-button" class="upload-project-image align-items-center justify-content-center d-flex">
            <span class="material-icons md-light">camera_alt</span>
        </div>
      </div>
      <div class="text-center">
        <i class="material-icons text-start d-none" id="upload-image-spinner">
          {% include 'Components/LoadingSpinner.html.twig' with {'spinner_id': 'upload-image-pb', 'size': 'small'} only %}</i>
      </div>
      <div class="d-none mt-2 error-message text-img-upload-success alert alert-success">
        {{ 'success.imgUpload'|trans({}, 'catroweb') }}
      </div>
    {% endif %}

{% if isWebview() %}
  </a>
{% endif %}
