# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# This workflow cancels previous runs of our workflow to prevent wasting valuable resources
#
name: Cancel Previous Workflow Runs
on:
  workflow_run:
    #    workflows: ["Dynamic analysis", "Docker Container tests", "Static analysis"]
    workflows: ['disabled']
    types:
      - requested
jobs:
  cancel:
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.12.1
        with:
          workflow_id: ${{ github.event.workflow.id }}
