# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# ** Deployment **
#
#  Test deployments are handled by a python script that run on a schedule: https://github.com/Catrobat/Catroweb-API
#  However, the deployment to production is handled by this workflow.
#
#  - Secrets required!
#
name: Deployment

# Run-on every merge of a pull request into the main branch
on:
  push:
    branches:
      - main

# The concurrency: production_environment is important as it prevents concurrent deploys.
concurrency: production_environment

jobs:
  # ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  # Deployment:
  #
  #  - An SSH connection is required (public key must be registered on server!)
  #  - Add all credentials hidden in secrets to the configuration files
  #  - The current script is build within the Symfony framework, hence, the container is used to run the script.
  #
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: 'Setup PHP and composer packages'
        uses: ./.github/actions/setup-php-composer

      - name: Set deployment script secrets (.env.local)
        run: |
          printf '\nDEPLOY_GIT=https://github.com/Catrobat/Catroweb-Symfony.git\n' >> .env.local
          printf 'SLACK_WEBHOOK=${{ secrets.SLACK_WEBHOOK }}\n' >> .env.local
          printf 'DEP_USER="Catroweb Github Action"\n' >> .env.local
          printf 'DEPLOY_SHARE=${{ secrets.DEPLOY_SHARE }}\n' >> .env.local
          printf 'DEPLOY_SHARE_BRANCH="main"\n' >> .env.local

      - name: Deploy Share
        uses: deployphp/action@v1
        with:
          private-key: ${{ secrets.DEPLOY_SHARE_SSH_KEY }}
          dep: deploy stage=share
          deployer-binary: 'bin/dep'
