{% if '/project/'       in app.request.pathinfo and project|default(false) and project.id|default(false) %}

<div class="mdc-menu-surface--anchor">
    {% include 'Layout/Header/OptionButton.html.twig' %}

    <div id="top-app-bar__options-container"
         class="mdc-menu mdc-menu-surface mdc-menu-surface--fixed mdc-menu-surface--open"
         tabindex="0">

        {% include 'Layout/Header/ProjectOptions.html.twig' %}

    </div>
</div>
{% elseif '/studio/' in app.request.pathinfo and studio|default(false) and studio.id|default(false) %}
    {% if user_role == 'admin' %}
        <button id="top-app-bar__btn-settings" data-bs-toggle="modal" data-bs-target="#studio-admin-settings-modal"
                class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
                aria-label="Search">
            settings
        </button>
        {% include 'Studio/Details/AdminSettings.html.twig' %}
    {% else %}
        {% include 'Layout/Header/OptionButton.html.twig' %}
        {% include 'Layout/Header/StudioOptions.html.twig' %}
    {% endif %}

{% elseif '/user/' in app.request.pathinfo and profile|default(false) and profile.id|default(false) %}
    <div class="mdc-menu-surface--anchor">
        {% include 'Layout/Header/OptionButton.html.twig' %}

        <div id="top-app-bar__options-container"
             class="mdc-menu mdc-menu-surface mdc-menu-surface--fixed mdc-menu-surface--open"
             tabindex="0">

            {% include 'Layout/Header/UserOptions.html.twig' %}

        </div>
    </div>
{% elseif app.request.pathinfo ends with '/user' %}
    <button id="top-app-bar__btn-settings" data-bs-toggle="modal" data-bs-target="#user-settings-modal"
            class="material-icons mdc-top-app-bar__action-item mdc-icon-button"
            aria-label="{{ 'myprofile.userSettings'|trans({}, 'catroweb') }}">
        settings
    </button>
{% endif %}



