<div class="mdc-touch-target-wrapper">
    <button id="top-app-bar__btn-options"
            class="material-icons mdc-top-app-bar__action-item mdc-icon-button mdc-icon-button--touch"
            aria-label="Options">
        <div class="mdc-icon-button__ripple"></div>
        more_vert
        <div class="mdc-icon-button__touch"></div>
    </button>
</div>
