{% if '/project/' in app.request.pathinfo and project|default(false) and project.id|default(false) %}

<ul class="mdc-deprecated-list mdc-deprecated-list--icon-list" role="menu" aria-hidden="true"
    aria-orientation="vertical" tabindex="-1">

    <li id="top-app-bar__btn-share"
        class="mdc-deprecated-list-item"
        role="menuitem"
        data-clipboard-text="{{ url('program', {id: project.id}) }}">
      <span class="mdc-deprecated-list-item__ripple"></span>
      <span class="mdc-deprecated-list-item__graphic material-icons">share</span>
      <span class="mdc-deprecated-list-item__text" id="top-app-bar__btn-share-text">{{ 'share.text'|trans({}, 'catroweb') }}</span>
    </li>

  {# TODO: Disable Report Project for now. Needs a separate flag in database - a new concept!
  {% if not my_project|default(false) %}
    <li id="top-app-bar__btn-report-project"
        class="mdc-deprecated-list-item"
        role="menuitem">
      <span class="mdc-deprecated-list-item__ripple"></span>
      <span class="mdc-deprecated-list-item__graphic material-icons">flag</span>
      <span class="mdc-deprecated-list-item__text">{{ "report"|trans({}, "catroweb") }}</span>
    </li>
  {% endif %}
  #}
  </ul>

{% endif %}
