{% if '/project/' in app.request.pathinfo and project|default(false) and project.id|default(false) %}

  <ul class="mdc-list list-unstyled"
      role="menu"
      aria-hidden="true">

    <li id="top-app-bar__btn-share"
        class="btn top-app-bar-btn-options mdc-list-item mdc-ripple-upgraded"
        role="menuitem"
        tabindex="0"
        data-clipboard-text="{{ url('program', {id: project.id}) }}">
      <span class="material-icons me-2">share</span><span id="top-app-bar__btn-share-text" class="top-app-bar-btn-options-text">
         {{ 'share.text'|trans({}, 'catroweb') }}
        </span>
    </li>


  {% if not my_project|default(false) %}
    <li id="top-app-bar__btn-report-project"
        class="btn top-app-bar-btn-options mdc-list-item mdc-ripple-upgraded"
        role="menuitem"
        tabindex="1">
      <span class="material-icons me-2">flag</span><span class="top-app-bar-btn-options-text">
        {{ "report"|trans({}, "catroweb") }}
      </span>
    </li>
  {% endif %}

  </ul>

{% endif %}
