{% if '/studio/' in app.request.pathinfo and studio|default(false) and studio.id|default(false) %}
<div id="top-app-bar__options-container"
     class="mdc-menu mdc-menu-surface mdc-menu-surface--fixed mdc-menu-surface--open"
     tabindex="0">
  <ul class="mdc-list list-unstyled"
      role="menu"
      aria-hidden="true">

    <li id="top-app-bar__btn-share"
        class="btn top-app-bar-btn-options mdc-list-item mdc-ripple-upgraded"
        role="menuitem"
        tabindex="0"
        data-clipboard-text="{{ url('studio_details', { id : studio.id }) }}">
      <span class="material-icons me-2">share</span><span id="top-app-bar__btn-share-text" class="top-app-bar-btn-options-text">
         {{ "share.text"|trans({}, "catroweb") }}
        </span>
    </li>
    <li id="top-app-bar__btn-report-studio"
        class="btn top-app-bar-btn-options mdc-list-item mdc-ripple-upgraded"
        role="menuitem"
        tabindex="1">
      <span class="material-icons me-2">flag</span><span class="top-app-bar-btn-options-text">
        {{ "report"|trans({}, "catroweb") }}
      </span>
    </li>

  </ul>
</div>

{% endif %}
