form{margin:20px auto}#reset_pw{margin-left:auto;margin-right:auto;display:block}#error_user_oauth{display:none}.hidden{width:0px;height:0px;background:transparent;border:none !important;display:none}
